.THIS {
}
.THIS .rq-descargable-title{
  font-family: Titillium-Rg;
  font-size:0.875em;
  color:token(TextColorGeneral);
  display:block;
  margin:0.5em 0;
}
.THIS .rq-button-descarga{
    display:inline-block;
    width:40px;
    height:40px;
    background:url("../resource/RQO_sr_QuimicaResources/images/icono-descargar.svg") no-repeat scroll center center;
	border:2px solid transparent;
}
.THIS .rq-button-descarga:hover,
.THIS .rq-button-descarga:focus{
    
    border:2px solid token(colorGeneral);
}
.THIS.item-descargable .rq-select-descarga
{
    display:inline-block;
    font-family: Titillium-Rg;
    font-size:0.875em;
    max-width:175px;
    height:40px;
    margin-right:0.75em;
    background:#fff url(../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png) no-repeat 95% center;
    color:token(TextColorGeneral);
    border: 1px solid #afa8a3;
    padding:0 1em;
}

.THIS.item-descargable .rq-select-descarga option{
    padding:0 1em;
}