.THIS {
    margin:1em 0;
}
.THIS .rq-table-facturacion{
    background: #fff;
    padding: .75em .75em 0;
}
.THIS .rq-table-facturacion thead{
    border-bottom: 3px solid #ff8200;
    padding: .75em 0;
    vertical-align: bottom;
}
.THIS .rq-table-facturacion th,
.THIS .rq-table-facturacion td{
    line-height:1;
    vertical-align:bottom;
}
.THIS .rq-table-facturacion th span{
    font-family: Titillium-Rg;
    font-weight: bold;
    font-size: .875em;
    color: #5c4e44;
    padding: .75em 0;
    display: block;
    margin: 0 10px;
}
.THIS .rq-table-facturacion tbody td:first-child{width:40%;}
.THIS .rq-table-facturacion tbody td:nth-child(2){width:60%;}
.THIS .rq-table-facturacion tbody td {
    font-family: Titillium-Rg;
    font-size: .875em;
    color: #5c4e44;
    padding:10px;
    line-height: 1.2;
    vertical-align: middle;
    text-align: left;
    border-bottom:1px solid #e0ded9;
}
.THIS .rq-table-facturacion tbody tr:last-child td{border:none;}
.THIS .rq-table-facturacion .rq-select .slds-select_container:before,
.THIS .rq-table-facturacion .rq-select .slds-select_container:after{display:none;}
.THIS .rq-table-facturacion .rq-select label{display:none;}

.THIS .rq-table-facturacion .rq-select select{

    padding: 0 1em;
    background: url("../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png") no-repeat 95% center;
    border-color: #afa8a3;
    height: 40px;
}