.THIS {
}

.THIS.rq-popup .slds-modal__header{
    text-align:left;
    border-radius:0;
    border-bottom:none;
    padding:1.5em 0 0.5em 2em;
}
.THIS.rq-popup .rq-title-popup
{
  font-family: Repsol-Rg;
  font-size: 1.625em;
  line-height: 1.08;
  color: token(colorGeneral);
  padding:0 1em;
  width:75%;
  display:inline-block;
  vertical-align:top;
}
.THIS .slds-icon-action-question-post-action{
    background-color:#AFA8A3;
    width:auto;
    line-height:1;
}
.THIS .slds-icon-action-question-post-action svg{
    width:15px;
    height:15px;
}
.THIS.rq-popup .rq-button-close
{
    position: absolute;
    right: 5%;
    padding: 1em;
    top: 20%;
    border:1px solid transparent;
    background:url('../resource/RQO_QuimicaResources/images/icon-cerrar.png') no-repeat center;
}

.THIS.rq-popup .rq-button-close:hover,
.THIS.rq-popup .rq-button-close:focus{
    border:1px solid #000;
}

.THIS.rq-popup .rq-wrapper-content
{
	border-top: 1px solid #e0ded9;
    border-bottom: 1px solid #e0ded9;
    padding: 1em 2em;
}

.THIS.rq-popup .rq-wrapper-content .rq-popup-label
{
 font-family: Titillium-Rg;
  font-size: 1.125em;
  line-height:1.1;
  color: #5c4e44;
  display:block;
  margin-bottom:1em;
}


.THIS.rq-popup .slds-modal__footer{
    border-radius:0;
    border-top:none;
    padding:1em 1.5em 1em;
    background:#fff;
}
.THIS.rq-popup .slds-modal__footer .rq-button-cancel{
 font-family: Titillium-Rg;
 font-size:0.875em;
 color:token(colorGeneral);
 text-decoration:underline;
 border:1px solid transparent;
 background:#fff;
 height:40px;
 margin-bottom: 2em;
 vertical-align: top;
}

.THIS.rq-popup .slds-modal__footer .rq-button-cancel:hover,
.THIS.rq-popup .slds-modal__footer .rq-button-cancel:focus
{
    background:#fff;
    border:1px solid token(colorGeneral);
}

.THIS.rq-popup .slds-modal__footer .rq-button-accept{
    background:token(colorGeneral);
    border-color:token(colorGeneral);
    color:#fff;
    font-family: Titillium-Rg;
 	font-size:0.875em;
    width:190px;
    height:40px;   
}

.THIS.rq-popup .slds-modal__footer .rq-button-accept:hover,
.THIS.rq-popup .slds-modal__footer .rq-button-accept:focus
{
    color:token(colorGeneral);
    background:#fff;
}

.THIS .rq-select select{
    width:auto;
}
.THIS .listado-permisos{
    margin:2em 0;
    font-family:Titillium-Rg;
    font-size:0.875em;
    
}
.THIS .listado-permisos li{
    padding-left:3em;
    margin:1.5em 1em;
}

.THIS .listado-permisos li.checked{
    background:url('../resource/RQO_QuimicaResources/images/icon-checked-plus.png') no-repeat left center;
    background-size: auto 25px;
}

/*:::::::::::::::::::::::::::*/
/*::: E S C R I T O R I O :::*/
@media only screen and (min-width:977px)
{
    
    .THIS.rq-popup .rq-wrapper-content
    {
        padding: 1em 5em;
    }
}