.THIS {
}

.THIS .bx-wrapper{
    margin-bottom:0;
}
.THIS li{
    margin:0;
}
.THIS .rq-titulo-bienvenida{
    font-size:2.25em;
    font-family:Repsol-Rg;
    color:#5c4e44
}
.THIS img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* Slideshow container */
.THIS.slider-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.THIS.slider-container .slide {
  
}

/* Next & previous buttons */
.THIS .prev,
.THIS .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #E0DED9;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.THIS .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.THIS .prev:hover, 
.THIS .next:hover {
 color:#AFA8A3;
 text-decoration:none;
}

/* Caption text */
.THIS .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.THIS .slide-controls{
    position:absolute;
    bottom:5px;
    right:0;
    left:0;
    text-align:center;
}
.THIS .bx-pager-link {
  cursor:pointer;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #fff;
  border:1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.THIS .active,
.THIS .bx-pager-link:hover {
  background-color: token(colorGeneral);
}

/* Fading animation */
.THIS .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}