.THIS {
    border-bottom:1px solid #e0ded9;
    padding-bottom:1em;
	margin-bottom:1em;
}


.THIS.cabecera{
    padding: .5em 0 0 2em;
    border-bottom: 3px solid #ff8200;
    font-family: Repsol-Rg;
    font-size: 1.625em;
    color: #ff8200;
    background: url('../resource/RQO_sr_QuimicaResources/images/icon-notificaciones-plus.png') no-repeat left center;
}