.THIS {
  box-shadow: 0 1px 2px 0 #e0ded9;
  border: solid 1px #e0ded9;
  margin-top:1em;
}
.THIS .cRQO_cmp_buscador_faqs{
      border-bottom: solid 1px #e0ded9;
}
.THIS .cRQO_cmp_formulario_faq
{
    border:none;
    box-shadow:none;
}

@media only screen and (min-width:768px)
{
  .THIS .rq-search-text {width: 89%;} 
  .THIS .rq-search-button {margin-left:2%;}  
}