.THIS {
    background:#fff;
    box-shadow: 0 1px 2px 0 #e0ded9;
  	border: solid 1px #e0ded9;
    position:relative;
    margin:1em 0;
}

.THIS .rq-none{
    display:none!important;
}
.THIS .rq-editable-name{
    display:inline-block;
    vertical-align:middle;
    width:100%;
    padding:0 0.5em;
}
.THIS .rq-custom-caption .rq-editable-name input.rq-input-title{
    border:1px solid #afa8a3;
    border-radius:4px;
}
.THIS .rq-custom-caption .rq-editable-name .rq-title-plantilla,
.THIS .rq-custom-caption .rq-editable-name .rq-input-title{
    color: #5c4e44;
    font-family:Titillium-Rg;
    font-size:1.125em;
    padding: .5em 0.5em 0.5em 2.5em;
    display:block;
    vertical-align:middle;
    background: url('../resource/RQO_sr_QuimicaResources/images/icon-plantillas-int.png') no-repeat 5px center;
    background-size:30px auto;
    border-bottom:1px solid #e0ded9;
    width:auto;
}
.THIS .rq-custom-caption .rq-editable-name a.rq-edit{
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-edit.png') no-repeat left center;
    padding-left:1.5em;
}
.THIS .rq-custom-caption .rq-editable-name a.rq-save{
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-save.png') no-repeat left center;
    padding-left:1.75em;
}
.THIS .rq-custom-caption a{
    color:#418080;
    font-family:Titillium-Rg;
    font-size:1em;
    text-decoration:underline;
    display:inline-block;
    vertical-align:middle;  
}
.THIS .rq-custom-caption .rq-second-line{
    display: inline-block;
    width: 25%;
    padding: 0.25em;
    margin: 0.25em;
    vertical-align: middle;
    position:relative;
    font-family:Titillium-Rg;
}
.THIS .rq-custom-caption .rq-second-line.last{
    width:40%;
    text-align:right;
}
.THIS .rq-custom-caption .wrapper-grado{position:relative;}
.THIS .rq-custom-caption .wrapper-grado .rq-tooltip-grado{
    position: absolute;
    width: 275px;
    background:#F7F9FA;
    box-shadow: -2px 1px 2px 0 #e0ded9;
  	border: solid 1px #e0ded9;
    left: 0;
    top: 30px;
    z-index: 100;
    padding: 1em;
    display:none;
}
.THIS .rq-custom-caption .wrapper-grado .rq-tooltip-grado:before,
.THIS .rq-custom-caption .wrapper-grado .rq-tooltip-grado:after{
    bottom: 100%;
    content: " ";
    height: 0;
    left: 15%;
    position: absolute;
    width: 0;
    border:medium solid transparent;
}
.THIS .rq-custom-caption .wrapper-grado .rq-tooltip-grado:before{
    border-color: rgba(102, 102, 102, 0) rgba(102, 102, 102, 0) #e0ded9;
    border-width: .5rem;
    margin-left: .5rem;
}
.THIS .rq-custom-caption .wrapper-grado .rq-tooltip-grado:after{
    border-bottom-color: #f8fafb;
    border-width: .4375rem;
    margin-left: .55rem;
}
.THIS .rq-custom-caption .rq-second-line.rq-grado:after{
    content: "";
    display: inline-block;
    width: 2px;
    height: 21px;
    position: absolute;
    top: 5px;
    right: 0;
    background: #e0ded9;
    
}

.THIS .rq-custom-caption .rq-second-line.rq-grado:first-letter{
   font-family:Titillium-Sb;
   font-size:1.125em;
}

.THIS button.rq-button{
    background: #fff;
    border: 1px solid token(colorGeneral);
    color: token(colorGeneral);
    font-size: 1em;
    font-family: Titillium-Rg;
    display: block;
    margin: 0.5em auto;
    padding: 0.25em 1em 0.25em;
    transition:0.8s ease all;
    
}
.THIS button.rq-button[disabled]{
    opacity:0.25;
}
.THIS button.rq-button:not([disabled]):hover,
.THIS button.rq-button:not([disabled]):focus{
    background:token(colorGeneral);
    color:#fff;
    transition:0.8s ease all;
}
.THIS .rq-btn-toogle{
    background:none;
	border: none;
    color: #6e6259;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 5px;
}
/*---- E S T I L O S   D E   L A   T A B L A --------*/
.THIS .wrapper-toggle
{
    display:none;
}
.THIS .wrapper-table
{
    padding:0.75em;
  	border-top:1px solid #e0ded9;
}
.THIS .wrapper-table thead
{
    display:none;
    font-family:Titillium-Bd;
    font-size:0.91em;
    
}
.THIS .wrapper-table thead span{
    padding-bottom:0.75em;
    display:block;
}
.THIS .wrapper-table tbody td
{
 	/*display:none;*/
    padding:0.5em;
    font-size: 0.875em;
    font-family: Titillium-Rg;
    vertical-align:middle;
}
.THIS .wrapper-table tbody tr{
    position:relative;
    display:block;
    background:#FCFBFB;
}
.THIS .wrapper-table tbody td:first-child{
	display:block;
    background:#fff;
}
 .THIS .wrapper-table tbody td:before {
    content: attr(data-content);
    font-weight: bold;
    display:block;
  }
.THIS .wrapper-table table tbody td:last-child{
    position:absolute;
    top:0;
    right:0;
    background:none;
}
.THIS .wrapper-table tbody td:nth-child(n+2) {
    display:block;
}
.THIS .wrapper-table tbody td.movil-hide{
    display:none;
}
.THIS .wrapper-table tbody td.rq-db{
    display:block!important;
}
.THIS .rq-controles-tabla{
    border-top:1px solid #e0ded9;
    background:#FCFBFB;
    text-align:center;
}
.THIS .rq-controles-tabla button{
    display:inline-block;
    width:45%;
    vertical-align:middle;
    padding:0.5em;
    margin:0 0.5em;
    text-align:center;
    position:relative;
    max-width:165px;
    border:none;
    background:none;
    color:#418080;
    font-family:Titillium-Rg;
    font-size:0.875em;    
}
.THIS .rq-controles-tabla button:hover,
.THIS .rq-controles-tabla button:focus{
       color:#418080;
       text-decoration:underline;  
}
.THIS .rq-controles-tabla button.rq-btn-edit{
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-edit.png') no-repeat 30% center;
    padding-left:2em;
}
.THIS .rq-controles-tabla button:first-child:after{
    content: '';
    width:1px;
    height:35px;
    background:#e0ded9;
    position: absolute;
    top:5px;
    right:0;
}
.THIS .rq-controles-tabla button.rq-btn-delete svg{
    width:18px;
    height:18px;
    vertical-align:text-bottom;

}

/*::::: E S T I L O S  T A B L E T  ::::::::*/
@media only screen and (min-width:736px){
    .THIS .wrapper-table tbody td.movil-hide{
        display:table-cell;
    }
    .THIS .rq-controles-tabla{
        background:none;
        text-align:right;
	}
    .THIS .wrapper-table tbody td{vertical-align:top;}
    .THIS .wrapper-table tbody td:nth-child(n+2) {
        display:inline-block;
        width:50%;
        vertical-align:top;
    }
    
    
}

/*::::: E S T I L O S   E S C R I T O R I O ::::::::*/
@media only screen and (min-width:1024px){
    
    
    .THIS .rq-custom-caption .rq-editable-name{width:auto;}
    .THIS .rq-custom-caption .rq-editable-name .rq-title-plantilla,
    .THIS .rq-custom-caption .rq-editable-name .rq-input-title{border:0;display:inline-block;margin-right:1em;width:430px;}
    .THIS .rq-custom-caption .rq-second-line{width:auto;padding:0.25em 1.5em;}
    .THIS .rq-custom-caption .rq-second-line.last{width:auto;}
    
    .THIS .wrapper-table thead {display:table-header-group;}
    .THIS .wrapper-table tbody{border-top:2px solid token(colorGeneral);}
    .THIS .wrapper-table tbody tr{background:#fff;display:table-row;}
    .THIS.rq-plantilla-item .wrapper-table thead th{vertical-align:bottom;}
    .THIS.rq-plantilla-item .wrapper-table thead th,
    .THIS.rq-plantilla-item .wrapper-table tbody td{display:table-cell;text-align:center;}
    .THIS .wrapper-table tbody td:nth-child(n+2){width:auto;}
    .THIS .wrapper-table tbody td:last-child{display:none;}
    .THIS .wrapper-table tbody td:before{display:none;}
    .THIS.rq-plantilla-item .wrapper-table table .rq-fecha{
          max-width: 90px;
          word-break: break-word;
          display: table-cell;
          white-space: unset;
          text-align: left;
    }
    .THIS .rq-custom-caption .rq-second-line.first:before{
            content: "";
            display: inline-block;
            width: 2px;
            height: 21px;
            position: absolute;
            top: 5px;
            left: 0;
            background: #e0ded9;
		}
   		 /*TAMAÑOS DE LA CELDAS*/
    	 .THIS .wrapper-table thead th:nth-child(1),.THIS .wrapper-table tbody td:nth-child(1){width:12%;}
         .THIS .wrapper-table thead th:nth-child(2),.THIS .wrapper-table tbody td:nth-child(2){width:10%;}
         .THIS .wrapper-table thead th:nth-child(3),.THIS .wrapper-table tbody td:nth-child(3){width:10%;}
         .THIS .wrapper-table thead th:nth-child(4),.THIS .wrapper-table tbody td:nth-child(4){width:10%;}
         .THIS .wrapper-table thead th:nth-child(5),.THIS .wrapper-table tbody td:nth-child(5){width:18%;}
   		 .THIS .wrapper-table.rq-visualizacion thead th:nth-child(5),.THIS .wrapper-table.rq-visualizacion tbody td:nth-child(5){width:20%;}
    	 .THIS .wrapper-table thead th:nth-child(5) span{margin:0 1em;}
    	 .THIS .wrapper-table thead th:nth-child(6),.THIS .wrapper-table tbody td:nth-child(6){width:8%;}
         .THIS .wrapper-table thead th:nth-child(7),.THIS .wrapper-table tbody td:nth-child(7){width:18%;}
         .THIS .wrapper-table.rq-visualizacion thead th:nth-child(7),.THIS .wrapper-table.rq-visualizacion tbody td:nth-child(7){width:20%;}
         .THIS .wrapper-table thead th:nth-child(8),.THIS .wrapper-table tbody td:nth-child(8){width:10%;}
    	 .THIS .wrapper-table thead th:nth-child(9),.THIS .wrapper-table tbody td:nth-child(9){width:5%;}
    	
}
/*::::: E S T I L O S  S U P E R -  E S C R I T O R I O ::::::::*/
@media only screen and (min-width:1200px){

	.THIS .rq-btn-toogle{top:20px;}
    .THIS button.rq-button{display:inline-block;}

}