.THIS {
    position:relative;
    padding-bottom:5em;
    background:#fff;
    border:1px solid #e0ded9;
    font-family:"Titillium-Rg";
    color:token(TextColorGeneral);
}
.THIS legend{
    margin: 0.5em 0;
    color:token(TextColorGeneral);
    font-weight:normal;
    line-height:1.22;
    font-size:1.125rem;
    display:block;
    width:100%;
}

.THIS #opinion li{
    margin:0.5em 0 0.5em 0.5em;
    position:relative;
}

.THIS #opinion li label{
    margin-left:0.75em;
}
.THIS .button{
    position:absolute;
    right:1.5em;
    bottom:1.5em;
    background:token(colorGeneral);
    color:#fff;
    padding:1em 2em;
    border: 1px solid #ff8200;
    border-radius:4px;
    transition:0.8s ease all;
}

.THIS .button:hover,
.THIS .button:focus{
    border-color:token(colorGeneral);
    background:#fff;
    color:token(colorGeneral);
    transition:0.8s ease all;
}

.THIS input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.THIS label{
  display: block;
  position: relative;
  padding: 0px 25px 0px 40px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}


.THIS .check{
  display: block;
  position: absolute;
  border: 1px solid #afa8a3;
  border-radius: 100%;
  height: 16px;
  width: 16px;
  top: 5px;
  left: 20px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

.THIS li:hover .check {
  border: 1px solid token(colorGeneral);
}

.THIS .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 8px;
  width: 8px;
  top: 3px;
  left: 3px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}


.THIS input[type=radio]:checked ~ .check::before{
  background: token(colorGeneral);
}