.THIS {
    padding:1em 0.5em;
}
.THIS .rq-search-text,
.THIS .rq-search-button{
    display:inline-block;
    vertical-align:top;
}

.THIS .rq-search-text{
    width:85%;
}
.THIS .rq-search-text input{
    height:40px;
    border-radius: 4px 0 0 4px;
    border-right: 0;
}
.THIS .rq-search-button button
{
    display:inline-block;
    width:38px;
    height:40px;
    background:token(colorGeneral) url('../resource/RQO_sr_QuimicaResources/images/icon-mas-b.png') no-repeat center;
    border:1px solid token(colorGeneral);
    border-radius:0 4px 4px 0;;
}

.THIS .rq-search-button button:hover,
.THIS .rq-search-button button:focus
{
    background:#fff url('../resource/RQO_sr_QuimicaResources/images/icon-mas.png') no-repeat center;
}

.THIS .rq-list-resultados{
    border: 1px solid #f5f4f2;
    border-top: none;
}

.THIS .rq-list-resultados li{
	margin: 0 1em;
    font-family: Titillium-Rg;
    font-size: 0.875em;
    text-align: left;
    padding: 0.5em 0;
    border-bottom: 1px solid #f5f4f2;
}
.THIS .rq-list-resultados li a{
    color:#418080;
}
.THIS .rq-list-resultados li a:hover,
.THIS .rq-list-resultados li a:focus{
	font-weight:bold;
}