.THIS {

}

.THIS .cabecera{
    padding:0.5em 0 0 0.5em;
    border-bottom:3px solid token(colorGeneral);
    font-family:Repsol-Rg;
    font-size:1.625em;
    color:token(colorGeneral);
}

.THIS .cabecera .rq-btn{
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-edit.png') no-repeat left center;
    border:none;
    color:#418080;
    font-family:Titillium-Rg;
    font-size:0.538em;
    text-decoration:underline;
    float:right;
    padding-left:2em;
    
}
.THIS .cabecera .rq-btn:hover,
.THIS .cabecera .rq-btn:focus{color:#418080;}

.THIS .cabecera .rq-edit{
      background:url('../resource/RQO_sr_QuimicaResources/images/icon-edit.png') no-repeat left center;
}
.THIS .cabecera .rq-save{
      background:url('../resource/RQO_sr_QuimicaResources/images/icon-save.png') no-repeat left center;
}
.THIS .slds-wrap{padding:1em;}

.THIS .slds-wrap > div{
    padding:0.5em 1em;
    font-size:0.875em;
}
.THIS .rq-text-intro{
    font-family:Titillium-Rg;
 	line-height:1.3;
    font-size:0.875em;
    padding:1em 0.5em;
    color:#5c4e44;
}
.THIS .rq-text-intro a{
    color:#418080;
    text-decoration:underline;
    margin-left:5px;
}
.THIS .slds-wrap .rq-label{
    display:block;
    font-family:Titillium-Sb;
    margin-top:1em;
    color:#333;
    font-size:1.125em;
}

.THIS .slds-wrap input{
    display:block;
    width:inherit;
}
.THIS .slds-wrap .rq-select{
  margin:0.5em 0;
}
.THIS .rq-select .slds-select_container:before,
.THIS .rq-select .slds-select_container:after
{display:none;}

.THIS .slds-wrap .rq-select select{
    width:auto;
    border-color:#afa8a3;
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png') no-repeat 95% center;
}
.THIS .slds-wrap .rq-select label{
    display:none;
}
.THIS .rq-list-consentimiento span
{
    font-family:Titillium-Rg;
    font-size:0.875em;
    padding:1em 0.5em;
    color:#5c4e44;
}
.THIS .rq-list-consentimiento li{
    padding:0 0 0 2em;
    margin:0 1em;
}
.THIS .rq-list-consentimiento li.checked{
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-checked-plus.png') no-repeat left center;
	background-size: auto 25px;
}
.THIS .rq-list-consentimiento li.unchecked{
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-close-plus.png') no-repeat left center;
	background-size: auto 25px;
}
/*:::::::::::::*/
/* T A B L E T */
/*:::::::::::::*/
@media only screen and (min-width:480px)
{
    .THIS .slds-wrap{padding:1em 3em;}
    
    .THIS .rq-text-intro{margin-left:3em;}
    
    .THIS .rq-list-consentimiento li{
        padding:0em 3em;
        margin:0 4em;
    }
}