.THIS {
}


.THIS button.rq-button{
    padding:0.25em 2em;
  	background:#fff;
    color:token(colorGeneral);
    border:1px solid token(colorGeneral);
    font-family:Titillium-Rg;
    font-size:0.875em;
    transition:0.8s ease all;
}


.THIS .rq-button-accept[disabled]{
 opacity:0.5;
 background:token(colorGeneral);
    color:#fff;
}
.THIS button.rq-button-volver,
.THIS .rq-button-catalogo{
    color:token(colorGeneral);
    border:0;
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-menu-volver-h.png') no-repeat left center;
    font-family:Titillium-Rg;
    padding-left:1em;
    font-size:0.875em;
    float:left;
    text-decoration:underline;
}
.THIS .rq-button-catalogo{
    margin:1em 0 1em 1em;
    float:none;
    font-size:1em;
    color:token(colorGeneral)!important;
    text-decoration:none;
}
.THIS .rq-button-catalogo:hover,
.THIS .rq-button-catalogo:focus{
    text-decoration:underline;
}
.THIS button.rq-button-volver:hover,
.THIS button.rq-button-volver:focus{
    font-family:Titillium-Sb;
    color:token(colorGeneral);
}
.THIS button.rq-button:hover,
.THIS button.rq-button:focus{
    background:token(colorGeneral);
    color:#fff;
    transition:0.8s ease all;
}

.THIS .cRQO_cmp_sin_resultados
{
    font-size: 18px;
    font-family: Titillium-Rg;
    border-bottom: 0;
    text-align: left;
    margin-top: 1em;
    padding: 2em 6em;
}

.THIS.slds-modal__footer{
    border-left: 1px solid #e0ded9;
    border-right: 1px solid #e0ded9;
    border-top: 0;
    padding-top:0;
}


.THIS.slds-modal__footer .content-footer{
    border-top:1px solid #e0ded9;
    padding-top:1em;
}

/*:::::::::::::::::::::::::::::::::::::*/
/*::::::::::: S P I N N E R :::::::::::*/
.THIS .slds-spinner_container
{
    position:fixed;
}

.THIS .slds-spinner_brand.slds-spinner:before,
.THIS .slds-spinner_brand.slds-spinner:after,
.THIS .slds-spinner_brand .slds-spinner__dot-a:before,
.THIS .slds-spinner_brand .slds-spinner__dot-b:before,
.THIS .slds-spinner_brand .slds-spinner__dot-a:after,
.THIS .slds-spinner_brand .slds-spinner__dot-b:after,
.THIS .slds-spinner--brand.slds-spinner:before,
.THIS .slds-spinner--brand.slds-spinner:after,
.THIS .slds-spinner--brand .slds-spinner__dot-a:before,
.THIS .slds-spinner--brand .slds-spinner__dot-b:before,
.THIS .slds-spinner--brand .slds-spinner__dot-a:after,
.THIS .slds-spinner--brand .slds-spinner__dot-b:after
{
    background-color:token(colorGeneral);
}