.THIS {
    background:#fff;
    box-shadow: 0 1px 2px 0 #e0ded9;
    border: solid 1px #e0ded9;
    padding:.75em;
    margin:1em 0;
}

.THIS .rq-cabecera-tabla .rq-title-tabla{
    font-size:1.625em;
    font-family:Repsol-Rg;
    color:token(colorGeneral);
    background:url('../resource/RQO_sr_QuimicaResources/images/icono-consumos.png') no-repeat left center;
    padding:0.5em 0 0.5em 2em;
    border-bottom: 1px solid #e0ded9;
    margin-bottom: 0.75em;
}
.THIS .rq-controles{
    text-align:center;
}
.THIS .rq-button{
     font-size:0.875em;
     font-family:Titillium-Sb;
     padding:0.5em 0 0.5em 2.5em;
     width:125px;
}
.THIS .rq-button:hover,
.THIS .rq-button:focus{
    text-decoration:underline;
}
.THIS .rq-button.rq-grafico,
.THIS .rq-button.rq-tabla{
    color:#041e42;
    border:2px solid #041e42;
    margin-left:15px;
}
.THIS .rq-button.rq-grafico{
    background:#fff url('../resource/RQO_sr_QuimicaResources/images/icon-grafico.png') no-repeat 10px center;
    background-size:21px auto;
}
.THIS .rq-button.rq-tabla{
      background:#fff url('../resource/RQO_sr_QuimicaResources/images/icono-tabla.png') no-repeat 10px center;
}
.THIS .rq-button.rq-grafico:hover,
.THIS .rq-button.rq-grafico:focus,
.THIS .rq-button.rq-tabla:hover,
.THIS .rq-button.rq-tabla:focus{
    color:#041e42;
 }
.THIS .rq-button.rq-excel{
    color:token(colorGeneral);
    border:2px solid token(colorGeneral);
    background:#fff url('../resource/RQO_sr_QuimicaResources/images/icon-excel.png') no-repeat 10px center;
}
.THIS .rq-button.rq-excel:hover,
.THIS .rq-button.rq-excel:focus{
    color:token(colorGeneral);
}
    
/*Paginacion*/
.THIS .rq-paginator {width:100%;margin-bottom:-40px;margin-right:-10px;float:right;}
.THIS .rq-btn-right, .THIS .rq-btn-left{display:inline-block;}
.THIS .rq-btn-right{float:right;}
.THIS .rq-btn-right button,
.THIS .rq-btn-left button{
    background:none;
    border:1px solid transparent;
    color:token(colorGeneral);
    padding:10px;
    margin-top:5px;
}
.THIS .rq-btn-right button:hover,.THIS .rq-btn-right button:focus,
.THIS .rq-btn-left button:hover,.THIS .rq-btn-left button:focus{
    border:1px solid token(colorGeneral);
}
/*----- estilos de la tabla -----*/

.THIS table{
    font-family:Titillium-Rg;
    font-size:0.875em;
}
.THIS tbody tr{
    border-bottom:1px solid #e0ded9;    
}

.THIS thead th span{
    font-family:Titillium-Sb;
    padding:0.75em;
    display:block;
    text-align:center;
}

.THIS tbody td span{
    font-family:Titillium-Rg;
    padding:0.75em;
    display:block;
    text-align:center;
}
.THIS .rq-foot span{
    font-family:Titillium-Rg;
    font-size:0.875em;
    padding-top:0.5em;
    display:block;
}
.THIS thead th,
.THIS tbody td{
    width:49%;
}
.THIS thead th:first-child span,
.THIS tbody td:first-child span{
    text-align:left;
}
.THIS table tr:first-child th:nth-child(n+3),
.THIS table tr:first-child + tr th:nth-child(n+4),
.THIS table td:nth-child(n+4){
    display:none;
}
.THIS table tr th:first-child,
.THIS table tr td:first-child{
    width:40%;
}

.THIS tbody{
    border-top:1px solid token(colorGeneral);
}

/*:::::: ESTILOS RESPONSIVE TABLET :::::::::*/
@media only screen and (min-width:736px)
{
     .THIS .rq-cabecera-tabla
    {
        border-bottom:1px solid #e0ded9;
        margin-bottom:1em;
    }
    .THIS .rq-cabecera-tabla .rq-title-tabla{
        display:inline-block;
        vertical-align:middle;
        border:none;
        margin:0;
    }
    .THIS .rq-controles{float:right;}
    .THIS thead th,
    .THIS tbody td{
        width:auto;
    }
    .THIS table tr th:nth-child(2):last-child span,
    .THIS table tr td:nth-child(2):last-child span{
        text-align:left;
         margin:0 20%;
    }
    .THIS table td{vertical-align:middle;}
    .THIS table tr:first-child th:nth-child(n+3),
    .THIS table tr:first-child + tr th:nth-child(n+4),
	.THIS table td:nth-child(n+4){display:table-cell;}
    
    .THIS table tr:first-child th:nth-child(n+4),
	.THIS table tr:first-child + tr th:nth-child(n+6),
	.THIS table td:nth-child(n+6){display:none;}
}


/*:::::: ESTILOS RESPONSIVE ESCRITORIO :::::::::*/
@media only screen and (min-width:1024px)
{
    .THIS .rq-cabecera-tabla{border-bottom:2px solid token(colorGeneral);}
    .THIS table tr:first-child th:nth-child(n+4),
	.THIS table tr:first-child + tr th:nth-child(n+6),
	.THIS table td:nth-child(n+6){display:table-cell;}
    
    .THIS table tr:first-child th:nth-child(n+5),
	.THIS table tr:first-child + tr th:nth-child(n+8),
	.THIS table td:nth-child(n+8){display:none;}
    
    .THIS table td,
    .THIS table th{width:auto;max-width:20%;}
    
    .THIS table td:first-child,
    .THIS table th:first-child{width:40%;max-width:unset;}
    /*Cuando solo queda un elemento en la tabla*/
    .THIS table td:last-child:nth-child(2) span,
    .THIS table th:last-child:nth-child(2) span{text-align:left;margin:0;}
    

}



/*:::::: ESTILOS RESPONSIVE SUPER-ESCRITORIO :::::::::*/
@media only screen and (min-width:1024px)
{
    .THIS table tr:first-child th:nth-child(n+5),
	.THIS table tr:first-child + tr th:nth-child(n+8),
	.THIS table td:nth-child(n+8){display:table-cell;}
}