.THIS {
    padding:2.5em 5em;
    background:#fff;
}
.THIS .rq-informacion{
  font-family: Titillium-Rg;
  font-size: 0.875em;
  color:token(TextColorGeneral);
  display:block;
  line-height: 1.57;
}

.THIS .rq-title{
  display:block;
  font-family: Titillium-Rg;
  font-weight:bold;
  font-size: 0.875em;
  color:token(colorGeneral);
  margin-bottom:1em;
}

.THIS .label,
.THIS label{
  font-family: Titillium-Rg;
  font-size: 0.875em;
  color:token(TextColorGeneral);
  display:block;
  margin:0.5em 0;
}