.THIS {
    background:#fff;
    padding:2em 1.5em;
    display:block;
}

/*:::::::::::::::::::::*/
/* ESTILOS ESCRITORIO */

@media all and (min-width:768px){
    
    .THIS .bloque-principal{
   		 padding-right:3em;
         display:inline-block;
         vertical-align:top;
	}
    
    
    .THIS .bloque-lateral{
        padding-left:1.5em;
        border-left:1px solid #e0ded9;
        display:inline-block;
	}
}