.THIS {
    text-align:center;
    padding:0 0.75em;
}
.THIS .rq-footer-item{
   font-size:0.875em;
   font-family:"Titillium-Sb",Arial,Helvetica,sans-serif;
   list-style:none;
}
.THIS .rq-footer-item a
{
    color:#041e42;
    border-bottom:1px solid #e0ded9;
    padding:1em 0;
    display:block;
}
.THIS .rq-footer-item:last-child{margin:0.75em 0;}
.THIS .rq-footer-item:last-child a{border:none;}
/*::::::::::::::::::::*/
/* ESTILOS RESPONSIVE - Escritorio */
@media only screen and (min-width: 767px)
  {
    .THIS{
        text-align:left;
        line-height:5;
    }
    
    .THIS .rq-footer-item{
        display:inline-block;
        margin:0.5em 1em;
        vertical-align:middle;
    }
    
     .THIS .rq-footer-item a{
        line-height:initial;
        border:none;
        padding:0;
    }

    .THIS .rq-footer-item:last-child{float:right;}
  }