.THIS {
    background:#fff;
    padding:1em 1em 2em;
    box-shadow: 0 1px 2px 0 #e0ded9;
 	border: solid 1px #e0ded9;
    margin-top:1em;
}

.THIS .rq-title{
  font-family: Repsol-Rg;
  font-size:1.625em;
  line-height: 1.08;
  color:token(colorGeneral);
  padding:0.5em 0 0.5em 2.5em;
  background:url('../resource/RQO_sr_QuimicaResources/images/icon-correct.png') no-repeat left center;
  border-bottom:1px solid #e0ded9;
}

.THIS .rq-body-confirmacion{
    font-family:Titillium-Rg;
    font-size:1.125em;
    line-height: 1.44;
  	text-align: left;
  	color: #5c4e44;
    padding:1em 4em;
}
.THIS .rq-button{
    background:#fff;
    border:1px solid token(colorGeneral);
    color:token(colorGeneral);
    padding:0.5em 2em;
    font-family:Titillium-Rg;
    font-size:0.875em;
    margin-left:5em;
    transition:0.8s ease all;
}
.THIS .rq-button:hover,
.THIS .rq-button:focus{
    color:#fff;
    background:token(colorGeneral);
    transition:0.8s ease all;
}

.THIS .CodSolicitud{
    font-family:Titillium-Sb;
    margin:0 5px;
}
.THIS .rq-body-confirmacion span:last-child{
    display:block;
}