.THIS {
    background:#fff;
    font-family:Titillium-Rg;
    color: #5c4e44;
    box-shadow: 0 1px 2px 0 #e0ded9;
  	border:1px solid #e0ded9;
    margin-bottom:1em;
    display:block;
    
}

.THIS .rq-pregunta{
    
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png') no-repeat 95% center;
    padding:1em 1.5em;
    display:block;
    font-size:1.125em;
    width:100%;
    text-align:left;
    border:none;
}
.THIS .rq-pregunta.visible
{
    background-image:url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-top-black.png');
}
.THIS .rq-respuesta{
    font-size:1em;   
    border-top:1px solid #e0ded9;
    border-left:3px solid token(colorGeneral);
	display:none;
    padding:1.5em;
    margin-top: 0;

}