.THIS {
    margin-bottom:1em;
}

.THIS .rq-uploaddoc{
  display:block;
  background-color: white;
  /*background-color: #718deb;*/
  border-radius: .25rem;
  border: 1px solid rgb(221, 219, 218);
  padding:15px; 
  width: 100%;
  height: auto;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.10);
}
.THIS .rq-uploaddoc-icon{
  display:inline;
  background-color: #718deb;
}

.THIS .rq-uploaddoc-header{
	padding: .75rem 0;
    margin:0 0 .75rem;
}


.THIS .rq-uploaddoc-tittle{
 	font-size: 1rem;
    line-height: 1.25;
    font-weight: bold;
}

.THIS .rq-uploaddoc-tittle:hover,
.THIS .rq-uploaddoc-tittle:focus{
    cursor:pointer;
}

.THIS .rq-upload-toggle{
    transition: opacity 4s ease-out;
    transition-timing-function: linear;
    height: 100%;
    overflow: hidden;
}
.THIS .rq-upload-toggle-hide{
    transition: opacity 3s ease-out;
    transition-timing-function: linear;
    opacity: 0; 
    height: 0;
    overflow: hidden;
}

.THIS .rq-upload-filter-data
{
    max-width:390px;
}

.THIS .rq-upload-filter-data .uiInput{
    margin:1em 0;
}
.THIS .wrapper-adjunt .slds-file-selector__dropzone
{
    border:none;
}
.THIS .wrapper-adjunt .slds-file-selector__text
{
    display:none;
}

.THIS .slds-icon-standard-document {
    background-color: #718DEB;
    margin-right:10px;
}

.THIS .wrapper-adjunt .rq-list-adjunt{
    margin-top:1em;
    margin-bottom:0.5em;
}

.THIS .rq-upload-buttons{
    margin-left:0.25em;
    margin-bottom:0.5em;
}

.THIS .wrapper-adjunt .rq-list-adjunt .rq-cancel-adjunt
{
    background:url('../resource/RQO_QuimicaResources/images/icon-cerrar.png') no-repeat center;
    padding:0.5em;
    margin-left:1em;
    border:1px solid transparent;
    vertical-align:super;
}
.THIS .wrapper-adjunt .rq-list-adjunt .rq-cancel-adjunt:hover,
.THIS .wrapper-adjunt .rq-list-adjunt .rq-cancel-adjunt:focus{
    border:1px solid #afa8a3;
}