.THIS {
    margin:0;
    padding:0.5m 0em;
  	font-size:0.875em;
    font-family:Titillium-Rg;
}

.THIS .rq-select{
    margin:0;
    max-width:175px;
}
.THIS .rq-select .slds-select_container:before,
.THIS .rq-select .slds-select_container:after
{
    display:none;
}
.THIS .rq-select select{
    border:1px solid #afa8a3;
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png') no-repeat 95% center;
}
 .THIS .slds-checkbox--faux{
    border-color:#afa8a3;
}
.THIS > span{
    margin:0.5em 0;
}
.THIS .rq-col
{
    padding:5px 0;
}
.THIS .rq-select label,
.THIS .slds-form-element__label{
    display:none;
    	font-size:0.875em;
    font-family:Titillium-Rg;
    color:#333;
}

.THIS .slds-checkbox{
    text-align:right;
}
.THIS .slds-checkbox [type=checkbox]:checked + .slds-checkbox__label > .slds-checkbox--faux:after
{
    border-bottom: 2px solid token(colorGeneral);
    border-left: 2px solid token(colorGeneral);
}
/*::::::::::::::::::::::::::::*/
/*:::: ESTILOS RESPONSIVE ::::*/

@media only screen and (min-width:736px)
{
    .THIS {padding:0.5em 4.5em;}
    .THIS .slds-form-element__label{display:inline;font-size:1em;}
    .THIS .slds-checkbox--faux{margin-right:10px;}
    .THIS .slds-checkbox{text-align:center;}
}