.THIS {
    padding:3em 2em;
    color:#5c4e44;
    font-family:Titillium-Lg;
    font-size:1.125em;
    text-align:center;
    background:#fff;
    box-shadow:0 1px 2px 0 #e0ded9;
    border:1px solid #e0ded9;
}

.THIS span{ 
    display:block;
}