.THIS {
    background:#fff;
    padding:1em;
    box-shadow: 0 1px 2px 0 #e0ded9;
    border: 1px solid #e0ded9;
}
.THIS .rq-title{
    font-family: Repsol-Rg;
    font-size: 1.625em;
 	color: token(colorGeneral);
    background: url(../resource/RQO_sr_QuimicaResources/images/icon-consumos-plus.png) no-repeat left center;
    padding: 0.25em 0 0.25em 2.5em;
    display: block;
    border-bottom: 2px solid #e0ded9;
}
.THIS .rq-txt{
    font-family:Titillium-Sb;
    font-size:0.875em;
    display:block;
    color:#5c4e44;
    margin:0.75em 0;
}
.THIS .canvas-container{
    margin:0.5em 0;
}
.THIS button.rq-link-all{
    background-color:none;
    border: none;
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-mas.png') no-repeat right center;
	color: token(colorGeneral);
    font-size: .875em;
    font-family: Titillium-Rg;
    padding:0 1em 0 0;
}

.THIS button.rq-link-all:hover,
.THIS button.rq-link-all:focus{
    text-decoration:underline;
    color: token(colorGeneral);
}