.THIS {
    background:#fff;
    padding:1em;
    box-shadow:0 1px 2px 0 #e0ded9;
 	border:1px solid #e0ded9;
    font-family:Titillium-Rg;
}

.THIS .rq-title{
  font-family: Repsol-Rg;
  font-size:1.625em;
  color: token(colorGeneral);
  padding:10px 0px 10px 60px;
  background: url('../resource/RQO_sr_QuimicaResources/images/icon-preguntas.png') no-repeat top left;
  display:block;
  margin:0.5em 0;
}
.THIS label{
    font-size:1em;
    margin-top:0.5em;
}
.THIS .rq-mensaje-title,
.THIS .rq-mensaje{
  font-family: Titillium-Rg;
  font-size: 0.875em;
  color: #5c4e44;
}

.THIS .uiInputCheckbox label,
.THIS .uiInputCheckbox input{
    display:inline-block;
    vertical-align:sub;
}
.THIS .rq-mensaje,
.THIS .rq-check-email{
    border:1px solid #afa8a3;
    border-radius:4px;
    margin-bottom:0.5em;
}

.THIS .rq-check-email{
    float:left;
	margin:0.125em 0.5em 0.125em 0;
    transition:ease all 0s;
    width:20px;
    height:20px;
}

.THIS input.rq-check-email:checked{
    background:#fff url('../resource/RQO_sr_QuimicaResources/images/icon-check.png') no-repeat center;
}
.THIS .rq-controls{
    text-align:right;
    margin:1em 0;
}
.THIS button.rq-button{
	background: token(colorGeneral);
    border: 1px solid token(colorGeneral);
    border-radius: 0.25rem;
    color: #fff;
    display: inline-block;
    font-family: "Titillium-Sb",Arial,Helvetica,sans-serif;
    font-size: 0.875rem;
    font-weight: normal;
    padding: 0.25em 2em;
    height:40px;
    transition:0.8s ease all;
}

.THIS button.rq-button:hover,
.THIS button.rq-button:focus{
    background:#fff;
    color:token(colorGeneral);
    transition:0.8s ease all;
}
.THIS .rq-custom-check{
    position:relative;
}
.THIS .rq-button-arco{
    background:token(colorGeneral);
    border-radius: 20px;
    display: block;
    padding: 10px;
    position: absolute;
    top: 5px;
    left:225px;
}
.THIS .rq-arco-toggle
{
    font-size:1em;
    font-family:Titillium-Rg;
}
.THIS .rq-tooltip
{
    background:#F7F9FA;
    font-size: 0.875em;
    padding:1em;
    box-shadow:0 1px 2px 0 #e0ded9;
    display:none;
}
.THIS .rq-close-tooltip{
    border:1px solid transparent;
    padding:0.5em;
    float:right;
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-cerrar.png') no-repeat center;
}
.THIS .rq-button-arco svg{ 
    fill: #fff;
    left: 20%;
    position: absolute;
    top: 15%;
    width: 65%;
}
.THIS .rq-recibir{
    margin-left:9px;
    margin-top:1em;
}
.THIS .slds-checkbox .slds-checkbox_faux, 
.THIS .slds-checkbox .slds-checkbox--faux
{
    border-color:#afa8a3;
}
.THIS .slds-checkbox [type="checkbox"]:checked + .slds-checkbox__label .slds-checkbox--faux::after{
    border-left:2px solid token(colorGeneral);
    border-bottom:2px solid token(colorGeneral);
}

.THIS .slds-textarea,
.THIS .slds-input{
    border-color:#afa8a3;
}

/*:::::::::::::::::::::::::::*/
/*-------- CAPTCHA ----------*/
.THIS .rq-captcha
{
    margin:2em 1em;
}