.THIS {
  	box-shadow: 0 1px 2px 0 rgba(0, 58, 92, 0.5);
    margin:0.5em 0.75em 1.5em;
}

.THIS .rq-banner-lateral-header
{
    background:#fff;
    padding:1em 1.5em;
    position:relative;
}

.THIS .rq-banner-lateral-header .rq-banner-title
{
  font-family: Repsol-Rg;
  font-size:1.625em;
  color: token(colorGeneral);
  display:inline-block;
  width:60%;
  line-height:1.1;
}

.THIS .rq-banner-lateral-header .rq-toggle
{
   position:absolute;
   right:5%;
   top:33%;
   border:1px solid transparent;
   border-radius:4px;
   background:none;
   line-height:1;
   color:token(colorGeneral);
   padding:0.5em;
}
.THIS .rq-banner-lateral-header .rq-toggle button{
    
}
.THIS .rq-banner-lateral-header .rq-toggle:hover,
.THIS .rq-banner-lateral-header .rq-toggle:focus
{
    color:token(colorGeneral);
    border-color:token(colorGeneral);
}
.THIS .rq-banner-lateral-cuerpo{
    display:none;
}
.THIS .rq-banner-lateral-cuerpo .seccion2
{
    background:#f8fafb;
    padding:0.5em 1.5em;
}
.THIS .rq-banner-lateral-cuerpo .rq-select label{
    display:none;
}
.THIS .rq-banner-lateral-cuerpo .rq-select select{
    border:none;
    border-bottom: 1px solid #e0ded9;
    border-radius: 0;
    height:40px;
    font-family:Titillium-Rg;
    background:#fff url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png') no-repeat 95% center;
}
.THIS .rq-banner-lateral-cuerpo .rq-select .slds-select_container:after,
.THIS .rq-banner-lateral-cuerpo .rq-select .slds-select_container:before
{
    display:none;
}