.THIS {
    margin-bottom:1em;
}

.THIS .rq-title-descargables{
  display:block;
  font-family: Titillium-Rg;
  font-weight:bold;
  font-size: 0.875em;
  color:token(colorGeneral);
  margin-bottom:1em;
}

.THIS .rq-title-descargables.rq-ficha-toggle:after{
    content:url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-bottom-nar.png');
    display:inline-block;
    margin-left: 0.5em;
    vertical-align: text-bottom;
    
}

.THIS .rq-title-descargables.rq-ficha-toggle.plegado:after{
        content:url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-top-nar.png');
}

.THIS .rq-descargables-toggle{
    display:none;
}
/*::::::::::::::::::::*/
/* ESTILOS ESCRITORIO */
@media only screen and (min-width: 767px)
{
    .THIS .rq-title-descargables.rq-ficha-toggle:after{
        content:' ';
        display:none;
    }
    .THIS .rq-descargables-toggle{
  	  display:block;
	}
}