.THIS.wrapper-content{
  box-shadow: 0 1px 2px 0 #e0ded9;
  border: solid 1px #e0ded9;
  background:#fff;
  padding:1em;
  margin-top:-1px;
}

.THIS.rq-wrapper-tab button{
	display: inline-block;
    background: #fff;
    width: 30%;
    min-height:90px;
    padding:0.75em 0.5em 0.75em 4em;
    line-height: 1.2;
    text-align: left;
    color:#afa8a3;
    font-family:Titillium-Rg;
    font-size:1.125em;
    margin-right:0.75em;
    border-radius:4px 4px 0 0;
    border:1px solid #e0ded9;
}

.THIS.rq-wrapper-tab button.activo{
    color:token(colorGeneral);
    font-family:Titillium-Sb;
    border-bottom:0;
}
.THIS.rq-wrapper-tab .rq-personal
{
    background:#fff url('../resource/RQO_sr_QuimicaResources/images/icon-user-plus.png') no-repeat 20px center;
}

.THIS.rq-wrapper-tab .rq-personal.activo
{
    background:#fff url('../resource/RQO_sr_QuimicaResources/images/icon-user-plus-nar.png') no-repeat 20px center;
}

.THIS.rq-wrapper-tab .rq-notificaciones
{
    background:#fff url('../resource/RQO_sr_QuimicaResources/images/icon-notificaciones-plus.png') no-repeat 20px center;
}

.THIS.rq-wrapper-tab .rq-notificaciones.activo
{
    background:#fff url('../resource/RQO_sr_QuimicaResources/images/icon-notificaciones-plus-nar.png') no-repeat 20px center;
}

.THIS.rq-wrapper-tab .rq-permisos
{
    background:#fff url('../resource/RQO_sr_QuimicaResources/images/icon-candado.png') no-repeat 20px center;
}

.THIS.rq-wrapper-tab .rq-permisos.activo
{
    background:#fff url('../resource/RQO_sr_QuimicaResources/images/icon-candado-nar.png') no-repeat 20px center;
}

.THIS select > option:hover,
.THIS select > option:focus{
    background-color:red!important;
}