.THIS {
    background:#fff;
    padding:1em;
    font-family:Titillium-Rg;
    color:#5c4e44;
    font-size:18px;
    border:1px solid #e0ded9;
    overflow:hidden;
}

.THIS .required{
    color:#d41b2e;
    margin:0 0.125em;
}
.THIS a{
    color:#418080;
    text-decoration:underline;
    margin:0 5px;
    text-transform:lowercase;
}
.THIS a:hover,
.THIS a:focus{
    font-weight:bold;
}

.THIS .rq-tooltip
{
    background:#F7F9FA;
    font-size: 0.875em;
    padding:1em;
    box-shadow:0 1px 2px 0 #e0ded9;
    display:none;
}

.THIS .rq-close-tooltip{
    border:1px solid transparent;
    padding:0.5em;
    float:right;
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-cerrar.png') no-repeat center;
}
.THIS .rq-label-form
{
    margin:1em 0 0.5em;
    display:block;
}

.THIS .rq-label-form.rq-label-check
{
    display:inline-block;
}

.THIS .rq-form-cuerpo
{
    max-width:550px;
    margin:0 auto;   
}
.THIS .rq-form-cuerpo label{
	font-size:0.875em;
}
.THIS .rq-form-cuerpo input,
.THIS .rq-form-cuerpo select{
	margin-bottom:1em;
    border-color:#afa8a3;
    border-radius:4px;
    height:40px;
}
.THIS .rq-form-cuerpo select{
    font-family: Titillium-Rg;
    font-size: 14px;
    color: #5c4e44;
    padding: 0 1em;
    padding-right: 1em;
    padding-right: 25px;
    background: url("../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png") no-repeat 95% center;
}
.THIS .rq-select .slds-select_container:before,
.THIS .rq-select .slds-select_container:after{display:none;}

.THIS .rq-form-cuerpo .slds-has-error input
{
    margin-bottom:0;
}
.THIS .rq-form-cuerpo .is-required .slds-form-element__help
{
    margin-bottom:1em;
}
.THIS .rq-form-controls{
    text-align:right;
    border-top:1px solid #e0ded9;
    padding-top:1em;
}

.THIS .rq-form-controls .rq-button{
  border-radius: 4px;
  background-color:token(colorGeneral);
  border:1px solid token(colorGeneral);
  width:100px;
  height:40px;
  font-size:0.875em;
  transition:0.8s ease all;
}

.THIS .rq-form-controls .rq-button:hover,
.THIS .rq-form-controls .rq-button:focus{
    color:token(colorGeneral);
    background:#fff;
    transition:0.8s ease all;
}

.THIS .rq-select{margin:0;}


.THIS textarea::-webkit-input-placeholder,
.THIS textarea::-moz-placeholder,
.THIS textarea:-ms-input-placeholder,
.THIS textarea::-webkit-input-placeholder {
    color: #afa8a3;
    font-size: 0.875em;
}

.THIS textarea
{
    border:1px solid #afa8a3;
    border-bottom:1px solid transparent;
    border-radius:4px 4px 0 0;
    display:block;
}
.THIS input.input:hover,
.THIS input.input:focus,
.THIS .rq-select select.select:hover,
.THIS .rq-select select.select:focus,
.THIS textarea.textarea:hover,
.THIS textarea.textarea:focus{
    border:1px solid #5c4e44;    
}



.THIS .wrapper-adjunt{
    background:#F5F5F3;
    border: 2px solid #afa8a3;
    border-radius: 0 0 4px 4px;
}

.THIS .wrapper-adjunt .rq-button-adjunt{
    font-size:0.875em;
    font-family:Titillium-Rg;
    color:#418080;
	padding:0;
    margin:1px 5px;
    text-decoration:underline;
    display:inline-block;

}
.THIS .wrapper-adjunt .rq-button-adjunt .slds-form-element__label
{
    display:none;
}
.THIS .wrapper-adjunt .rq-button-adjunt .slds-button
{
    font-family:Titillium-Rg;
    color:#418080;
    padding:1.25em 0.5em 1.25em 2.5em;
    background:#fff url('../resource/RQO_sr_QuimicaResources/images/icon-adjuntar.png') no-repeat 5% center;
}
.THIS .wrapper-adjunt .rq-button-adjunt .slds-button svg{
    display:none;
}

.THIS .wrapper-adjunt .rq-list-adjunt
{
    display: inline-block;
    vertical-align: middle;
    border-left:1px solid #418080;
    font-family:Titillium-Sb;
    font-size:0.75em;
}

.THIS .wrapper-adjunt .rq-list-adjunt .rq-cancel-adjunt
{
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-cerrar.png') no-repeat center;
    padding:0.5em;
    margin-left:1em;
    border:1px solid transparent;
    vertical-align:super;
}
.THIS .wrapper-adjunt .rq-list-adjunt .rq-cancel-adjunt:hover,
.THIS .wrapper-adjunt .rq-list-adjunt .rq-cancel-adjunt:focus{
    border:1px solid #afa8a3;
}

.THIS .rq-tam-minus{
    max-width:175px;
}
.THIS .rq-tam-medium{
    max-width:375px;
}
.THIS .rq-tam-plus{
    max-width:565px;
    vertical-align:bottom;
}

.THIS .rq-custom-check{
    position:relative;
}
.THIS .rq-custom-check .rq-prefijo{
    display:inline-block;
    width:30%;
    margin-right:10px;
    vertical-align:top;
}

.THIS .rq-custom-check .rq-telefono{
    display:inline-block;
    width:65%;
}
.THIS input.rq-check{
    float:left;
    clear:both;
	margin:1em 0.5em 0.5em 0;
    transition:ease all 0s;
    width:20px;
    height:20px;
}
.THIS .rq-recibir{
    margin-left:10px;
}
.THIS input.rq-check:checked{
    background:#fff url('../resource/RQO_sr_QuimicaResources/images/icon-check.png') no-repeat center;
}

.THIS .rq-button-arco{
    background:token(colorGeneral);
    border-radius: 20px;
    display: block;
    padding: 10px;
    border:none;
    position: absolute;
    top: 0;
   
}
.THIS .rq-button-arco.rq-arco-telefono{
     right: 35%;
}
.THIS .rq-button-arco.rq-arco-derechos{
    right:5%;
    top:5px;
}
.THIS .rq-button-arco svg{ 
    fill: #fff;
    left: 20%;
    position: absolute;
    top: 15%;
    width: 65%;
}
.THIS .slds-checkbox .slds-checkbox_faux, 
.THIS .slds-checkbox .slds-checkbox--faux{
    border-color:#afa8a3;
}
.THIS .slds-checkbox [type="checkbox"]:checked + .slds-checkbox_faux::after,
.THIS .slds-checkbox [type="checkbox"]:checked + .slds-checkbox--faux::after,
.THIS .slds-checkbox [type="checkbox"]:checked ~ .slds-checkbox_faux::after,
.THIS .slds-checkbox [type="checkbox"]:checked ~ .slds-checkbox--faux::after,
.THIS .slds-checkbox [type="checkbox"]:checked + .slds-checkbox__label .slds-checkbox_faux::after, 
.THIS .slds-checkbox [type="checkbox"]:checked + .slds-checkbox__label .slds-checkbox--faux::after {
	border-bottom:2px solid token(colorGeneral);
    border-left:2px solid token(colorGeneral);
}


/*:::::::::::::::::::::::::::::::::*/
/*-------- C A P T C H A -----------*/
.THIS .rc-anchor-alert{
    display:none!important;
}

/*:::::::::::::::::::::::::::*/
/* ESTILOS RESPONSIVE TABLET */
@media only screen and (min-width: 600px)
{
     .THIS .rq-button-arco.rq-arco-derechos{right:55%}
    .THIS .rq-button-arco.rq-arco-telefono{right:40%;}

}
@media only screen and (min-width: 767px)
{
   .THIS .rq-form-cuerpo,
   .THIS .rq-captcha{
       margin:1em 0 0 5em;
    }
}

/*:::::::::::::::::::::::::::*/
/*ESTILOS DE ESCRITORIO*/

@media only screen and (min-width: 1024px)
{
   .THIS .rq-tooltip-telefono{
        position: absolute;
        top: 0px;
        z-index: 100;
        left: 407px;
        width: 320px;
    }
    

}