.THIS {background:#f5f5f2;}

.THIS .siteforceContentArea{background:#f5f5f2;}

.THIS .wrapper{
    padding:0;
    max-width:1200px;
    position:relative;
    margin:1em auto;
}

.THIS .rq-header{background:#fff;}
.THIS .rq-footer{border-top:5px solid #fff;}