.THIS {
    background:#fff;
	padding:0.5em 0 1em;
    border-bottom:2px solid #e0ded9;
}

.THIS .rq-nombre-plantilla{
  font-family: Titillium-Rg;
  font-size:0.875em;
  color:token(TextColorGeneral);
  display:inline-block;
  vertical-align:bottom;
  max-width: 65%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.THIS .rq-button-link{
  font-family:Titillium-Rg;
  font-size:0.875em;
  color:#418080;
  background:none;
  border:none;
  padding:0;
  float:right;
}

.THIS .rq-button-link:hover,
.THIS .rq-button-link:focus{
    text-decoration:underline;
    font-weight:bold;
}