.THIS {
    display:block;
}

.THIS li
{
    display:inline-block;
    vertical-align:middle;
    margin:0 0 2em;
}

.THIS li a,
.THIS li span
{
    font-family:Titillium-Rg;
    text-decoration:underline;
    color:#5c4e44;
}
.THIS li a:hover,
.THIS li a:focus{
    color:token(colorGeneral);
}
.THIS li a:after,
.THIS li span:after{
    content:"/";
    display:inline-block;
    vertical-align:top;
    font-weight:normal;
    margin:0 5px;
}
.THIS li:last-child a,
.THIS li:last-child span
{
    font-weight:bold;
    text-decoration:none;
}

.THIS li:last-child a:after,
.THIS li:last-child span:after{
    content:"";
}