.THIS .rq-tooltip.toggle
{
    display:block!important;
}

.THIS .rq-button
{
    background:token(colorGeneral);
    border: 1px solid token(colorGeneral);
    border-radius: 0.25rem;
    color: #fff;
    display:block;
    font-family: "Titillium-Rg",Arial,Helvetica,sans-serif;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.47;
    padding: 0.5rem 1.25rem;
    position: relative;
    text-align: center;
    vertical-align: top;
    margin:0 auto;
}
.THIS .rq-button:active,
.THIS .rq-button:hover,
.THIS .rq-button:focus{
    background-color:#fff;
    color:token(colorGeneral);
}

.THIS .rq-button--download-white{
    border:2px solid transparent;
    background: url("../resource/RQO_QuimicaResources/images/icono-descargar.svg") no-repeat center;
}
.THIS .rq-button--info{
    border:2px solid transparent;
    background: url("../resource/RQO_QuimicaResources/images/group-7.svg") no-repeat center; 
}
.THIS .rq-button--info:hover,
.THIS .rq-button--info:focus,
.THIS .rq-button--download-white:hover,
.THIS .rq-button--download-white:focus{
    border:2px solid token(colorGeneral);
}

.THIS table.rq-table
{
    border: 1px solid #e0ded9;
    box-shadow: 0 1px 2px 0 #e0ded9;
    display: table;
    padding: 0 0.8125rem;
    background: #fff;
    line-height: 1.25rem;
    margin: 1.125rem 0;
    position: relative;
    width: 100%;
}

.THIS table caption{
 	background-image: linear-gradient(to right, #ff8200, #ffb81c);
    border-radius:4px 4px 0 0;
    color: #fff;
    display: table-caption;
    font-family: Titillium-Sb;
    font-size: 1.25em;
    padding: 1em;
    width: 100%;
}

.THIS .rq-table thead{
   border-bottom:3px solid token(colorGeneral);
}
.THIS .rq-table thead .rq-table-head{
    display:table-cell;
    box-sizing: border-box;
    color: #5c4e44;
    font-family: "Titillium-Bd",Arial,Helvetica,sans-serif;
    font-size: 0.875rem;
    padding: 0.75rem 0.625rem 0.375rem;
    vertical-align: bottom;
    white-space: normal;
    width: auto;
    text-align:center;
}

.THIS .rq-table .sortable-active{
    background:#f5f4f2;
    position:initial;
}

.THIS table .rq-table-cell
{
	color: #5c4e44;
    font-family: "Titillium-Rg",Arial,Helvetica,sans-serif;
    font-size: 0.875rem;
    padding: 0.5rem 0.625rem;
    position: relative;
    vertical-align: top;
    display:table-cell;
    text-align:right;
    line-height:3;
    
}
.THIS table .rq-table-cell a{
    color:#418080;
    text-decoration:underline;
}

.THIS table .rq-table-cell a:hover,
.THIS table .rq-table-cell a:focus{
    text-decoration:none;
}

.THIS table .rq-paginator{
    display: block;
    padding: 1.25rem 0;
    position: relative;
    text-align: center;
    width: 100%;
}

.THIS table .rq-paginator .rq-paginator-item
{
    background: #fff;
    border: 1px solid #e0ded9;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-left: 1.5em;
}
.THIS table .rq-paginator .rq-paginator-item.arrows{
    border-color:transparent;
}

.THIS table .rq-paginator .rq-paginator-item a
{
    color: #007e94;
    display: block;
    font-family: "Titillium-Rg",Arial,Helvetica,sans-serif;
    font-size: 0.875rem;
    padding: 0 0.425rem;
    position: relative;
    line-height:2;
    text-decoration: underline;
}
.THIS table .rq-paginator .rq-paginator-item .fa
{
    color: #007e94;
    font-size: 1.1875rem;
    font-weight: bolder;
}
.THIS table.rq-table .rq-tooltip
{
    text-align:left;
}

.THIS table.rq-table .rq-tooltip .rq-tooltip-text{
    display: block;
    line-height: 1.75;
    margin-bottom: 2em;
}

.THIS table.rq-table .rq-tooltip li{
    list-style:none;
    
}
.THIS table.rq-table .rq-tooltip li a:hover,
.THIS table.rq-table .rq-tooltip li a:focus{
    outline:1px solid #000;
}


.THIS table.rq-table .rq-tooltip li a img,
.THIS table.rq-table .rq-tooltip li a span{
    display:inline-block;
    vertical-align:middle;
    margin:0 1rem;
}
/*::::::::::::::::::::*/
/* ESTILOS RESPONSIVE */

@media only screen and (min-width: 767px)
{
    .THIS table.rq-table .responsive-cell{
        display:none;
    }
    
   .THIS table .rq-tooltip:before{
         border-color: rgba(102, 102, 102, 0) rgba(102, 102, 102, 0) #e0ded9;
        border-width: 0.5rem;
        margin-left: -0.5rem;
    }
}

@media only screen and (max-width: 766px)
{
   .THIS table thead,.THIS table tr
    {
        display:block;
        width:100%;
        position:relative;
    }
    .THIS table.rq-table thead th:first-child, .THIS table.rq-table thead th:first-child + th,
    .THIS table.rq-table tbody td:first-child, .THIS table.rq-table tbody td:first-child + td
    {
        width:45%;
        display:inline-block;
    }
    .THIS table.rq-table tbody td:last-child
    {
        position:absolute;
        top:0;
        right:0;
    }

    .THIS table.rq-table th
    {
        display:none;
    }
   
    .THIS table.rq-table th:nth-child(-n+2)
     {
        display:table-cell;
     }
        
        
  .THIS table.rq-table td.movil-display {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: left;
    width:100%;
    background:#fcfbfb;
  }
  .THIS table.rq-table td.movil-display:before {
    content: attr(data-content);
    font-weight: bold;
    text-transform: uppercase;
  }
  .THIS table.rq-table td.movil-display:last-child {
    border-bottom: 0;
  }

   .THIS table.rq-table td.movil-display .rq-tooltip
    {background: unset;
    border: medium none;
    box-shadow: none;
    display: block;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    }
  .THIS table.rq-table td.movil-display .rq-table-text
   {
       display:block;
       width:100%;
   }
}