.THIS {
    display:inline-block;
}
.THIS .rq-label{
    font-family:Titillium-Rg;
    font-size:0.875em;
    display:block;
	color:token(TextColorGeneral);
    margin-bottom:0.5em;
}
.THIS.rq-select .rq-select-filter{
  font-family: Titillium-Rg;
  font-size: 0.875em;
  color: #5c4e44;
  height:40px;
  padding:0 1em;
  background-image:url("../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png");
  background-position:95% center;
  background-size:unset;
}
.THIS .rq-select-filter option{padding:0 1em;}