.THIS {
}
.THIS .uiInputText{
    height:40px;
}
.THIS .rq-select {
    margin:0;
}
.THIS .rq-select .slds-select_container:before,
.THIS .rq-select .slds-select_container:after{
    display:none;
}
.THIS .rq-select label
{
    display:none;
}
.THIS .rq-select select{
    height:40px;
    border:1px solid #afa8a3;
    background: url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png') no-repeat 95% center;
	padding-right:2.5em;
}
.THIS .rq-select 
.THIS .rq-btn-delete-line{
    background:none;
    padding:0.5em;
    border:1px solid transparent;
    color:#418080;
    
}
.THIS .rq-delete-cell button{
    padding:0 0.5em;
}

.THIS .rq-delete-cell button.rq-btn-delete-line:hover,
.THIS .rq-delete-cell button.rq-btn-delete-line:focus{
    background:#fff;
    border-color:#afa8a3;
    color:token(colorGeneral);
}
.THIS .rq-controles-tabla .rq-btn-delete{
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-papelera.png') no-repeat left center;
}
.THIS button.rq-btn-delete-line svg,
.THIS button.rq-btn-save svg{
    width: 18px;
    height: 18px;
    vertical-align: text-bottom;
    margin:0;
}