.THIS {
    background:#F9F8F7;
    font-family: Titillium-Rg;
    font-size: 1em;
    padding:0.5em 1em;
}

.THIS thead th{
    font-family:Titillium-Sb;
}

.THIS th,
.THIS td{
    padding:0.5em;
}

.THIS tbody tr{
    position:relative;
    display:block;
}

.THIS tbody td:nth-child(1){
    background:#fff;
    border-bottom:1px solid #e0ded9;
    border-top:1px solid #e0ded9;
}

.THIS thead th{display:none;}
.THIS tbody td{display:block;}

.THIS tbody td:nth-child:before{
 	content: attr(data-content);
    font-weight: bold;
    display:inline-block;
    width:50%;
    margin-right:5px;
}
.THIS .rq-cantidad-padding{
	padding: 0 !important;
}

/*:::::::::::::::::::::::::*/
/*: ESTILOS DE ESCRITORIO :*/


@media only screen and (min-width:820px)
{

    .THIS tbody{
        border-top:2px solid token(colorGeneral);
	}
    .THIS tbody tr{
        display:table-row;
    }
    .THIS thead th,
    .THIS.wrapper-tabla-interior tbody td{
        display:table-cell;
        width:auto;
        background:none;
        border:none;
    }
    
    .THIS.wrapper-tabla-interior tbody td:before{
        display:none;
    }
}