<apex:page standardController="AM_Estacion_de_servicio__c" extensions="AM_Nuevo_RADAR_Controller">
     
    <apex:includeScript value="{! $Resource.SurveyForce_jquery}"/>
    
    <apex:includeScript value="{! $Resource.SurveyForce + '/surveyforce.js'}"/>
    <apex:stylesheet value="{! $Resource.SurveyForce + '/surveyforce.css'}"/>
    <apex:stylesheet value="{! $Resource.SurveyForce + '/surveyforce_pagemessage_override.css'}"/>
    <apex:stylesheet value="{! $Resource.SurveyForce_SLDS + '/assets/styles/salesforce-lightning-design-system-vf.min.css'}"/>
    
    <apex:messages />
    <div id="survey_container"  class="surveyforce">
        <apex:form id="theForm" >
            
        <apex:outputPanel rendered="{!!showAply}" style="padding-top: 15px;">    
            <br/>
            <apex:selectList styleclass="slds-select" value="{!selected}" size="1" style="Width:50%; ">
                <apex:selectOptions value="{!Radares}"/>
                
            </apex:selectList>
          <br/>
           <!-- <apex:commandButton styleclass="slds-button slds-button--brand" action="{!next}" value="Siguiente" /> -->
            <apex:commandButton styleclass="slds-button slds-button--brand" action="{!next}" value="Siguiente" />
         </apex:outputPanel>  
            <apex:outputPanel rendered="{!showAply}" > 
                      <div style="width:20%;" class="slds-col">
                        <h1>
                             ¿El radar se aplica a la ES?
                          </h1> <br/>
                   
                          
                         <apex:selectRadio value="{!opt}" >
                              <apex:selectOption itemValue="true" itemLabel="Si" />
                              <apex:selectOption itemValue="false" itemLabel="No" /> 
                         </apex:selectRadio>
                     <br/>
                          <apex:commandButton styleclass="slds-button slds-button--brand" action="{!noAplica}"  value="Siguiente"/>
                
                </div>
             </apex:outputPanel>     
            
        </apex:form>
        
        
    </div>     
</apex:page>