<apex:page renderAs="PDF" standardController="AM_Estacion_de_servicio__c" applyBodyTag="false" extensions="AM_CNT_Accion_Mejora_Table" showHeader="false" docType="html-5.0" >
    <head>
        <style>
            @page {
                size:landscape;
            }
        </style> 
    </head> 
    <apex:stylesheet value="{!URLFOR($Resource.AM_advancedpdfresource, 'accionesMejoraStyles.css')}"/>
    <label><apex:outputText value="{0,date,dd/MM/yyyy}"> <apex:param value="{!fechaImpresion}" /></apex:outputText> </label>
    <br/><br/>
    <div class="titulo">
        <h1> PLAN DE MEJORA </h1>
    </div>
    <div class="titulo">
        <h2> {!nombreES.AM_Nombre_ES__c} ( {!nombreES.Name} )</h2>
    </div>
    <br/>
    <script type="text/javascript">
        function printFunc(){
            window.print();
        }
    </script>
    <table >
        <tr>
            <td class="tituloItem1" align="left"><apex:outputLabel value="    " styleClass="valueItemTitle" /> </td>
            <td class="tituloItem1" align="left"><apex:outputLabel value="  Valoración Global  " styleClass="valueItemTitle" /> </td>
            <td class="tituloItem" align="left"><apex:outputLabel value="{!$ObjectType.AM_Estacion_de_servicio__c.fields.AM_NU_E3_actual_Limpieza__c.Label}" styleClass="valueItemTitle"/></td>
            <td class="tituloItem" align="left"><apex:outputLabel value="{!$ObjectType.AM_Estacion_de_servicio__c.fields.AM_NU_E3_actual_Operatividad__c.Label}" styleClass="valueItemTitle" /> </td>
            <td class="tituloItem" align="left"><apex:outputLabel value="{!$ObjectType.AM_Estacion_de_servicio__c.fields.AM_E3_actual_Accesibilidad_y_movilidad__c.Label}" styleClass="valueItemTitle" /></td>
            <td class="tituloItem" align="left"><apex:outputLabel value="{!$ObjectType.AM_Estacion_de_servicio__c.fields.AM_NU_E3_actual_Rapidez_y_eficiencia__c.Label}" styleClass="valueItemTitle" /></td>
            <td class="tituloItem" align="left"><apex:outputLabel value="{!$ObjectType.AM_Estacion_de_servicio__c.fields.AM_NU_E3_actual_Amabilidad__c.Label}" styleClass="valueItemTitle" /></td>    
            <td class="tituloItem" align="left"><apex:outputLabel value="{!$ObjectType.AM_Estacion_de_servicio__c.fields.AM_E3_actual_Fidelizacion_y_motivacion__c.Label}" styleClass="valueItemTitle" /></td>
            <td class="tituloItem" align="left"><apex:outputLabel value="{!$ObjectType.AM_Estacion_de_servicio__c.fields.AM_NU_E3_actual_Carteleria_y_promociones__c.Label}" styleClass="valueItemTitle" /></td>
            <td class="tituloItem" align="left"><apex:outputLabel value="{!$ObjectType.AM_Estacion_de_servicio__c.fields.AM_NU_E3_actual_Oferta_de_prod_y_serv__c.Label}" styleClass="valueItemTitle" /></td>          
        </tr>
        <tr>
            <td class="tituloItem1" styleclass="" align="right"><apex:outputText value="  Valor Actual  " styleClass="valueItemTitle"/></td>
            <td class="valorItem" align="right"><apex:outputText value="{!AM_Estacion_de_servicio__c.AM_Ultima_valoracion_global__c}"/></td>
            <td class="valorItem" align="right"><apex:outputText value="{!AM_Estacion_de_servicio__c.AM_NU_E3_actual_Limpieza__c }"/></td>
            <td class="valorItem" align="right"><apex:outputText value="{!AM_Estacion_de_servicio__c.AM_NU_E3_actual_Operatividad__c }"/></td>
            <td class="valorItem" align="right"><apex:outputText value="{!AM_Estacion_de_servicio__c.AM_E3_actual_Accesibilidad_y_movilidad__c}"/></td>
            <td class="valorItem" align="right"><apex:outputText value="{!AM_Estacion_de_servicio__c.AM_NU_E3_actual_Rapidez_y_eficiencia__c}"/></td>
            <td class="valorItem" align="right"><apex:outputText value="{!AM_Estacion_de_servicio__c.AM_NU_E3_actual_Amabilidad__c}"/></td>
            <td class="valorItem" align="right"><apex:outputText value="{!AM_Estacion_de_servicio__c.AM_E3_actual_Fidelizacion_y_motivacion__c}"/></td>
            <td class="valorItem" align="right"><apex:outputText value="{!AM_Estacion_de_servicio__c.AM_NU_E3_actual_Carteleria_y_promociones__c }"/></td>
            <td class="valorItem" align="right"><apex:outputText value="{!AM_Estacion_de_servicio__c.AM_NU_E3_actual_Oferta_de_prod_y_serv__c }"/></td>
        </tr>
        <tr>
            <td class="tituloItem1" align="right"><apex:outputText value="  Valor Anterior  " styleClass="valueItemTitle"/></td>
            <td class="valorItem" align="right"><apex:outputText value="{!AM_Estacion_de_servicio__c.AM_NU_Valoracion_Global_anterior1__c}"/></td>
            <td class="valorItem" align="right"><apex:outputText value="{!AM_Estacion_de_servicio__c.AM_NU_E3_anterior1_Limpieza__c}"/></td>
            <td class="valorItem" align="right"><apex:outputText value="{!AM_Estacion_de_servicio__c.AM_NU_E3_anterior1_Operatividad__c }"/></td>
            <td class="valorItem" align="right"><apex:outputText value="{!AM_Estacion_de_servicio__c.AM_NU_E3_anterior1_Accesibilidad_y_mov__c }"/></td>
            <td class="valorItem" align="right"><apex:outputText value="{!AM_Estacion_de_servicio__c.AM_NU_E3_anterior1_Rapidez_y_eficiencia__c}"/></td>
            <td class="valorItem" align="right"><apex:outputText value="{!AM_Estacion_de_servicio__c.AM_NU_E3_anterior1_Amabilidad__c}"/></td>
            <td class="valorItem" align="right"><apex:outputText value="{!AM_Estacion_de_servicio__c.AM_NU_E3_anterior1_Fideliza_y_motiv__c}"/></td>
            <td class="valorItem" align="right"><apex:outputText value="{!AM_Estacion_de_servicio__c.AM_NU_E3_anterior1_Carteleria_y_promo__c}"/></td>
            <td class="valorItem" align="right"><apex:outputText value="{!AM_Estacion_de_servicio__c.AM_NU_E3_anterior1_Oferta_prod_y_servi__c}"/></td>
        </tr>
    </table>
    <br/><br/>
    <table>
        <tr>
            <td class="tituloItem1" align="left"><apex:outputLabel value="{!$ObjectType.AM_Accion_de_mejora__c.fields.AM_Item__c.Label}" styleClass="valueItemTitle" /></td>
            <td class="tituloItem" align="left"><apex:outputLabel value="{!$ObjectType.AM_Accion_de_mejora__c.fields.AM_TX_Diagnostico__c.Label}" styleClass="valueItemTitle" /> </td>
            <td class="tituloItem" align="left"><apex:outputLabel value="{!$ObjectType.AM_Accion_de_mejora__c.fields.AM_Accion_Ellegida__c.Label}" styleClass="valueItemTitle" /></td>
            <td class="tituloItem" align="left"><apex:outputLabel value="{!$ObjectType.AM_Accion_de_mejora__c.fields.AM_Otros__c.Label}" styleClass="valueItemTitle" /></td>
            <td class="tituloItem" align="left"><apex:outputLabel value="{!$ObjectType.AM_Accion_de_mejora__c.fields.AM_SEL_Responsable__c.Label}" styleClass="valueItemTitle" /></td>
            <td class="tituloItem" align="left"><apex:outputLabel value="{!$ObjectType.AM_Accion_de_mejora__c.fields.AM_SEL_Estatus__c.Label}" styleClass="valueItemTitle" /></td>
            <td class="tituloItem" align="left"><apex:outputLabel value="{!$ObjectType.AM_Accion_de_mejora__c.fields.AM_Evidencia_de_estatus__c.Label}" styleClass="valueItemTitle" /></td>
            <td class="tituloItem" align="left"><apex:outputLabel value="{!$ObjectType.AM_Accion_de_mejora__c.fields.AM_SEL_Prioridad__c.Label}" styleClass="valueItemTitle" /></td>
            <td class="tituloItem" align="left"><apex:outputLabel value="{!$ObjectType.AM_Accion_de_mejora__c.fields.AM_SEL_Seguimiento__c.Label}" styleClass="valueItemTitle" /></td>
            <td class="tituloItem" align="left"><apex:outputLabel value="{!$ObjectType.AM_Accion_de_mejora__c.fields.AM_DT_Fecha_inicio__c.Label}" styleClass="valueItemTitle" /></td>
            <td class="tituloItem" align="left"><apex:outputLabel value="{!$ObjectType.AM_Accion_de_mejora__c.fields.AM_DT_Fecha_fin_prevista__c.Label}" styleClass="valueItemTitle" /></td>
            <td class="tituloItem" align="left"><apex:outputLabel value="{!$ObjectType.AM_Accion_de_mejora__c.fields.AM_TX_Observaciones__c.Label}" styleClass="valueItemTitle" /></td>                 
        </tr>
       
        <apex:repeat value="{!AccionesMejora}" var="am">    
        <tr>
            <td class="amRow1" align="right"><apex:outputText value="{!am.AM_Item__c}"/></td>
            <td class="amRow"  align="left"><apex:outputText value="{!am.AM_TX_Diagnostico__c}"/></td>
            <td class="amRow" align="left"><apex:outputText value="{!am.AM_Accion_Ellegida__c}"/></td>
            <td class="amRow" align="right"><apex:outputText value="{!am.AM_Otros__c}"/></td>
            <td class="amRow" align="right"><apex:outputText value="{!am.AM_SEL_Responsable__c}"/></td>
            <td class="amRow" align="right"><apex:outputText value="{!am.AM_SEL_Estatus__c}"/></td>
            <td class="amRow" align="right"><apex:outputText value="{!am.AM_Evidencia_de_estatus__c}"/></td>
            <td class="amRow" align="right"><apex:outputText value="{!am.AM_SEL_Prioridad__c}"/></td>
            <td class="amRow" align="right"><apex:outputText value="{!am.AM_SEL_Seguimiento__c}"/></td>
            <td class="amRow" align="right"><apex:outputText value="{0,date,dd/MM/yyyy}"> <apex:param value="{!am.AM_DT_Fecha_inicio__c}" /> </apex:outputText></td>
            <td class="amRow" align="right"><apex:outputText value="{0,date,dd/MM/yyyy}"> <apex:param value="{!am.AM_DT_Fecha_fin_prevista__c}" /></apex:outputText></td>
            <td class="amRow" align="right"><apex:outputText value="{!am.AM_TX_Observaciones__c}"/></td>
        </tr>
    
       </apex:repeat> 

    </table>
</apex:page>