<apex:page standardController="ITPM_Opportunity__c" extensions="ITPM_ListasVistaExtension">    
    <h1 style="font-size: 20px; color: orange; text-decoration: underline;">{!LEFT(ITPM_Opportunity__c.ITPM_TX_Opportunity_Name__c,80)}</h1><br/><br/>
    <c:ITPM_chevronsGraph labels="['Idea','Opportunity','PdV/Concept','Draft','Project Execution','Hand Over','Project Closure','Value Measurement']" 
    selected="Opportunity" width="120" height="40" arrow="24" /> 
    <br/><br/>    
    <label style="color: black; font-size: 15px;">{!PdvConcepts}</label><br/>  
    <label style="color: black; font-size: 15px;">{!Proj_PV}</label>   
</apex:page>