<apex:page standardController="Reporte__c" extensions="PT_controller_cuadroMando" >
    
     <style> 
         .ct{text-align:right;}       
         .headerStyle{text-align:center; font-size:11px; background: #FFA500; border-radius: 0.25em; color: white; margin: 0 0 1em; padding: 0.5em 0; }  
    </style>
    
    <apex:form id="formInforme">
      
        <apex:pageBlock id="TablaInforme" >
        
        <apex:pageMessages id="showmsg"></apex:pageMessages>
                
            <table style="border-color: transparent" width="100%">
            <tr>             
                <td style="font-size: 13px;background: #FFFFFF; border-radius: 0.25em; color:#FFA500; margin: 0 0 1em; padding: 0.5em 0;">                 
                    <b>&nbsp;{!$Label.etiqueta_titulo_pagina_cuadro_mando_operatividad}</b>
                </td>
            </tr>
        </table>   
                 
            <apex:outputpanel style="overflow:scroll;height:420px;" layout="block">
 
                <table border="1" style="width: 45%;border-collapse: collapse;CELLSPACING=0;CELLPADDING=0" >
             
                    <tr>
                       <apex:repeat value="{!CMO_CabTotalProgramas}" var="cab">
                           <th style="width: 35%">
                               <div class="item-tabla" style ="text-align: center;background: #FFA500"><apex:outputText value="{!cab}"/></div>
                           </th>
                       </apex:repeat> 
            
                    </tr> 
                </table>
       
                <br/> <br/>   
                
              <table border="1" style="width: 50%;border-collapse: collapse;CELLSPACING=0;CELLPADDING=0" >
               <tr>
                       <apex:repeat value="{!CMO_CabFichasNoCompletas}" var="cab">
                           <th style="width: 35%">
                               <div class="item-tabla" style ="text-align: center;background: #FFA500"><apex:outputText value="{!cab}"/></div>
                           </th>
                       </apex:repeat> 
              </tr> 
              
               <apex:repeat value="{!CMO_ListaNoCompletas}" var="s" > 
                   <tr >      
                       <apex:repeat value="{!s}" var="c">
                           <td align="center"  style="width: 45%; background-color: white;  text-align: center;">
                               <div class="item-tabla" style ="background-color: white;  text-align: center;"><apex:outputText value="{!c}"/></div>
                           </td>
                       </apex:repeat>     
                   </tr>                               
               </apex:repeat>
            
           </table>
        <br/> <br/>   
    
            <table border="1" style="width: 50%;border-collapse: collapse;CELLSPACING=0;CELLPADDING=0" >
               <tr>
                  
                   <apex:repeat value="{!CMO_CabProgramasAprobados}" var="cab">
                           <th style="width: 35%">
                               <div class="item-tabla" style="text-align: center;background: #FFA500"><apex:outputText value="{!cab}"/></div>
                           </th>
                       </apex:repeat> 
              </tr> 
              
               <apex:repeat value="{!CMO_ListaAprobados}" var="s" > 
                   <tr >      
                       <apex:repeat value="{!s}" var="c">
                           <td align="center"  style ="width: 45%; background-color: white;  text-align: center;">
                              <apex:outputText value="{!c}"/>
                           </td>
                       </apex:repeat>     
                   </tr>                               
               </apex:repeat>
            
           </table>

             <br/> <br/>   
    
            <table border="1" style="width: 50%;border-collapse: collapse;CELLSPACING=0;CELLPADDING=0" >
               <tr>
                  
                   <apex:repeat value="{!CMO_CabProgramasDesestimados}" var="cab">
                           <th style="width: 35%">
                               <div class="item-tabla" style ="text-align: center;background: #FFA500"><apex:outputText value="{!cab}"/></div>
                           </th>
                       </apex:repeat> 
              </tr> 
              
               <apex:repeat value="{!CMO_ListaDesestimados}" var="s" > 
                   <tr >      
                       <apex:repeat value="{!s}" var="c">
                           <td align="center"  style ="width: 45%; background-color: white;  text-align: center;">
                               <div class="item-tabla" style ="background-color: white;  text-align: center;"><apex:outputText value="{!c}"/></div>
                           </td>
                       </apex:repeat>     
                   </tr>                               
               </apex:repeat>
            
           </table>
            
             <br/> <br/> 
            
             <table border="1" style="width: 50%;border-collapse: collapse;CELLSPACING=0;CELLPADDING=0" >
               <tr>
                  
                   <apex:repeat value="{!CMO_CabProgramasEjecutados}" var="cab">
                           <th style="width: 35%">
                               <div class="item-tabla" style ="text-align: center;background: #FFA500"><apex:outputText value="{!cab}"/></div>
                           </th>
                       </apex:repeat> 
              </tr> 
              
               <apex:repeat value="{!CMO_ListaEjecutados}" var="s" > 
                   <tr >      
                       <apex:repeat value="{!s}" var="c">
                           <td align="center"  style ="width: 45%; background-color: white;  text-align: center;">
                               <div class="item-tabla" style ="background-color: white;  text-align: center;"><apex:outputText value="{!c}"/></div>
                           </td>
                       </apex:repeat>     
                   </tr>                               
               </apex:repeat>
            
           </table>    
     
            </apex:outputpanel>
                
            <apex:commandButton action="{!exportarExcelCuadroMandoOperatividad}" title="{!$Label.etiqueta_tooltip_boton_excel}"  value="{!$Label.etiqueta_boton_excel}"/>

        </apex:pageBlock>
     
    </apex:form>   

</apex:page>