<apex:page standardController="Reporte__c" extensions="PT_controller_informes" standardStylesheets="true" readOnly="true" contentType="charset=utf-8; application/vnd.ms-excel#{!$Label.etiqueta_nombre_excel_informeCalendario}_{!areaDeUsuarioEnSesion}_{!reporteEjecutado.mes__c}_{!reporteEjecutado.anio__c}.xls">
 
     <style> 
         .ct{text-align:right;}       
         .headerStyle{text-align:center; font-size:11px; background: #FFA500; border-radius: 0.25em; color: white; margin: 0 0 1em; padding: 0.5em 0; }  
    </style>
    
    <apex:form id="formInforme">
        
        <apex:pageBlock id="TablaInforme">
        
        <apex:pageMessages id="showmsg"></apex:pageMessages>
                
            <table style="border-color: transparent" width="100%">
            <tr>             
                <td style="font-size: 13px;background: #FFFFFF; border-radius: 0.25em; color:#FFA500; margin: 0 0 1em; padding: 0.5em 0;">                 
                    <b>{!$Label.etiqueta_titulo_pagina_calendario_patrocinios} {!areaDeUsuarioEnSesion}</b>      
                </td>
            </tr>
        </table>   

        <apex:outputpanel style="overflow:scroll;height:450px;" layout="block">
                              
            <apex:dataTable width="100%" value="{!lstPatrocinios}" var="p" headerClass="headerStyle">
                                       
                <apex:column headerValue="{!$ObjectType.Patrocinios__c.fields.formula_estado__c.label}" width="12%" style="border: solid; border-width: 1px; text-align:center;" >
                    <apex:outputField value="{!p.formula_estado__c}" />
                </apex:column>     
                                                   
                <apex:column headerValue="{!$ObjectType.Patrocinios__c.fields.Nombre__c.label}" width="18%" style="border: solid; border-width: 1px;  text-align:left;">                                   
                    <apex:outputField title="{!$ObjectType.Patrocinios__c.fields.Contrato_firmado__c.label}: {!p.Fecha_de_inicio__c} - {!p.Fecha_de_fin__c} " value="{!p.Nombre__c}"  />                       
                </apex:column>   
                       
                <apex:column width="2%" headerValue="1" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,01) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,01) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column>                        
                       
                <apex:column width="2%" headerValue="2" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,02) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,02) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column>    
                     
                <apex:column width="2%" headerValue="3" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,03) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,03) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column> 
                                 
                <apex:column width="2%" headerValue="4" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,04) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,04) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column>                        
                    
                <apex:column width="2%" headerValue="5" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,05) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,05) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column>    
                    
                <apex:column width="2%" headerValue="6" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,06) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,06) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column>
                    
                <apex:column width="2%" headerValue="7" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,07) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,07) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column>                        
                       
                <apex:column width="2%" headerValue="8" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,08) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,08) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column>    
                    
                <apex:column width="2%" headerValue="9" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,09) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,09) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column> 
                       
                <apex:column width="2%" headerValue="10" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,10) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,10) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column>                        
                       
                <apex:column width="2%" headerValue="11" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,11) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,11) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column>    
                   
                <apex:column width="2%" headerValue="12" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,12) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,12) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column> 
                  
                <apex:column width="2%" headerValue="13" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,13) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,13) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column>                        
                    
                <apex:column width="2%" headerValue="14" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,14) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,14) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column>    
                   
                <apex:column width="2%" headerValue="15" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,15) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,15) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column>
                  
                <apex:column width="2%" headerValue="16" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,16) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,16) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column>                        
                   
                <apex:column width="2%" headerValue="17" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,17) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,17) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column>    
                
                <apex:column width="2%" headerValue="18" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,18) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,18) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column>                      
            
                <apex:column width="2%" headerValue="19" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,19) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,19) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column>  

                <apex:column width="2%" headerValue="20" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,20) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,20) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column>  
                
                <apex:column width="2%" headerValue="21" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,21) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,21) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column>  
                
                <apex:column width="2%" headerValue="22" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,22) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,22) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column>  
                 
                <apex:column width="2%" headerValue="23" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,23) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,23) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column>  
              
                <apex:column width="2%" headerValue="24" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,24) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,24) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column>  
               
                <apex:column width="2%" headerValue="25" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,25) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,25) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column>  
                    
                <apex:column width="2%" headerValue="26" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,26) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,26) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column>  
                
                <apex:column width="2%" headerValue="27" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,27) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,27) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column>  
                
                <apex:column width="2%" headerValue="28" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,28) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,28) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )} ">                                                                      
                </apex:column>  
                 
                <apex:column width="2%" headerValue="29" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,29) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,29) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )}  " rendered="{!mostrarColumna29}">                                           
                </apex:column>  
                   
                <apex:column width="2%" headerValue="30" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,30) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,30) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )}  " rendered="{!mostrarColumna30}">                                          
                </apex:column>  
                   
                <apex:column width="2%" headerValue="31" style="border: solid; border-width: 1px;  background: {!IF(p.Fecha_de_inicio__c != null && p.Fecha_de_fin__c != null && p.Fecha_de_inicio__c <= DATE(Reporte__c.numero_anio__c,Reporte__c.numero_mes__c,31) && DATE(Reporte__c.numero_anio__c, Reporte__c.numero_mes__c,31) <= p.Fecha_de_fin__c, CASE( p.Estado__c ,'Contrato firmado','#FFFF00','Programa en curso','#088A29','#FFFFFF') ,'#FFFFFF' )}  " rendered="{!mostrarColumna31}">                                   
                </apex:column>  
                    
                </apex:dataTable> 
              
            </apex:outputpanel>
                 
            <br/> <br/>
            <apex:outputLabel ><b>{!$Label.etiqueta_filtros_establecidos}</b></apex:outputLabel>
            <br/> 
            <apex:outputLabel ><b>{!$ObjectType.Reporte__c.fields.mes__c.label}: </b></apex:outputLabel>
            <apex:outputfield value="{!reporteEjecutado.mes__c}" />
            <br/> 
            <apex:outputLabel ><b>{!$ObjectType.Reporte__c.fields.Anio__c.label}: </b></apex:outputLabel>
            <apex:outputfield value="{!reporteEjecutado.Anio__c}" />
        </apex:pageBlock>
 
    </apex:form>    
  
</apex:page>