<apex:page id="QUIM_catalogo_busqueda_avanzada" readOnly="true" docType="html-5.0" sidebar="false" showHeader="false" standardStylesheets="false" cache="false" applyHtmlTag="false">
 <link rel="shortcut icon" href="{!URLFOR($Resource.QUIM_img_favicon)}" type="image/x-icon" /> 
    <script type="text/javascript">
    var j$ = jQuery.noConflict();
    var verT = CCRZ.processPageLabelMap('FichaCentroVerMas');   
    var solInfo = CCRZ.processPageLabelMap('CatBusqAvanzColCentSolicitarInfo');
    var pagelabelBA = CCRZ.processPageLabelMap('CatCabBusquedaAvanzada');
    var pageNombre = CCRZ.processPageLabelMap('CatBusqAvanzColCentNombre');
    var pagelabelBA = CCRZ.processPageLabelMap('CatCabBusquedaAvanzada');
    var titulo = CCRZ.processPageLabelMap('CatCabCatalogoDeProductos');  
    var buscarEnCatalogo = CCRZ.processPageLabelMap('CatCabBuscarEnCatalogo'); 
    var aplicacion = CCRZ.processPageLabelMap('CatColCentAplicacion'); 
    var buscar = CCRZ.processPageLabelMap('CatColCentBuscar'); 
    var producto = CCRZ.processPageLabelMap('CatColCentProducto');    
    var segmento = CCRZ.processPageLabelMap('CatColCentSegmentoIndustrial');
    var limpiar = CCRZ.processPageLabelMap('CatColCentLimpiarBusqueda');
    var encontrado = CCRZ.processPageLabelMap('CatBusqAvanzColCentSeHanEncontrado');
    var resultadosPara = CCRZ.processPageLabelMap('CatBusqAvanzColCentResultadosPara');
    var descargas = CCRZ.processPageLabelMap('CatBusqAvanzColCentDescargas');
    var incluirPedido = CCRZ.processPageLabelMap('CatBusqAvanzColCentIncluirPedido');
    var verTodos = CCRZ.processPageLabelMap('CatBusqAvanzColCentVerTodos');
    var litResultados = CCRZ.processPageLabelMap('CatBusqAvanzColCentResultadosTabla');
    var volver = CCRZ.processPageLabelMap('CatBusqAvanzColCentVolver');
    var otraApli = CCRZ.processPageLabelMap('CatBusqAvanzColCentSelAplicacion');
    var nuevo = CCRZ.processPageLabelMap('CatBusqAvanzColCentNuevo');
    var recomendado = CCRZ.processPageLabelMap('CatBusqAvanzColCentRecomendado');
    var equipo = CCRZ.processPageLabelMap('BannerSuEquipoRepsol');
    var indiceFlui = CCRZ.processPageLabelMap('FichaCentroIndiceFluidez');
    var impChar = CCRZ.processPageLabelMap('FichaCentroImpactoCharpy');
    var densidad = CCRZ.processPageLabelMap('FichaCentroDensidad');
    var modFlex = CCRZ.processPageLabelMap('CatCabResModuloFlexion');
    var color = CCRZ.processPageLabelMap('FichaCentroColor');
    var vinilo = CCRZ.processPageLabelMap('FichaCentroAcetatoVinilo');
    var butilo = CCRZ.processPageLabelMap('FichaCentroAcrilatoButilo');
    var tipo = CCRZ.processPageLabelMap('FichaCentroTipo');
    var charm = CCRZ.processPageLabelMap('CatCabResImpactoCharpy');
    var flu = decodeEntities(CCRZ.processPageLabelMap('CatCabResImpactoFluidez').toString());
    var descrip = CCRZ.processPageLabelMap('CatCabResDescripcion');
    var contact= CCRZ.processPageLabelMap('CatPopupSiDeseaInfo');
    var botcon= CCRZ.processPageLabelMap('CatPopupBotonContactar');
    var fichaTec= CCRZ.processPageLabelMap('CatPopupNotaTecnica');
    var fichaSeg= CCRZ.processPageLabelMap('CatPopupFichaDeSeguridad');
    var certif= CCRZ.processPageLabelMap('CatPopupCertificadoCumplimiento');
    var noRes= CCRZ.processPageLabelMap('CatColCentSinResultados');
    var noRes2 = CCRZ.processPageLabelMap('CatColCentSinResultadosQuitar');
    // Modales PageLabel's
    var modalDescArchivo = CCRZ.processPageLabelMap('ModalDescDescargarArchivo');
    var modalSelectIdi = CCRZ.processPageLabelMap('ModalDescSeleccionarIdioma');
    var modalDescargar = CCRZ.processPageLabelMap('ModalDescDescargar');
    var modalCancelar = CCRZ.processPageLabelMap('ModalDescCancelar');
    var modalNotaTec = CCRZ.processPageLabelMap('ModalDescNotaTecnica');
    var modalFichaSeg = CCRZ.processPageLabelMap('ModalDescFichadeSeguridad');
    var modalCertif = CCRZ.processPageLabelMap('ModalDescCertificadoCumplimiento');
    var bannerCon = CCRZ.processPageLabelMap('BannerLateralConsultasYSugerencias');
    var pagelabelTodos = CCRZ.processPageLabelMap('CatDespBusquedaTodos');
    // Idiomas desplegables PageLabel's
    var noDisponible = CCRZ.processPageLabelMap('IdiomaNoDisponible');
    var idiomaEspanol = CCRZ.processPageLabelMap('IdiomaEspañol');
    var idiomaIngles = CCRZ.processPageLabelMap('IdiomaInglés');
    var idiomaAleman = CCRZ.processPageLabelMap('IdiomaAlemán');
    var idiomaFrances = CCRZ.processPageLabelMap('IdiomaFrancés');
    var idiomaPortugues = CCRZ.processPageLabelMap('IdiomaPortugués');
    var idiomaItaliano = CCRZ.processPageLabelMap('IdiomaItaliano');
    var idiomaArabe = CCRZ.processPageLabelMap('IdiomaÁrabe');
    var idiomaGriego = CCRZ.processPageLabelMap('IdiomaGriego');
    var idiomaTurco = CCRZ.processPageLabelMap('IdiomaTurco');
    var idiomaHolandes = CCRZ.processPageLabelMap('IdiomaHolandés');
    var idiomaPolaco = CCRZ.processPageLabelMap('IdiomaPolaco');
    var idiomaSueco = CCRZ.processPageLabelMap('IdiomaSueco');
    var idiomaFinlandes = CCRZ.processPageLabelMap('IdiomaFinlandés');
    var idiomaCheco = CCRZ.processPageLabelMap('IdiomaCheco');
    var idiomaHungaro = CCRZ.processPageLabelMap('IdiomaHúngaro');
    var idiomaDanes = CCRZ.processPageLabelMap('IdiomaDanés');
    var idiomaRuso = CCRZ.processPageLabelMap('IdiomaRuso');
    var idiomaMandarin = CCRZ.processPageLabelMap('IdiomaMandarín');
    var idiomaEslovaco = CCRZ.processPageLabelMap('IdiomaEslovaco');
    var idiomaLituano = CCRZ.processPageLabelMap('IdiomaLituano');
    var idiomaRumano = CCRZ.processPageLabelMap('IdiomaRumano');
    var indFluiTitle1 = CCRZ.processPageLabelMap('FichaCentroIndiceFluidez') +' '+ CCRZ.processPageLabelMap('FichaFluidezMed1Spec');

    var indFluiTitle2 = CCRZ.processPageLabelMap('FichaCentroIndiceFluidez');
    
    var poliole = CCRZ.processPageLabelMap('poliole');
    var aromaticos = CCRZ.processPageLabelMap('aromaticos');
    var derivados = CCRZ.processPageLabelMap('derivados');
    var olefinas = CCRZ.processPageLabelMap('olefinas');
    // Nuevas características
    var pagelabelFichaCentroIndHidroxilo = CCRZ.processPageLabelMap('FichaCentroIndHidroxilo'); // hidróxilo
    var pagelabelFichaCentroContenidoSolidos = CCRZ.processPageLabelMap('FichaCentroContenidoSolidos'); // sólidos
    var pagelabelFichaCentroRiqueza = CCRZ.processPageLabelMap('FichaCentroRiqueza');   // riqueza

    var pagelabelFichaCentroInicio = CCRZ.processPageLabelMap('FichaCentroInicio');//Inicio
    // alert('ho'+bannerCon);
     j$(document).ready(function() {
         j$("#migaInicio").text(pagelabelFichaCentroInicio);
         j$("#migaInicio").attr( "title", pagelabelFichaCentroInicio );
         j$("#titulo").html(titulo.toString());  
         j$("#Aplicaciones").html(aplicacion.toString()); 
         j$('div.container').removeClass('hidden-phone');
         j$('.container.visible-phone.phoneLayout').addClass('rq-hidden');
    });
    
    function decodeEntities(encodedString) {
                var textArea = document.createElement('textarea');
                textArea.innerHTML = encodedString;
                return textArea.value;
            }

    
    </script>
    <html lang="es">
        <head>
            <apex:stylesheet value="{!URLFOR($Resource.THEME_REPSOL, 'static/css/font-awesome.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.THEME_REPSOL, 'static/css/jquery-ui.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.THEME_REPSOL, 'static/css/slick.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.THEME_REPSOL, 'static/css/selectize.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.THEME_REPSOL, 'static/css/rq-general.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.THEME_REPSOL, 'static/css/rq-bootstrap.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.THEME_REPSOL, 'static/css/rq-modules.css')}"/>
            <apex:includeScript value="{!URLFOR($Resource.THEME_REPSOL, 'static/js/jquery.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.THEME_REPSOL, 'static/js/jquery-ui.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.THEME_REPSOL, 'static/js/jquery.tablesorter.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.THEME_REPSOL, 'static/js/slick.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.THEME_REPSOL, 'static/js/selectize.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.THEME_REPSOL, 'static/js/scripts.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.THEME_REPSOL, 'static/js/FileSaver.js')}"/>
        </head>
        <body class="dfront-styles">  

            <main class="rq-main container--repsol">
                <div class="row-fluid">
                    <div class="span12">
                     
                        <div class="row-fluid">
                            <div class="span9 tablet-block">
                                
                                <div class="rq-header-box">
                                    <figure class="rq-header-box__figure">
                                        <apex:image styleClass="rq-header-box__image" url="{!$Resource.QUIM_img_CabeceraCatalogo}" alt="Banner Título"/>
                                    </figure>
                                    <div class="rq-header-box__title-container">
                                        <h2 id="titulo" class="rq-header-box__title rq-header-box__title--without-subtitle rq-titles--h2" />
                                    </div>
                                </div>

                                <c:QUIM_form_search_box_results ></c:QUIM_form_search_box_results>
                        
                                <c:QUIM_images_busqueda_v2 ></c:QUIM_images_busqueda_v2>
                            </div>
                            <div class="span3 tablet-block">
                               <c:QUIM_banner_lateral ></c:QUIM_banner_lateral> 
                               
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </body>
    </html>
</apex:page>