.THIS {
}

.THIS.rq-popup .slds-modal__header{
    text-align:left;
    border-radius:0;
    border-bottom:none;
    padding:1.5em 1.5em 0.5em;
}
.THIS.rq-popup .rq-title-popup
{
  font-family: Repsol-Rg;
  font-size: 1.625em;
  line-height: 1.08;
  color: token(colorGeneral);
  padding:1em 2.5em;
  background:url('../resource/RQO_sr_QuimicaResources/images/icon-camion-plus.png') no-repeat left center;
}

.THIS.rq-popup .rq-button-close
{
    position: absolute;
    right: 5%;
    padding: 1em;
    top: 20%;
    border:1px solid transparent;
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-cerrar.png') no-repeat center;
}

.THIS.rq-popup .rq-button-close:hover,
.THIS.rq-popup .rq-button-close:focus{
    border:1px solid #000;
}



.THIS.rq-popup .rq-wrapper-content
{
	border-top: 1px solid #e0ded9;
    border-bottom: 1px solid #e0ded9;
    padding: 2em 0;
}


.THIS.rq-popup .rq-wrapper-content .rq-popup-label
{
 font-family: Titillium-Rg;
  font-size: 1.125em;
  line-height:1.1;
  color: #5c4e44;
  display:block;
  margin-bottom:1em;
}

.THIS.rq-popup .slds-modal__footer{
    border-radius:0;
    border-top:none;
    padding:0 1.5em 1em;
}
.THIS.rq-popup .slds-modal__footer .rq-button-cancel{
 font-family: Titillium-Rg;
 font-size:0.875em;
 color:token(colorGeneral);
 text-decoration:underline;
 border:1px solid transparent;
 background:#fff;
 height:40px;
 margin-bottom: 2em;
 vertical-align: top;
}

.THIS.rq-popup .slds-modal__footer .rq-button-cancel:hover,
.THIS.rq-popup .slds-modal__footer .rq-button-cancel:focus
{
    background:#fff;
    border:1px solid token(colorGeneral);
}

.THIS.rq-popup .slds-modal__footer .rq-button-accept{
    background:token(colorGeneral);
    border-color:token(colorGeneral);
    color:#fff;
    font-family: Titillium-Rg;
 	font-size:0.875em;
    width:190px;
    height:40px;   
}

.THIS.rq-popup .slds-modal__footer .rq-button-accept:hover,
.THIS.rq-popup .slds-modal__footer .rq-button-accept:focus
{
    color:token(colorGeneral);
    background:#fff;
}

/*SELECT*/
.THIS .rq-select .rq-label{
    font-family:Titillium-Rg;
    font-size:0.875em;
    display:block;
	color:token(TextColorGeneral);
    margin-bottom:0.5em;
}
.THIS .rq-select .rq-select-filter{
  font-family: Titillium-Rg;
  font-size: 0.875em;
  color: #5c4e44;
  height:40px;
  padding:0 1em;
  background-image:url("../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png");
  background-position:95% center;
  background-size:unset;
  display:inline-block;
  width:auto;
}
.THIS .rq-select .rq-select-filter option{
    padding:0 1em;
}
/*FIN SELECT*/

/*DESCRIPCION*/
.THIS .rq-informacion{
    font-family:Titillium-Rg;
    color:token(TextColorGeneral);
    font-size:0.875em;
    padding:1em;
    margin:1em 0;
    background:#F0F2F4;
    border:1px solid #e0ded9;
}
.THIS .rq-informacion-label{
    display:block;
    font-weight:bold;

}
/*FIN DESCRIPCION*/