.THIS {
}

.THIS.rq-popup .slds-modal__header{
    text-align:left;
    border-radius:0;
    border-bottom:none;
    padding:1.5em 0 0.5em 3em;
    background:#fff url('../resource/RQO_sr_QuimicaResources/images/icon-candado.png') no-repeat 20px center;
}
.THIS.rq-popup .rq-title-popup
{
  font-family: Repsol-Rg;
  font-size: 1.625em;
  line-height: 1.08;
  color: token(colorGeneral);
  padding:1em;
}

.THIS.rq-popup .rq-button-close
{
    position: absolute;
    right: 5%;
    padding: 1em;
    top: 20%;
    border:1px solid transparent;
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-cerrar.png') no-repeat center;
}

.THIS.rq-popup .rq-button-close:hover,
.THIS.rq-popup .rq-button-close:focus{
    border:1px solid #000;
}


.THIS.rq-popup .rq-wrapper-content
{
	border-top: 1px solid #e0ded9;
    border-bottom: 1px solid #e0ded9;
    padding: 1em 2em;
}


.THIS.rq-popup .rq-wrapper-content .rq-popup-label
{
 font-family: Titillium-Rg;
  font-size: 1.25em;
  line-height:1.1;
  color: #5c4e44;
  display:block;
  margin-bottom:1em;
}

.THIS.rq-popup .rq-wrapper-content label{
    font-size:14px;
}
.THIS.rq-popup .slds-modal__footer{
    border-radius:0;
    border-top:none;
    padding:0 1.5em 1em;
    background:#fff;
}
.THIS.rq-popup .slds-modal__footer .rq-button-cancel{
 font-family: Titillium-Rg;
 font-size:0.875em;
 color:token(colorGeneral);
 text-decoration:underline;
 border:1px solid transparent;
 background:#fff;
 height:40px;
 margin-bottom: 2em;
 vertical-align: top;
}

.THIS.rq-popup .slds-modal__footer .rq-button-cancel:hover,
.THIS.rq-popup .slds-modal__footer .rq-button-cancel:focus
{
    background:#fff;
    border:1px solid token(colorGeneral);
}

.THIS.rq-popup .slds-modal__footer .rq-button-accept{
    background:token(colorGeneral);
    border-color:token(colorGeneral);
    color:#fff;
    font-family: Titillium-Rg;
 	font-size:0.875em;
    width:190px;
    height:40px;   
}
.THIS.rq-popup .slds-modal__footer .rq-button-accept[disabled]{
    opacity:0.5;
    background:token(colorGeneral);
    color:#fff;
    
}

.THIS.rq-popup .slds-modal__footer .rq-button-accept:hover:not([disabled]),
.THIS.rq-popup .slds-modal__footer .rq-button-accept:focus:not([disabled])
{
    color:token(colorGeneral);
    background:#fff;
}

.THIS .rq-medium .rq-input,
.THIS .rq-medium .rq-select{
    display:inline-block;
    vertical-align:top;
    margin-top:24px;
    margin-bottom:24px;
}
.THIS input,
.THIS select{
    height:40px;
    font-size:14px;
    font-family:Titillium-Rg;
    border-color:#afa8a3;
}
.THIS .rq-medium .rq-input,
.THIS .rq-select{
    font-family: Titillium-Rg;
	font-size: 0.875em;
}

.THIS .rq-medium .rq-input:first-child{
    margin-right:4%;
}

/*:::::::::::::::::::::::::::::*/
/*::: E S C R I T O R I O   :::*/
@media only screen and (min-width:480px)
{
    .THIS .rq-medium .rq-input,
    .THIS .rq-medium .rq-select{width:48%;}
}
/*:::::::::::::::::::::::::::::*/
/*::: E S C R I T O R I O   :::*/

@media only screen and (min-width:977px)
{
    
    .THIS.rq-popup .rq-wrapper-content
    {
        padding: 1em 5em;
    }
}