.THIS {
    background:none;
}

.THIS.rq-link-header{
    color:token(colorGeneral);
    font-family:Titillium-Sb;
    font-size:1.125em;
    text-decoration:underline;
    padding:0.25em 0 0.25em 2.5em;
    margin-bottom:1em;
}