.THIS {
    background:#fff;
    box-shadow: 0 1px 2px 0 #e0ded9;
    border: 1px solid #e0ded9;
    border-bottom:0;
    text-align:center;
    margin:1em 0 0;
}

.THIS .wrapper-facturacion
{
    display:inline-block;
    margin:1em auto;
    width:80%;
    text-align:left;
}
.THIS .wrapper-facturacion select{
    max-width:350px;
    border-color:#afa8a3;
}

.THIS .custom-select {
    display:block;
    margin:1em 0;
}
.THIS .custom-select .rq-select{
    margin:0;
}
.THIS .custom-select .rq-select .slds-select_container:before,
.THIS .custom-select .rq-select .slds-select_container:after{display:none;}
.THIS .custom-select .rq-select select{
    font-family: Titillium-Rg;
    font-size: 14px;
    color: #5c4e44;
    padding: 0 1em;
    background:#fff url("../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png") no-repeat 95% center ;
    height: 40px;
}
.THIS .custom-select .rq-select label{
    font-family:Titillium-Rg;
    font-size:0.875em;
    margin-bottom:10px;
}
.THIS .custom-select select{
    height:40px;
    margin:0;
}

@media only screen and (min-width:920px){
    .THIS .custom-select {display:inline-block; margin:0;}
    .THIS .custom-select.paisFiscal{margin-left:10px;}
    .THIS .wrapper-facturacion select{
        max-width:unset;
    }
}