<!--
/**
 *
 * Created by CloudCraze Software, LLC
 * Copyright 2016 CloudCraze Software, LLC. All rights reserved.
 * Redistribution and use in source or binary forms, with or without 
 * modification is PROHIBITED.
 * 
 */
 -->
<apex:page controller="ccrz.cc_ctrl_ForgotPassword" docType="html-5.0" sidebar="false" showHeader="false" standardStylesheets="false">
    <apex:composition template="ccrz__cc_tmpl_OneColRD">
        <apex:define name="body">
            <apex:outputPanel layout="none" rendered="{!useBodyBegin}" >
                <apex:include pageName="{!bodyBeginPage}" />
            </apex:outputPanel>
            <apex:outputPanel >
                <apex:messages />
            </apex:outputPanel>
            <div class="content_container">
                <div class="single_column_layout">
                    <div class="main_content_single_column_container">
                        <apex:form id="loginForm" styleclass="horizontal_form" forceSSL="true">
                            <apex:outputPanel layout="none"  >
                            <fieldset>
                                <legend><apex:outputText escape="false" value="{!pageLabelMap['ForgotPassword_ForgotPassword']}"/></legend>
                                <p><apex:outputText escape="false" value="{!pageLabelMap['ForgotPassword_PleaseEnterEmail']}"/></p>
                                <label><apex:outputText escape="false" value="{!pageLabelMap['SiteLogin_EmailAddress']}"/>
                                    <apex:inputText id="email_address"  value="{!username}" alt="email"/>
                                </label>
                                <p class="right clear"><apex:outputText escape="false" value="{!pageLabelMap['ForgotPassword_RequiredFields']}"/></p>
                                <p class="link_button"><apex:commandButton styleClass="button right" value="{!pageLabelMap['Submit']}" action="{!forgotPassword}"/> <span>
                                <apex:outputLink value="{!$Page.ccrz__CCSiteLogin}?cartID={!URLENCODE(currentCartID)}&{!URLENCODE(ipAddressLocationKey)}={!URLENCODE(ipAddressLocation)}"><apex:outputText escape="false" value="{!pageLabelMap['ChangePassword_BackToLogin']}"/></apex:outputLink></span></p>
                            </fieldset>
                            </apex:outputPanel>
                        </apex:form>
                    </div>
                </div>
            </div>
            <apex:outputPanel layout="none" rendered="{!useBodyEnd}" >
                <apex:include pageName="{!bodyEndPage}" />
            </apex:outputPanel>
        </apex:define>

        <apex:define name="htmlbodyX">
            <!-- common components -->
            <c:cc_PageMessagesRD />
            <c:cc_headerRD ccCtrl="{!forgotPasswordController}" rendered="{!widgetConfiguration[LOWER('H.Enabled')]}" />
            <c:cc_topMenuRD ccCtrl="{!forgotPasswordController}" rendered="{!widgetConfiguration[LOWER('TM.Enabled')]}" />
            <c:cc_productSearchWidget pCcCtrl="{!forgotPasswordController}" rendered="{!widgetConfiguration[LOWER('H.Enabled')]}" />
        </apex:define>
    </apex:composition>
</apex:page>