<!--
/**
 *
 * Created by CloudCraze Software, LLC
 * Copyright 2016 CloudCraze Software, LLC. All rights reserved.
 * Redistribution and use in source or binary forms, with or without
 * modification is PROHIBITED.
 *
 */
-->
<apex:page id="CheckOut" controller="ccrz.cc_ctrl_CheckoutLLI" extensions="ccrz.cc_ctrl_LocaleExtension" docType="html-5.0" sidebar="false" showHeader="false" standardStylesheets="false" cache="false">
<apex:composition template="{!IF(pageTemplate != null, pageTemplate, 'cc_tmpl_OneColRD')}">
	<apex:define name="meta">
		<title><apex:outputText value="{!PageTitle}" /></title>
		<meta name="description" content="{!HTMLENCODE(metaDescription)}" />
		<meta name="keywords" content="{!HTMLENCODE(metaKeywords)}" />
	</apex:define>

	<apex:define name="body">
		<apex:outputPanel layout="none" rendered="{!useBodyBegin}" >
			<apex:include pageName="{!bodyBeginPage}" />
	   </apex:outputPanel>

	   <div class="checkoutContent"/>

		<apex:outputPanel layout="none" rendered="{!useBodyEnd}" >
			<apex:include pageName="{!bodyEndPage}" />
	   </apex:outputPanel>
	</apex:define>

	<apex:define name="htmlbodyX">

		<script>
			var orderDetails = function(orderId) {
				document.location = "{!JSENCODE($Page.OrderConfirmation)}?o=" + orderId + getCSRQueryString();
			}
			var productDetails = function(productId) {
				document.location = "{!$Page.ProductDetails}?viewState=DetailView&cartID=" + CCRZ.pagevars.currentCartID + "&sku=" + productId + getCSRQueryString();
			}
			var homePage = function() {
				document.location = "{!$Page.HomePage}?cartID=" + CCRZ.pagevars.currentCartID + getCSRQueryString();
			}
			var cartDetails = function() {
				document.location = "{!$Page.Cart}?cartID=" + CCRZ.pagevars.currentCartID + getCSRQueryString();
			}
		</script>

		<!-- common components -->
		<c:cc_PageMessagesRD />
		<c:cc_headerRD ccCtrl="{!CheckOutController}" rendered="{!widgetConfiguration[LOWER('H.Enabled')]}" />
		<c:cc_topMenuRD ccCtrl="{!CheckOutController}" rendered="{!widgetConfiguration[LOWER('TM.Enabled')]}" />
		<c:cc_productSearchWidget pCcCtrl="{!CheckOutController}" rendered="{!widgetConfiguration[LOWER('H.Enabled')]}" />
		<c:cc_MiniCartDetailsRD rendered="{!widgetConfiguration[LOWER('MC.Enabled')]}" />
		<c:cc_EffectiveAccountSelector rendered="{!widgetConfiguration[LOWER('EFF.Enabled')]}" readOnly="true" />

		<!-- page-specific components -->
		<c:cc_CommonTemplates />
		<c:cc_CheckoutLLI />
		<c:cc_CheckoutShippingLLI />
		<c:cc_CheckoutReviewLLI />
		<c:cc_CheckoutPaymentLLI />
		<c:cc_AddressCarousel />
	</apex:define>
</apex:composition>
</apex:page>