.THIS {
    display:inline-block;
}

.THIS .rq-label{
    font-family:Titillium-Rg;
    font-size:0.875em;
   	display:block;
    margin:1em 0 0.5em;
}

.THIS .rq-select{
    margin:0;
}

.THIS .rq-select label{
    display:none;
}
.THIS .rq-button{
    float:right;
}