.THIS.rq-wrapper-table{
    background: #fff;
    border: 1px solid #e0ded9;
    box-shadow: 0 1px 2px 0 #e0ded9;
    display: block;
    margin-top: 1em;
    padding: 0 1em;
}
.THIS .rq-tooltip
{
    display:none;
    border: 1px solid #e0ded9;
 
}
.THIS .rq-tooltip::before,
.THIS .rq-tooltip::after{
 	border: medium solid transparent;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 15%;
    position: absolute;
    width: 0;
}

.THIS .rq-num-resul:before{
    content:'-';
    display:inline-block;
    margin-right:5px;
}
.THIS .rq-num-resul{
    margin:5px;
}
.THIS .rq-tooltip:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: white;
    border-width: 0.4375rem;
    margin-left: -0.4375rem;
}
.THIS .rq-tooltip.toggle
{
    display:block!important;
    box-shadow: 0 1px 2px 0 #e0ded9;
    background: #fff;
    padding: 1em 0;
    position: absolute;
    right:15%;
    width: 17em;
    z-index: 100;
}

.THIS .rq-button
{
    background:token(colorGeneral);
    border: 1px solid token(colorGeneral);
    border-radius: 0.25rem;
    color: #fff;
    display:block;
    font-family: "Titillium-Rg",Arial,Helvetica,sans-serif;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.47;
    padding: 1rem 1.25rem;
    position: relative;
    text-align: center;
    margin:0 auto;
}
.THIS .rq-button:active,
.THIS .rq-button:hover,
.THIS .rq-button:focus{
    background-color:#fff;
    color:token(colorGeneral);
}

.THIS .rq-button--download-white{
    border:2px solid transparent;
    background: url("../resource/RQO_sr_QuimicaResources/images/icono-descargar.svg") no-repeat center;
}
.THIS .rq-button--info{
    border:2px solid transparent;
    background: url("../resource/RQO_sr_QuimicaResources/images/group-7.svg") no-repeat center; 
}
.THIS .rq-button--info:hover,
.THIS .rq-button--info:focus,
.THIS .rq-button--download-white:hover,
.THIS .rq-button--download-white:focus{
    border:2px solid token(colorGeneral);
}

.THIS table.rq-table
{
    display: table;
    padding: 0 0.8125rem;
    background: #fff;
    line-height: 1.25rem;
    margin: 1.125rem 0;
    position: relative;
    width: 100%;
}

.THIS table caption{
 	background-image: linear-gradient(to right, #ff8200, #ffb81c);
    border-radius:4px 4px 0 0;
    color: #fff;
    display: table-caption;
    font-family: Titillium-Sb;
    font-size: 1.25em;
    padding: 1em;
    width: 100%;
}

.THIS .rq-table thead{
   border-bottom:3px solid token(colorGeneral);
}
.THIS .rq-table thead .rq-table-head{
    display:table-cell;
    box-sizing: border-box;
    color: #5c4e44;
    font:unset;
    font-family: "Titillium-Bd",Arial,Helvetica,sans-serif; 
    font-size: 0.875rem;
    padding: .75rem 1rem .375rem 0.5rem;
    vertical-align: bottom;
    white-space: normal;
    width: auto;
    text-align:center;
    vertical-align:bottom;

}
.THIS .rq-table thead .rq-table-head:nth-last-child(2){
    padding-right:0;
}
.THIS .rq-table thead .rq-table-head:first-child span{
    text-align:left;
}
.THIS .rq-table thead .rq-table-head span{
   color: #5c4e44;
    font:unset;
    font-family: "Titillium-Bd",Arial,Helvetica,sans-serif; 
    font-size: 0.875rem;
    position:relative;
    display:block;
    text-align:center;
}
.THIS .rq-table thead .rq-table-head span:before{
    font-family: FontAwesome;
    font-size: 1.5em;
    position: absolute;
    right:-15px;
    bottom:0;
}
.THIS .rq-table tbody tr{
    border-bottom:1px solid #e0ded9; 
}
.THIS .rq-table tbody tr.rq-fila-recomendada{
   background: #f9f8f7;
}
.THIS .rq-table tbody tr:last-child{
    border-bottom:none; 
}

.THIS .rq-table .sortable-active{
    background:#f5f4f2;
    position:initial;
}

.THIS table .rq-table-cell
{
	color: #5c4e44;
    font-family: "Titillium-Rg",Arial,Helvetica,sans-serif;
    font-size: 0.875rem;
    padding: 0.5rem 0.625rem;
    position: relative;
    vertical-align: middle;
    display:block;
    text-align:center;
   
    
}

.THIS table .rq-table-cell.rq-table-block{
    display:block!important;
}
.THIS table .rq-table-cell a{
    color:#418080;
    text-decoration:underline;
}

.THIS table .rq-table-cell a:hover,
.THIS table .rq-table-cell a:focus{
    font-weight:bold;
}

.THIS table .rq-paginator{
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
}

.THIS table .rq-paginator .rq-paginator-item
{
 
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-left: 1em;
    padding:1.25rem 0;
}
.THIS table .rq-paginator .rq-paginator-item button{
    background: #fff;
    border: 1px solid #e0ded9;
    color:#418080;
    text-decoration:underline;
    line-height:1;
    padding:0.375em 0.75em;
    border-radius:0;
}
.THIS table .rq-paginator .rq-paginator-item.arrows{
    border-color:transparent;
}

.THIS table .rq-paginator .rq-paginator-item a
{
    color: #007e94;
    display: block;
    font-family: "Titillium-Rg",Arial,Helvetica,sans-serif;
    font-size: 0.875rem;
    padding: 0 0.425rem;
    position: relative;
    line-height:2;
    text-decoration: underline;
}
.THIS table .rq-paginator .rq-paginator-item .fa
{
    color: #007e94;
    font-size: 1.1875rem;
    font-weight: bolder;
}
.THIS table.rq-table .rq-tooltip
{
    text-align:left;
}

.THIS table.rq-table .rq-tooltip .rq-tooltip-text{
    display: block;
    line-height: 1.75;
    margin-bottom: 2em;
}

.THIS table.rq-table .rq-tooltip li{
    list-style:none;
    margin:0.5em 0;
    
}


.THIS table.rq-table .rq-tooltip li a img,
.THIS table.rq-table .rq-tooltip li a span{
    display:inline-block;
    vertical-align:middle;
    margin:0 1em;
}
/*::::::::::::::::::::*/
/* ESTILOS RESPONSIVE */

@media only screen and (min-width: 767px)
{
    .THIS table.rq-table thead th:last-child,
    .THIS table.rq-table .responsive-cell{
        display:none;
    }
    
    .THIS table .rq-table-cell
    {
        display:table-cell;
    }
    
   .THIS table .rq-tooltip:before{
        border-color: rgba(102, 102, 102, 0) rgba(102, 102, 102, 0) #e0ded9;
        border-width: 0.5rem;
        margin-left: -0.5rem;
    }

    .THIS table td:first-child,
    .THIS table th.rq-table-head:first-child{
        width:35%;
        text-align:left;
    }
    

}

@media only screen and (max-width: 766px)
{
   .THIS table thead,.THIS table tr
    {
        display:block;
        width:100%;
        position:relative;
    }
    .THIS table.rq-table thead th:first-child, .THIS table.rq-table thead th:first-child + th,
    .THIS table.rq-table tbody td:first-child, .THIS table.rq-table tbody td:first-child + td
    {
        width:45%;
        display:inline-block;
    }
    .THIS table.rq-table tbody td:last-child
    {
        position:absolute;
        top: 10px;
        right: 0;
        border: none;
        background: none;
        padding: 0;
        text-align: right;
        width:auto;
    }
    .THIS table.rq-table tbody td:last-child button
    {
        border:none;
        background:none;
        padding:0;
    }
    .THIS table.rq-table thead .rq-table-head
    {
        display:none;
        text-align:center;
    }
	.THIS table.rq-table .rq-table-tbody td{
        text-align:center;
    }
  .THIS table.rq-table td:not(:nth-child(-n+2)){
    border-bottom: 1px solid #ddd;
    display:none;
    font-size: .8em;
    text-align: left;
    width:100%;
    background:#fcfbfb;
  }

  .THIS table.rq-table td:not(:nth-child(-n+2)):before {
    content: attr(data-content);
    font-weight: bold;
    text-transform: uppercase;
  }
  .THIS table.rq-table tbody td:last-child {
    border-bottom: 0;
    display:block;
  }

    .THIS table.rq-table td.movil-display .rq-tooltip:before{
		display:none;                    
    }
                
   .THIS table.rq-table td.movil-display .rq-tooltip
    {
        background: unset;
        border: medium none;
        box-shadow: none;
        left: 0;
        position: relative;
        right: 0;
        top: 0;
        width: 100%;
    }
  .THIS table.rq-table td.movil-display .rq-table-text
   {
       display:block;
       width:100%;
   }
}