.THIS {
}
.THIS .rq-text-intro{
    font-family:Titillium-Rg;
    font-size:0.875em;
    color:#5c4e44;
    display:block;
    margin:2em 0 1em;
}
.THIS .rq-wrapper-footer{
    margin-top:1em;
    text-align:right;
}
.THIS .rq-wrapper-footer .rq-button{
    background:token(colorGeneral);
    font-family:Titillium-Rg;
    font-size:0.875em;
    border:1px solid token(colorGeneral);
    color:#fff;
    padding:0.25em 2em;
    transition:0.8s ease all;
}
.THIS .rq-wrapper-footer .rq-button:hover,
.THIS .rq-wrapper-footer .rq-button:focus{
    background:#fff;
    color:token(colorGeneral);
}