.THIS {
    background:#fff;
    box-shadow: 0 1px 2px 0 #e0ded9;
  	border: solid 1px #e0ded9;
    padding:1em;
    font-size:0.875em;
    font-family:Titillium-Rg;
}
.THIS .movil-hide{
    display:none;
}
.THIS .rq-input-inf{
    display:none;
    padding:1em;
    border:1px solid token(colorGeneral);
}
.THIS .uiInput{
    display: inline-block;
    max-width: 105px;
    margin-right:1em;
}

.THIS select.rq-select{
    display:inline-block;
    padding:1em 1em 1em 0;
}
.THIS select.rq-select.select,
.THIS select{
    background-image:url("../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png");
    background-repeat:no-repeat;
    background-position:95% center;
    background-size:auto;
    border-color:#afa8a3;
}
.THIS .uiInput input,
.THIS select.rq-select.select{
    height:40px;
    width:100%;
    border-color:#afa8a3;
}

.THIS .slds-select_container::before, 
.THIS .slds-select_container::after{
    display:none;
}
.THIS .rq-btn-search{
    padding:20px;
    background: url('../resource/RQO_QuimicaResources/images/icon-lupa-nar.png') no-repeat center;
    margin:0;
    border: 0;
    display: inline-block;
    vertical-align: bottom;
}
.THIS .rq-search-advance
{
    margin:1em auto -1px;
    padding:0 1em;
    height:45px;
    color:token(colorGeneral);
    border:1px solid token(colorGeneral);
    border-radius:4px;
    transition:0.8s ease all;
    font-family:Titillium-Rg;
    background:#fff;
    position:relative;
}
.THIS .rq-search-advance.open{
    border-bottom:1px solid #fff;
    border-radius:4px 4px 0 0 ;
}
.THIS .rq-search-advance:before{
    font-family:fontawesome;
    float:right;
    font-weight: bold;
    margin-left: 1em;
}
.THIS .rq-search-advance:hover{
    color:#fff;
    background:token(colorGeneral);
    transition:0.8s ease all;
}
.THIS .rq-input-inf label{
    font-size:14px;
    margin:0.5em 0;
    display:block;
}
.THIS .rq-input-inf .rq-fecha{
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-calendario.png');
    background-position:95% center;
    background-size:unset;
    background-repeat:no-repeat;
    margin:-1px;
}
.THIS .rq-input-inf .rq-fecha + .datePicker-openIcon
{
    display:none;
}
.THIS .rq-controls{
    margin:2em 0 0;
    text-align:right;
}
.THIS .rq-controls button{
    height:40px;
    padding:0 0.75em;
}

.THIS .rq-controls .rq-clear
{
    background:none;
   	border:1px solid transparent;
    color:token(colorGeneral);
    text-decoration:underline;
    transition:0.8s ease all;
}
.THIS .rq-controls .rq-clear:hover,
.THIS .rq-controls .rq-clear:focus{
    border-color:token(colorGeneral);
    transition:0.8s ease all;
}
.THIS .rq-controls .rq-btn-search-2
{
    color:#fff;
    background:token(colorGeneral);
    border:1px solid token(colorGeneral);
    transition:0.8s ease all;
}
.THIS .rq-controls .rq-btn-search-2:hover,
.THIS .rq-controls .rq-btn-search-2:focus{
    background:#fff;
    color:token(colorGeneral);
    transition:0.8s ease all;
}
/*::::::::::::::::::::*/
/* ESTILOS ESCRITORIO */

@media only screen and (min-width:768px){
    .THIS{padding:2em;}
    .THIS .uiInput{max-width: 135px; margin-right:1.5em;}
    .THIS .rq-btn-search{margin:0 1em;}
    .THIS .movil-hide{display:initial;}
    .THIS select{width:250px;height:40px;}
    .THIS .rq-input-inf .slds-form-element{display:inline-block;margin-right:1.5em;}
    
}