.THIS {
    font-size:0.875em;
    font-family:Titillium-Rg;
  	border-bottom: solid 1px #e0ded9;
    position:relative;
    margin:0;
}


.THIS .rq-toogle-perfil{
    position: absolute;
    box-shadow: 0 1px 4px 0 #afa8a3;
    padding: 1.5em;
    background:#F8FAFB;
    z-index:100;
}
.THIS .rq-toogle-perfil:before,
.THIS .rq-toogle-perfil:after{
	border: medium solid transparent;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 15%;
    position: absolute;
    width: 0;

}
.THIS .rq-toogle-perfil:before
{
    border-color: rgba(102, 102, 102, 0) rgba(102, 102, 102, 0) #e0ded9;
    border-width: .5rem;
    margin-left: -.5rem;
}

.THIS .rq-toogle-perfil:after
{
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #F8FAFB;
    border-width: .4375rem;
    margin-left: -.4375rem;
}
.THIS .rq-toogle-perfil button{
	padding: 0;
    background: none;
    border: none;
    width: auto;
    float: right;
    line-height: 1;
    margin:-15px -15px 0 0;
}
.THIS .rq-toogle-perfil button svg,
.THIS .rq-toogle-perfil button:hover svg,
.THIS .rq-toogle-perfil button:focus svg{
	fill:#418080;
    margin:0;
}
.THIS .rq-name{
    color:#418080;
    text-decoration:underline;
    padding: 1em 0 1.25em;
    display: inline-block;
}

.THIS .rq-label{font-weight:bold;}
.THIS .rq-select{margin:0 0 1em;}
.THIS .rq-select label{display:none;}

/*::::::::::::::::::::::::::*/
/*::: ESTILOS RESPONSIVE :::*/

@media only screen and (min-width:736px)
{
    .THIS .rq-select{margin:0;}
}