.THIS {
    background:#fff;
    padding:1em 0.5em;
    font-family:Titillium-Rg;
}

.THIS caption{
    background:#F9F8F7;
    border-top:1px solid #afa8a3;
    border-bottom:1px solid #afa8a3;
    padding:0.75em 0;
    margin-top:0.5em;
}

.THIS caption span{
    display:inline-block;
    padding:0 1em;
    font-size:0.875em;
   	font-weight:bold;
    position:relative;
}
.THIS caption span:first-child{
    padding-left:0.5em;
}


.THIS .rq-head{
    border-bottom:3px solid token(colorGeneral);
}
.THIS .rq-head th span{
    font-weight:bold;
    display:block;
    vertical-align:bottom;
   	padding:1em 0.5em;
    font-size:0.875em;
    color:#5c4e44;
    
}
.THIS tbody tr{
 border-bottom:solid 1px #e0ded9;
 display:block;
 position:relative;
}
.THIS tbody td span{
    padding:0.5em;
    display:block;
}
.THIS .rq-footer{
    border-top:1px solid #afa8a3;
    border-bottom:1px solid #afa8a3;
}
.THIS .rq-footer td{
    background:#FFF7EE;
    padding:0.5em 0;
    display:block;
    text-align:center;
    font-weight:bold;
}
.THIS .rq-footer td span{
    font-weight:bold;
}

.THIS .rq-table-resumen tbody td,
.THIS .rq-table-resumen thead th{display:none;}

.THIS tbody td:nth-child(1),
.THIS tbody td:nth-child(2),
.THIS thead th:nth-child(1),
.THIS thead th:nth-child(2){display:inline-block;width:40%;}

.THIS .rq-table-resumen .rq-responsive{
    display:block;
    position:absolute;
    top:10px;
    right:0;
    z-index:1000;
}
.THIS .rq-table-resumen .rq-responsive button{
    background:none;
    border:none;
}
.THIS table td.rq-table-block{
    display:block!important;
    background:#fcfbfb;
    border-top:1px solid #e0ded9;
    padding:0.25em;
}
.THIS table.rq-table-resumen td.movil-display:before {
    content: attr(data-content);
    font-weight: bold;
    text-transform: uppercase;
  }

/*::::::::::::::::::*/
/*  E S T I L O S  */
@media only screen and (min-width:736px)
{
    .THIS .rq-table-resumen tbody td,
	.THIS .rq-table-resumen thead th{display:table-cell;width:auto;text-align:center;}
    
    .THIS .rq-footer td{display:table-cell;padding:0.5em;} 
    .THIS .rq-table-resumen td.rq-responsive{display:none;}
    .cRQO_cmp_tabla_resumen_pedido tbody tr{display:table-row;}
    .THIS table.rq-table-resumen td.movil-display:before {content:"";}
}