.THIS {
    font-family: Titillium-Rg;
    color: #041e42;
}

.THIS .rq-title{
  font-size: 1.125em;
  font-weight: bold;
  
}
.THIS li{
    margin: 1em 0.5em;
    display: inline-block;
}
.THIS li:first-child{
    margin-left:0;
}
.THIS li:last-child{
    margin-right:0;
}
.THIS button{
    padding:0.5em 0.5em 0.5em 2.5em;
    background:#fff url('../resource/RQO_QuimicaResources/images/icono-descargar-blue.png') no-repeat 10px center;
    font-size:1em;
    color: #418080;
    border:1px solid transparent;
    font-weight:bold;
    transition:0.8s ease all;
    
}

.THIS button:hover,
.THIS button:focus{
    background: #418080 url('../resource/RQO_QuimicaResources/images/icono-descargar-h.png') no-repeat 10px center;
    color:#fff;
    transition:0.8s ease all;
    border:1px solid #418080;
}