.THIS {
    background:#fff;
    box-shadow: 0 1px 2px 0 #e0ded9;
  	border: solid 1px #e0ded9;
    padding:1em;
    font-size:0.875em;
    font-family:Titillium-Rg;
}
.THIS .movil-hide{
    display:none;
}
.THIS .rq-input-inf{
    display:none;
    padding:1em;
    border:1px solid token(colorGeneral);
    margin-top:2px;
}
.THIS .rq-input-inf .col{position:relative;}
.THIS div.uiInput{
    display: inline-block;
    margin-right:1em;
    vertical-align:top;
    width:100%;
}
.THIS div.uiInput.rq-fecha-block{margin:0;}
.THIS span.rq-block{
    display:block;
    color:#696969;
}
.THIS select.rq-select{
    display:inline-block;
    padding:1em 1em 1em 0;
}
.THIS select.rq-select.select,
.THIS select{
    background-image:url("../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png");
    background-repeat:no-repeat;
    background-position:95% center;
    background-size:auto;
    border-color:#afa8a3;
    padding:0 18px 0 10px;
}
.THIS .uiInput input,
.THIS select.rq-select.select{
    height:40px;
    width:100%;
    border-color:#afa8a3;
}
.THIS .rq-predictivo{border-color:#afa8a3;height:40px;}

.THIS .slds-select_container::before, 
.THIS .slds-select_container::after{
    display:none;
}
.THIS .rq-btn-search{
    padding:20px;
    background: url('../resource/RQO_sr_QuimicaResources/images/icon-lupa-nar.png') no-repeat center;
    margin:0 1em 0 3em;
    border: 0;
    display: inline-block;
    vertical-align:bottom;
}
.THIS button.rq-search-advance
{
    margin:2.25em auto -3px;
    padding:0 1em;
    height:45px;
    color:token(colorGeneral);
    border:1px solid token(colorGeneral);
    border-radius:4px;
    transition:0.8s ease all;
    font-family:Titillium-Rg;
    background:#fff;
    position:relative;
}
.THIS .rq-search-advance.open{
    border-bottom:1px solid #fff;
    border-radius:4px 4px 0 0 ;
    color:token(colorGeneral);
}
.THIS .rq-search-advance:before{
    font-family:fontawesome;
    float:right;
    font-weight: bold;
    margin-left: 1em;
}
.THIS button.rq-search-advance:hover,
.THIS button.rq-search-advance:focus{
    color:#fff;
    background:token(colorGeneral);
    transition:0.8s ease all;
}
.THIS .rq-input-inf label{
    font-size:14px;
    margin:0.5em 0;
    display:block;
}
 .THIS div.uiInput label{
    padding-top:20px;
    display:block;
    min-height:30px;
    line-height:1;
    position:relative;
}
/*CAMPOS QUE PUEDEN CAER A VARIAS LINEAS*/
.THIS div.uiInput label.rq-clientRef{padding:0;}
.THIS .rq-clientRef span{
    position:absolute;
    bottom:0;
}


/*FIN CAMPOS*/

 .THIS div.uiInput.rq-fecha-block label{
    padding:0;
    min-height:0;
}
 .THIS div.uiInput.rq-fecha-block.last{margin-top:0.5em;}
.THIS .rq-fecha{
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-calendario.png');
    background-position:95% center;
    background-size:unset;
    background-repeat:no-repeat;
    margin:-1px;
}
.THIS .rq-fecha + .datePicker-openIcon
{
    display:none;
}
.THIS .rq-controls{
    margin:2em 0 0;
    text-align:right;
}
.THIS .rq-controls button{
    height:40px;
    padding:0 0.75em;
}

.THIS .rq-controls button.rq-clear
{
    background:none;
   	border:1px solid transparent;
    color:token(colorGeneral);
    text-decoration:underline;
    transition:0.8s ease all;
}
.THIS .rq-controls button.rq-clear:hover,
.THIS .rq-controls button.rq-clear:focus{
    border-color:token(colorGeneral);
    transition:0.8s ease all;
    color:token(colorGeneral);
}
.THIS .rq-controls .rq-btn-search-2
{
    color:#fff;
    background:token(colorGeneral);
    border:1px solid token(colorGeneral);
    transition:0.8s ease all;
}
.THIS .rq-controls .rq-btn-search-2:hover,
.THIS .rq-controls .rq-btn-search-2:focus{
    background:#fff;
    color:token(colorGeneral);
    transition:0.8s ease all;
}

/* MENSAJES DE ERROR */
.THIS .has-error li{position:absolute;margin:0;}

/*LISTADO AUTOCOMPLETAR*/
.THIS .rq-autocomplete {box-shadow:0px 2px 5px #afa8a3;position:absolute;z-index:150;background:#fff;width:100%}
.THIS .rq-autocomplete li{
    padding:5px 10px;
    border:1px solid #afa8a3;
}

/*::::::::::::::::::::*/
/* ESTILOS ESCRITORIO */

@media only screen and (min-width:768px){
    .THIS{padding:1.5em;}
    
    .THIS div.uiInput{max-width:135px; margin-right:1em;width:auto;}
    .THIS .rq-btn-search{margin:2.5em 1em 0;}
    .THIS .movil-hide{display:initial;}
    
    .THIS select{width:250px;height:40px;}
    .THIS .rq-input-inf .slds-form-element{display:inline-block;margin:0 1.5em;}
    .THIS .rq-input-inf .col{display:inline-block;vertical-align:bottom;}
    .THIS div.uiInput.rq-fecha-block{max-width:unset;vertical-align:bottom;}
    .THIS div.uiInput.rq-fecha-block.last{margin-left:0.75em;margin-top:0;}
    
    /*CAMPOS QUE PUEDEN CAER A VARIAS LINEAS*/
    .THIS div.uiInput label.rq-clientRef{padding:0;}
    .THIS .rq-clientRef span{position:initial;}
}