.THIS {
    background:#fff;
    padding:1em 1em 2em;
    box-shadow: 0 1px 2px 0 #e0ded9;
 	border: solid 1px #e0ded9;
    margin-top:1em;
}

.THIS .rq-title
{
    font-family: Repsol-Rg;
    font-size: 1.625em;
    line-height: 1.08;
    color: #ff8200;
    padding:0.5em 0;
    display:block;
}
.THIS .rq-link{
    display:inline-block;
    color:#007e94;;
    text-decoration:underline;
    font-family:Titillium-Rg;
    font-size:0.875em;
    margin:0.5em 0;
}

.THIS .fa{
	color:#007e94;
    font-weight: bold;
    margin-left: 1em;
    font-size: 1.25em;
    vertical-align: middle;
    transition:0.8s ease all;
}
.THIS .rq-link:hover + .fa,
.THIS .rq-link:focus + .fa
{
    margin-left:2em;
    transition:0.8s ease all;
}