.THIS {
 display:none;
}
.THIS > div {
    position:relative;
}

.THIS .notifications-num{
    background: token(colorGeneral);
    border-radius: 30px;
    color: #fff;
    font-weight:bold;
    padding:0px 10px;
    line-height:2.2;
    position: absolute;
    top: -15px;
    width:35px;
    right:-15px;
}
.THIS .rq-notificaciones button{
    background:#fff url(../resource/RQO_sr_QuimicaResources/images/icon-notificaciones-plus.png) no-repeat 10px center;
    background-size:25px auto;
}
.THIS .rq-productos button{
    background:#fff url(../resource/RQO_sr_QuimicaResources/images/icon-camion-plus.png) no-repeat 10px center;
    background-size:25px auto;
}
.THIS img{
    max-width: 24px;
    vertical-align:top;
    margin-left:5px;
    float:left;
    width:100%;
    height:auto;
}
.THIS .label{
    display:inline-block;
    font-size: 0.75rem;
    color:#5c4e44;
    margin-left:30px;
    width:60%;
    line-height:1;
    font-family:Titillium-Rg;
    white-space: normal;
    text-align:left;
    vertical-align:super;
}
.THIS button{
    box-shadow:0 0px 1px 0 #003b5c;
    padding:0;
    border-radius:5px;
    min-height: 46px;
    padding:6px 0 0;
    display:block;
    font-family:"Titillium-Rg";
    background:#fff;
    width:100%;
}
.THIS button[disabled]{
    opacity:0.75;
}
.THIS button:not([disabled]):hover,
.THIS button:not([disabled]):focus{
    box-shadow:0 0px 5px 0 #003b5c;
}
/*:::::::::::::::::::::::::::::::::::::*/
/* E S T I L O S  R E S P O N S I V E  */
@media only screen and (min-width:768px){
    .THIS{
        display:block;
    }
}