.THIS {
}

/*----------- PREGUNTA -----------*/
.THIS .rq-pregunta{
    font-family:Titillium-Rg;
    font-size:16px;
    display:block;
    line-height:1.2;
    margin:1.5em 0;
}

/*-------- FIN PREGUNTA ----------*/

/*------- RADIO BUTTON ---------*/
.THIS .slds-radio{
   display:inline-block;
    margin:0 1.5em;
}
.THIS .slds-radio .slds-radio_faux{
border:solid 1px #e0ded9;
}
.THIS .slds-radio [type="radio"]:checked + .slds-radio__label .slds-radio_faux::after{
    background:token(colorGeneral);
}
/*---- FIN RADIO BUTTON --------*/