.THIS {
    display:block;
    text-align: center;
}

.THIS.rq-caracteristicas-item:nth-child(3n+2):before {
    content:' ';
    display:block;
    width:60px;
    height:1px;
    background:#e0ded9;
    margin:0.5em auto;
}
.THIS.rq-caracteristicas-item:nth-child(3n+3):before {
    content:' ';
    display:block;
    width:60px;
    height:1px;
    background:#e0ded9;
    margin:0.5em auto;
}

.THIS .rq-caracteristica-title{
  font-family: Titillium-Rg;
  font-size: 0.875em;
  color: token(TextColorGeneral);
  display:block;
  margin:0.5em 0;
  line-height:1.3;
}
.THIS .rq-caracteristica-cantidad
{
  font-family: Titillium-Rg;
  font-size: 2em;
  line-height: 0.65;
  text-align: left;
  color:token(colorGeneral);    
}
.THIS .rq-caracteristica-medida{
  font-family: Titillium-Sb;
  font-size: 0.875em;
  text-align: left;
  color:token(TextColorGeneral);
  margin-left:0.25em;
}

/*::::::::::::::::::::*/
/* ESTILOS ESCRITORIO */


@media all and (min-width:768px){
    
    .THIS{
        display:inline-block;
        vertical-align:top;
        width:33%;
        margin:0;
        padding:0 5px;
        position:relative;
        min-height:100px;
    }
    
    .THIS .rq-caracteristica-cantidad {
        position: absolute;
   		left: 0;
    	right: 0;
    	bottom: 15px;
        text-align:center;
    }
     .THIS.rq-caracteristicas-item:nth-child(3n+2):before {
        display:inline-block;
        width:1px;
        height:60px;
        margin:0.5em auto;
        position:absolute;
        top:0;
        left:0;
    }
    .THIS.rq-caracteristicas-item:nth-child(3n+3):before {
        display:inline-block;
        width:1px;
        height:60px;
        margin:0.5em auto;
        position:absolute;
        top:0;
        left:0;
    }
}