.THIS {
    padding:2em;
    background:#fff;
    font-size:0.875em;
    font-family:Titillium-Rg;
    box-shadow: 0 1px 2px 0 #e0ded9;
    border: solid 1px #e0ded9;
}

.THIS label{   
    font-size:1em;
    display:block;
    margin:0.25em 0;
}
.THIS .input,
.THIS select
{
    height:40px;
    border:1px solid #afa8a3;
}

.THIS select {
    background: url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png') no-repeat 95% center;
}
.THIS .slds-select_container:before,
.THIS .slds-select_container:after
{
    display:none;
}

.THIS .uiInput,
.THIS .rq-select-1,
.THIS .rq-select-2{
   margin:1em 0;
   
}

.THIS select {
    background: url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png') no-repeat 95% center;
}
.THIS .slds-select_container:before,
.THIS .slds-select_container:after
{
    display:none;
}


.THIS .rq-select-1{
    display:inline-block;
    width:55%;
    margin-right:5%;
}
.THIS .rq-select-2{
    display:inline-block;
    width:35%;
}

.THIS .rq-btn-search{
    padding:20px;
    background: url('../resource/RQO_sr_QuimicaResources/images/icon-lupa-nar.png') no-repeat center;
    margin:1em;
    border:1px solid transparent;
    display: inline-block;
    vertical-align: bottom;
}
.THIS .rq-btn-search:hover,
.THIS .rq-btn-search:focus{
    border:1px solid token(colorGeneral);
}

/*::::::::::::::::::::::::::::::::::*/
/*:::::: ESTILOS RESPONSIVE ::::::::*/

@media only screen and (min-width:736px){
    .THIS .rq-grado,
    .THIS .rq-select-1,
    .THIS .rq-select-2{
        max-width:235px;
    }
    .THIS .select-group-0{
        display:inline-block;
		vertical-align:middle;
    }
    .THIS .select-group-0 .rq-select-0{
    	margin-right:15px;
    }
    
    .THIS .uiInput,
    .THIS .select-group-1,
    .THIS .select-group-2{
        display:inline-block;
        vertical-align:middle;
        width:30%;
    }
}