.THIS {

}

.THIS .cabecera{
    padding:0.5em 0 0 0.5em;
    border-bottom:3px solid token(colorGeneral);
    font-family:Repsol-Rg;
    font-size:1.625em;
    color:token(colorGeneral);
}

.THIS .cabecera .rq-btn{
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-edit.png') no-repeat left center;
    border:none;
    color:#418080;
    font-family:Titillium-Rg;
    font-size:0.538em;
    text-decoration:underline;
    float:right;
    padding-left:2em;
    
}
.THIS .cabecera .rq-edit{
      background:url('../resource/RQO_sr_QuimicaResources/images/icon-edit.png') no-repeat left center;
}
.THIS .cabecera .rq-save{
      background:url('../resource/RQO_sr_QuimicaResources/images/icon-save.png') no-repeat left center;
}
.THIS .slds-wrap
{
    padding:1em 3em;
}
.THIS .slds-wrap > div{
    padding:0.5em 1em;
    font-size:0.875em;
}
.THIS .slds-wrap .rq-label{
    display:block;
    font-family:Titillium-Sb;
    margin-top:1em;
    color:#5c4e44;
}

.THIS .slds-wrap input{
    display:block;
    width:inherit;
}
.THIS .slds-wrap .rq-select{
  margin:0.5em 0;
}
.THIS .rq-select .slds-select_container:before,
.THIS .rq-select .slds-select_container:after
{display:none;}

.THIS .slds-wrap .rq-select select{
    width:auto;
    border-color:#afa8a3;
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png') no-repeat 95% center;
}
.THIS .slds-wrap .rq-select label{
    display:none;
}