.THIS {
  background:#fff;
  box-shadow: 0 1px 2px 0 #e0ded9;
  border: solid 1px #e0ded9;
  padding:1em;
}
.THIS .rq-form-body{
    padding:0 1em;
}
.THIS .rq-title{
    display: block;
    color:token(colorGeneral);
    font-family: Repsol-Rg;
    font-size: 1.625em;
    border-bottom: 3px solid token(colorGeneral);
    padding: .25em 0;
    margin-bottom:1em;
}


/*------- BOTON ACEPTAR ------*/
.THIS .rq-accept{
    background:#fff;
    border:1px solid token(colorGeneral);
    padding:0.25em 1.5em;
    color:token(colorGeneral);
    font-size: 14px;
    font-family: Titillium-Rg;
    transition:0.8s ease all;
    margin:2em 0 1em;
}

.THIS .rq-accept:hover,
.THIS .rq-accept:focus{
  	background:token(colorGeneral);
    color:#fff;
    transition: 0.8s ease all;
}
/*--------- FIN BOTON  -------*/