.THIS {
    background:#fff;
    margin-bottom:2em;
    padding:1em;
    box-shadow: 0 1px 2px 0 #e0ded9;
    border: solid 1px #e0ded9;
}

.THIS .rq-btn-search{
    padding:20px;
    background: url('../resource/RQO_sr_QuimicaResources/images/icon-lupa-nar.png') no-repeat center;
    margin:0;
    border: 0;
    display: inline-block;
    vertical-align: middle;
}

.THIS label{
    font-size:14px;
    font-family:Titillium-Rg;
	margin:0.25em 0;
}
.THIS .uiInputDate{
    max-width:135px;
    font-family: Titillium-Rg;
    font-size: 0.875em;
}
.THIS .uiInputDate input{
    border-color:#afa8a3;
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-calendario.png') no-repeat 95% center;
    height:40px;
}
.THIS .uiInput,
.THIS .rq-select
{
    display:inline-block;
    margin-right:1em;
}
.THIS .rq-select select{
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png') no-repeat 95% center;
    font-family: Titillium-Rg;
    font-size: 0.875em;
    width: 200px;
    height:40px;
    border-color:#afa8a3;
}
.THIS .rq-select .slds-select_container:before,
.THIS .rq-select .slds-select_container:after{
    display:none;
}
.THIS .rq-input-date + a{display:none;}