.THIS {
}

.THIS.rq-popup .slds-modal__header{
    text-align:left;
    border-radius:0;
    border-bottom:none;
    padding:1.5em 0 0em 0em;
    
}
.THIS.rq-popup .rq-title-popup
{
  display:block;
  font-family: Repsol-Rg;
  font-size: 1.625em;
  line-height: 1.08;
  color: token(colorGeneral);
  padding:0.5em 0 0.5em 3em;
  background:#fff url('../resource/RQO_sr_QuimicaResources/images/icon-user-plus.png') no-repeat 20px center;
}

.THIS.rq-popup .rq-button-close
{
    position: absolute;
    right: 5%;
    padding: 1em;
    top: 20%;
    border:1px solid transparent;
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-cerrar.png') no-repeat center;
}

.THIS.rq-popup .rq-button-close:hover,
.THIS.rq-popup .rq-button-close:focus{
    border:1px solid #000;
}


.THIS.rq-popup .rq-wrapper-content
{
	border-top: 1px solid #e0ded9;
    border-bottom: 1px solid #e0ded9;
    padding: 1em 2em;
    text-align:left;
}



.THIS.rq-popup .rq-wrapper-content label{
    font-size:14px;
    display:block;
    margin:0.5em;
}

.THIS.rq-popup .slds-modal__footer{
    border-radius:0;
    border-top:none;
    padding:0 1.5em 1em;
    background:#fff;
}
.THIS.rq-popup .slds-modal__footer .rq-button-cancel{
 font-family: Titillium-Rg;
 font-size:0.875em;
 color:token(colorGeneral);
 text-decoration:underline;
 border:1px solid transparent;
 background:#fff;
 height:40px;
 margin-bottom: 2em;
 vertical-align: top;
}

.THIS.rq-popup .slds-modal__footer .rq-button-cancel:hover,
.THIS.rq-popup .slds-modal__footer .rq-button-cancel:focus
{
    background:#fff;
    border:1px solid token(colorGeneral);
}

.THIS.rq-popup .slds-modal__footer .rq-button-accept{
    background:token(colorGeneral);
    border-color:token(colorGeneral);
    color:#fff;
    font-family: Titillium-Rg;
 	font-size:0.875em;
    width:190px;
    height:40px;
    transition:0.8s ease all;
}
.THIS.rq-popup .slds-modal__footer .rq-button-accept:hover,
.THIS.rq-popup .slds-modal__footer .rq-button-accept:focus{
    background:#fff;
    color:token(colorGeneral);
    transition:0.8s ease all;
}
.THIS .rq-medium .rq-select{
    display:inline-block;
    vertical-align:top;
    margin-top:24px;
    margin-bottom:24px;
    max-width:50%;
}
.THIS .rq-medium .rq-select .slds-select_container:before,
.THIS .rq-medium .rq-select .slds-select_container:after
{
    display:none;
}
.THIS select{
    height:40px;
    border:1px solid #afa8a3;
    font-size:14px;
    font-family:Titillium-Rg;
    background: url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png') no-repeat 95% center;
}
.THIS .rq-medium .rq-select{
    font-family: Titillium-Rg;
	font-size: 0.875em;
}