.THIS {
    margin:1em 0;
    width:100%
}

.THIS.rq-caracteristicas-tecnicas{
    
    display:block;
    padding:0.75em;
    background:#FEFEFE;
    border: 1px solid #e0ded9;
    box-shadow: 0 1px 2px 0 #e0ded9;
}


/*Alvaro Alonso*/
.THIS.rq-pedido-hide{
    display:none;
}
/**/

.THIS .rq-title-caracteristicas{
    font-size:0.875em;
    color:token(colorGeneral);
    text-align:left;
    font-family:Titillium-Rg;
    font-weight:bold;
    display:block;
}
.THIS .rq-toggle-caracteristicas{
    display:none;
}

.THIS .rq-title-caracteristicas.rq-ficha-toggle:after{
    content:url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-bottom-nar.png');
    display:inline-block;
    margin-left: 0.5em;
    vertical-align: text-bottom;
    
}
.THIS .rq-title-caracteristicas.rq-ficha-toggle.plegado:after{
     content:url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-top-nar.png');
}
/*::::::::::::::::::::*/
/* ESTILOS ESCRITORIO */
@media only screen and (min-width: 767px)
{
    .THIS .rq-title-caracteristicas.rq-ficha-toggle:after{
        content:' ';
        display:none;
    }
    
    .THIS .rq-toggle-caracteristicas{
        display:block;
    }
}