.THIS {
    background:none;
}
.THIS .rq-create{
    color:token(colorGeneral);
}
.THIS.rq-link-header{
    color:token(colorGeneral);
    font-family:Titillium-Sb;
    font-size:1.125em;
    text-decoration:underline;
    padding:0.25em 0;
    margin-bottom:1em;
}