.THIS {
    background:#fff;
    box-shadow: 0 1px 2px 0 #e0ded9;
 	border:1px solid #e0ded9;
    padding:1em;
    position:relative;
}

.THIS .rq-title{
    
  font-family: Repsol-Rg;
  font-size:1.625em;
  color: token(colorGeneral);
  background:url('../resource/RQO_sr_QuimicaResources/images/icon-camion-plus.png') no-repeat left center;
  padding:0.25em 0 0.25em 2.5em;
  display:block;
  border-bottom:2px solid #e0ded9;
}

.THIS .rq-pedidos-body{
    margin:1.7em 0;
    text-align:center;
}


.THIS .rq-item-pedidos:nth-child(2):before,
.THIS .rq-item-pedidos:nth-child(3):before,
.THIS .rq-item-pedidos:nth-child(4):before{
    content:" ";
    width:100px;
    height:2px;
    display:block;
    background:#e0ded9;
    margin:1em auto;
}

.THIS .rq-item-pedidos:nth-child(4) .rq-num
{
    
    color:#6a972c;
}

.THIS .rq-pedidos-footer{
    padding-top:0.75em;
}

.THIS .rq-link-all{
    background-color:none;
    border:none;
    background: url('../resource/RQO_QuimicaResources/images/icon-mas.png') no-repeat right center;
    color:token(colorGeneral);
    font-size:0.875em;
    font-family:Titillium-Rg;
    padding:0 1em 0 0;
}

.THIS .rq-link-all:hover,
.THIS .rq-link-all:focus
{
    text-decoration:underline;
}

.THIS.slds-spinner_container
{
    position:absolute;
}

.THIS .slds-spinner_brand.slds-spinner:before,
.THIS .slds-spinner_brand.slds-spinner:after,
.THIS .slds-spinner_brand .slds-spinner__dot-a:before,
.THIS .slds-spinner_brand .slds-spinner__dot-b:before,
.THIS .slds-spinner_brand .slds-spinner__dot-a:after,
.THIS .slds-spinner_brand .slds-spinner__dot-b:after,
.THIS .slds-spinner--brand.slds-spinner:before,
.THIS .slds-spinner--brand.slds-spinner:after,
.THIS .slds-spinner--brand .slds-spinner__dot-a:before,
.THIS .slds-spinner--brand .slds-spinner__dot-b:before,
.THIS .slds-spinner--brand .slds-spinner__dot-a:after,
.THIS .slds-spinner--brand .slds-spinner__dot-b:after
{
    background-color:token(colorGeneral);
}


/*::::::::::::::::::*/
/*ESTILOS RESPONSIVE TABLET*/
@media only screen and (min-width: 468px)
{
    .THIS .rq-item-pedidos{
        display:inline-block;
        width:24%;
        
    }
    
    .THIS .rq-item-pedidos:nth-child(2):before,
    .THIS .rq-item-pedidos:nth-child(3):before,
    .THIS .rq-item-pedidos:nth-child(4):before{
        width:2px;
        height:100px;
        float:left;
        display:inline-block;
        margin:0;
    }
}