.THIS {
   margin:1em;
   padding:1em;
   border:1px solid #e0ded9;
   background:#f5f5f2;
}

/*:::::::::::::::::::::::*/
/* ESTILOS DE ESCRITORIO */

@media only screen and (min-width:736px){
     .THIS .rq-item-facturacion:first-child{
        display:inline-block;
        width:40%;
        vertical-align:top;
        position:relative;
      }
    
     .THIS .rq-item-facturacion:first-child:after{
        content:" ";
        width:2px;
        height:100%;
        position:absolute;
        top:0;
        right:0;
        background:#e0ded9;
     }
    
    .THIS .rq-item-facturacion:first-child + .rq-item-facturacion {
        display:inline-block;
        margin-left:25px;
        vertical-align:top;
     }
}