.THIS {
    box-shadow:0 3px 4px 0 rgba(36, 31, 28, 0.26);
    position:relative;
    clear:both;
    display:block;
    position:relative;
}

.THIS .menu-down{
    background:url('../resource/RQO_sr_QuimicaResources/images/menu.png') no-repeat center;
    padding:1em;
	margin:1em;
    border:none;  
}

.THIS .menu-wrapper{display:none;}

.THIS .menu-down.menu-visible{
    background:url('../resource/RQO_sr_QuimicaResources/images/menu-close.png') no-repeat center;
    z-index:0;
}
.THIS .menu-down + .container--repsol {display:none;}

.THIS .container--repsol{
    padding:0 1em;
    max-width:1176px;
    margin:0 auto;
}
.THIS .uiMenu{
    position:static;
}

.THIS .rq-nav-list-item span.rq-label-item{
	width:100%;    
    display:block;
}
.THIS .active-child + .rq-nav-dropdown{
    display:block;
    height:100%;
    top:50px;
}

.THIS .rq-nav-dropdown{
    background: #f5f4f2;
    border-bottom: 3px solid token(colorGeneral);
    box-shadow: 0 9px 21px -4px rgba(0, 0, 0, 0.75);
    display: none;
    left: 0;
    position: absolute;
    text-align: left;
    top: 2.5rem;
    vertical-align: top;
    width: 100%;
    z-index: 1000;
}


.THIS .rq-nav-dropdown li{
    display:block;
    border-bottom:1px solid #99918a;
    padding-left:0;
}

.THIS .rq-nav-list-item{
    display: block;
    vertical-align: top;
    width: 100%;
    border-bottom:1px solid #dbdbdb;
}

.THIS .rq-nav-list-item.menu-parent > a{
	background:url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-menu.png') no-repeat right center;
}
.THIS .rq-nav-list-item.menu-parent > a:hover,
.THIS .rq-nav-list-item.menu-parent > a:focus{
	background:url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-menu-h.png') no-repeat right center;
}

.THIS .rq-nav-list-item.goback > a{
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-menu-volver.png') no-repeat left center;
    padding-left:1em;
    display:block;
    z-index:150;
}
.THIS .rq-nav-list-item.goback > a:hover,
.THIS .rq-nav-list-item.goback > a:focus{
    
     background:url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-menu-volver-h.png') no-repeat left center;
}


.THIS .rq-nav-list-item:hover,
.THIS .rq-nav-list-item:active{
  background: rgba(0, 0, 0, 0) linear-gradient(to right, #ff8200, #ff8200) no-repeat scroll center bottom / 100% 0.25rem;
}

.THIS .rq-nav-list-item:hover > a,
.THIS .rq-nav-list-item:focus > a,
.THIS .rq-nav-list-item:active{
    color:token(colorGeneral);
    text-decoration:none;
}

.THIS .rq-nav-list-item a
{
    color: #99918a;
    display: inline-block;
    font-family: "Titillium-Rg",Arial,Helvetica,sans-serif;
    font-size: 0.9375rem;
    vertical-align: top;
    width:100%;
    padding: 0.625rem 0.875rem;
}
 .THIS .level2 .rq-nav-list-item a{
	 padding:0.25em 0.875em;   
}


/*MENU DERECHO 'QUIMICA'*/
.THIS .menu-right > a{
    padding:0.625rem 0;
    display:inline-block;
    font-size: 0.9375rem;
    color: #99918a;
    font-family: "Titillium-Rg",Arial,Helvetica,sans-serif;
  
}
.THIS .menu-right > a:hover{
      background:linear-gradient(to right, #ff8200, #ff8200) no-repeat scroll center bottom / 100% 0.25rem;
      text-decoration:none;
      color:token(colorGeneral);
}

.THIS .menu-right .rq-nav-dropdown{
    min-height:465px;
}

/*::::::::::::::::::::*/
/* ESTILOS ESCRITORIO */

@media only screen and (min-width: 920px)
{
    .THIS .menu-down{display:none;}
    
    .THIS .menu-wrapper{
    	display:block;
	}
    .THIS .menu-down + .container--repsol {
        display:block;
        position:relative;
    }
    
    .THIS .rq-nav-list-item{
        display: inline-block;
        width: auto;
        border-bottom:1px solid transparent;
	}

	.THIS .rq-nav-dropdown li{width:35%;}
    
    .THIS .menu > .rq-nav-list-item.menu-parent  a
    {
        background:none;
    }
    
   
    .THIS li > a:hover > .rq-nav-dropdown{
        display:block;
        padding:1.1875rem 0 1.8125rem;
	}
    
    .THIS .rq-nav-dropdown .rq-nav-list-item:hover .rq-nav-dropdown.level2{
        display: block;
        width:auto;
        padding: 1.1875rem 0 1.8125rem;
        position: absolute;
        right: 0;
        top: 0;
        left:26%;
        padding-left:2em;
        margin-left:10em;
        box-shadow:unset;
        border:none;
        min-height:100%;
	}
    .THIS .rq-nav-dropdown .rq-nav-list-item:hover .rq-nav-dropdown.level2 a{
        padding:0em;
    }
    
    .THIS .level2 .rq-nav-list-item{
        width:35%;
        padding:0.25rem 0;
    }

    .THIS .rq-nav-dropdown .rq-nav-list-item.goback{display:none;}
    
    	/*MENU DERECHO 'QUIMICA'*/
        .THIS .menu-right{
            background:rgba(0, 0, 0, 0) linear-gradient(-80deg, #ffffff 0%, #f5f4f2 95%, #ffffff 95%) repeat scroll 0 0;
            text-align:right;
        }
    
    
}