.THIS {
}
 .THIS .list-permisos
{
    max-height:238px;
    display:block;
    overflow-y:auto;
}
.THIS .head.celda1,
.THIS .head.celda2{
    font-size:0.91em;
    font-family:Titillium-Bd;
    color: #5c4e44;
    display:none;
    position:relative;
}
.THIS .head .rq-help{  
	padding: 0;
    border: 0;
    background:token(colorGeneral);
    line-height: 0;
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 50px;
    margin-left: 0.5em;
    vertical-align: top;
}
.THIS .head .rq-help svg{ 
    fill:#fff;
    margin:0;
}
.THIS .head .rq-tooltip-infor{
    position: absolute;
    box-shadow: 0 1px 4px 0 #afa8a3;
    padding: 1.5em;
    background:#F8FAFB;
    z-index:100;
    top:100%;
    font-family:Titillium-Rg;
}

.THIS .head .rq-tooltip-infor a{
    text-decoration:underline;
    color:#418080;
    margin-left:5px;
}

.THIS .rq-tooltip-infor:before,
.THIS .rq-tooltip-infor:after{
	border: medium solid transparent;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 15%;
    position: absolute;
    width: 0;
}
.THIS .rq-tooltip-infor:before
{
    border-color: rgba(102, 102, 102, 0) rgba(102, 102, 102, 0) #e0ded9;
    border-width: .5rem;
    margin-left: .5rem;
}

.THIS .rq-tooltip-infor:after
{
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #F8FAFB;
    border-width: .4375rem;
    margin-left: .55rem;
}
.THIS .rq-tooltip-infor .rq-titulo{
    display:block;
    font-weight:bold;
    margin-bottom:0.25em;
}
.THIS .rq-tooltip-infor button{
	padding: 0;
    background: none;
    border: none;
    width: auto;
    float: right;
    line-height: 1;
    margin:-15px -15px 0 0;
}
.THIS .rq-tooltip-infor button svg,
.THIS .rq-tooltip-infor button:hover svg,
.THIS .rq-tooltip-infor button:focus svg{
	fill:#418080;
    margin:0;
}
.THIS .rq-search{
    border-bottom: solid 1px #e0ded9;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}
.THIS .celda1{
    display:block;
    padding:0.5em;
}
.THIS .celda2{
    display:block;
    padding:0.5em;
}

.THIS .rq-texto{
    font-size:0.875em;
    font-family:Titillium-Rg;
    margin:1em 0;
}
.THIS .rq-texto a,
.THIS .rq-tooltip-infor .rq-enlace{
    color:#418080;
    text-decoration:underline;
}
.THIS .rq-controls .rq-input{
 	border-color:#afa8a3;   
}
.THIS .rq-controls .rq-input,
.THIS .rq-controls .rq-button{
    display:inline-block;
    vertical-align:middle;
    margin:0.5em 0;
    font-size:0.875em;
    font-family:Titillium-Rg;
}
.THIS .rq-controls .rq-input{
    width:60%;
    max-width:215px;
    height:40px;
}
.THIS .rq-controls .rq-button{
    width:120px;
    height:40px;
    margin-left:0.5em;
    background:token(colorGeneral);
    color:#fff;
    border:1px solid token(colorGeneral);
    transition:0.8s ease all;
    
}

.THIS .rq-controls .rq-button:hover,
.THIS .rq-controls .rq-button:focus{
    background:#fff;
    color:token(colorGeneral);
    transition:0.8s ease all;
}

/*-------------------*/
/* P A G I N A D O R */
/*-------------------*/

.THIS .rq-pager{
    text-align:center;
    font-family: Titillium-Rg;
    font-size: 0.875em;
    margin-top:0.5em;
}
.THIS .rq-pager li{display:inline-block;margin:0 0.25em;}
.THIS .rq-pager li button{
    border: 1px solid #e0ded9;
    color:#007e94;
    text-decoration: underline;
    line-height: 1;
    padding: .375em .75em;
    border-radius: 0;
}
.THIS .rq-pager li button.active{
    font-family:Titillium-Bd;
    color:#5C4E44;
    border:none;
    text-decoration:none;
}
.THIS .rq-pager li button:hover,
.THIS .rq-pager li button:focus{background:none;}
.THIS .rq-pager li button.rq-arrows{
    text-decoration:none;
    border:0;
    font-size:1.25em;
    font-weight:bold;
}

.THIS .rq-wrapper-footer{
    margin-top:1em;
    text-align:right;
}
.THIS .rq-wrapper-footer .rq-button{
    background:token(colorGeneral);
    font-family:Titillium-Rg;
    font-size:0.875em;
    border:1px solid token(colorGeneral);
    color:#fff;
    padding:0.25em 2em;
    transition:0.8s ease all;
}
.THIS .rq-wrapper-footer .rq-button:hover,
.THIS .rq-wrapper-footer .rq-button:focus{
    background:#fff;
    color:token(colorGeneral);
}
/*::::::::::::::::::::::::::*/
/*::: ESTILOS RESPONSIVE :::*/

@media only screen and (min-width:736px)
{
    
        .THIS .celda1{
          display:inline-block;
          vertical-align:middle;
          width:70%;
        }
        .THIS .celda2{
            display:inline-block;
            vertical-align:middle;
            width:30%;
        }
    	.THIS .head.celda1,
    	.THIS .head.celda2{display:inline-block;}

    	.THIS .list-permisos{border-top:3px solid token(colorGeneral);}
    	.THIS .rq-texto,
    	.THIS .rq-controls{display:inline-block;width:50%;vertical-align:top;margin:0;}
    	.THIS .rq-controls{text-align:right;}
    
}


/*:::::::::::::::::::::::::::::*/
/*::: ESTILOS DE ESCRITORIO :::*/

@media only screen and (min-width:1024px)
{
    .THIS .rq-texto{width:40%;}
    .THIS .list-permisos{max-height:475px;}
    .THIS .rq-controls{width:60%;}
    .THIS .rq-controls .rq-button{margin-left:2em;}
}