.THIS {
    padding:0.75em 0 0.75em .75em;
    background:#fff;
}
.THIS .rq-search-text,
.THIS .rq-search-button{
    display:inline-block;
    vertical-align:top;
}

.THIS .rq-search-text{
    width:85%;
}
.THIS .rq-search-text input{
    height:40px;
    border-color:#afa8a3;
}
.THIS .rq-search-button button
{
    display:inline-block;
    border:none;
    width:38px;
    height:40px;
    background: url('../resource/RQO_sr_QuimicaResources/images/icon-lupa-nar.png') no-repeat center;
}