.THIS {
}

.THIS.rq-nuevo{
    font-family:Titillium-Sb;
    font-size:0.875em;
    color:token(colorGeneral);
    display:block;
    margin:5px 0;
}

.THIS.rq-descripcion{
    width:60%;
    vertical-align:middle;
    font-family:Titillium-Rg;
    font-size:0.875em;
    display:inline-block;
}

.THIS.rq-btn-link{
    display:inline-block;
    vertical-align:middle;
    font-family:Titillium-Rg;
    font-size:0.875em;
    color:#418080!important;
    width:40%;
    background:none;
    text-decoration:underline;
    line-height:1.4;
    padding:0 10px;
    text-align:left;
    border:none;
}
.THIS.rq-btn-link:hover,
.THIS.rq-btn-link:focus{
    font-weight:bold;
}