.THIS {
    background:#fff;
    padding:1em;
    box-shadow:0 1px 2px 0 #e0ded9;
    border:1px solid #e0ded9;
    position:relative;
}

.THIS .rq-title{
    
  font-family: Repsol-Rg;
  font-size:1.625em;
  color: token(colorGeneral);
  background:url('../resource/RQO_sr_QuimicaResources/images/icon-plantillas-plus.png') no-repeat left center;
  padding:0.25em 0 0.25em 2.5em;
  display:block;
  border-bottom:2px solid #e0ded9;
}
.THIS .rq-item-plantilla button.rq-button-link{
    color:#418080;
}
.THIS .rq-plantillas-body{
    margin-bottom:0.5em;
    min-height:150px;
}

.THIS .rq-plantillas-footer{padding-top:0.5em;}

.THIS .rq-link-all{
    background-color:none;
    border:none;
    background: url('../resource/RQO_sr_QuimicaResources/images/icon-mas.png') no-repeat right center;
    color:token(colorGeneral);
    font-size:0.875em;
    font-family:Titillium-Rg;
    padding:0 1em 0 0;
}


.THIS .rq-link-all:hover,
.THIS .rq-link-all:focus
{
    text-decoration:underline;
}

.THIS.slds-spinner_container
{
    position:absolute;
}

.THIS .slds-spinner_brand.slds-spinner:before,
.THIS .slds-spinner_brand.slds-spinner:after,
.THIS .slds-spinner_brand .slds-spinner__dot-a:before,
.THIS .slds-spinner_brand .slds-spinner__dot-b:before,
.THIS .slds-spinner_brand .slds-spinner__dot-a:after,
.THIS .slds-spinner_brand .slds-spinner__dot-b:after,
.THIS .slds-spinner--brand.slds-spinner:before,
.THIS .slds-spinner--brand.slds-spinner:after,
.THIS .slds-spinner--brand .slds-spinner__dot-a:before,
.THIS .slds-spinner--brand .slds-spinner__dot-b:before,
.THIS .slds-spinner--brand .slds-spinner__dot-a:after,
.THIS .slds-spinner--brand .slds-spinner__dot-b:after
{
    background-color:token(colorGeneral);
}