.THIS {
    background:none;
    z-index:9999;
}

.THIS.rq-popup .slds-modal__header{
    text-align:left;
    border-radius:0;
    border-bottom:none;
    padding:1.5em 1.5em 0.5em;
}
.THIS.rq-popup .rq-title-popup
{
  font-family: Repsol-Rg;
  font-size: 1.625em;
  line-height: 1.08;
  color: token(colorGeneral);
  padding:1em 1em 1em 2.5em;
  background: url(../resource/RQO_sr_QuimicaResources/images/icon-correct.png) no-repeat left center;
}

.THIS.rq-popup .rq-button-close
{
    position: absolute;
    right: 5%;
    padding: 1em;
    top: 20%;
    border:1px solid transparent;
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-cerrar.png') no-repeat center;
}

.THIS.rq-popup .rq-button-close:hover,
.THIS.rq-popup .rq-button-close:focus{
    border:1px solid #000;
}

.THIS.rq-popup .rq-wrapper-content
{
    padding:0em 4.5em;
}


.THIS.rq-popup .rq-wrapper-content .rq-popup-label
{
 font-family: Titillium-Rg;
  font-size: 1.125em;
  line-height:1.1;
  color: #5c4e44;
  display:block;
  margin-bottom:1em;
}
.THIS.rq-popup .rq-wrapper-content .rq-popup-enlace
{
  font-family: Titillium-Rg;
  font-size: 1em;
  line-height:1.1;
  color: #418080;
  display:block;
  margin-bottom:1em;
  text-decoration:underline;
}

.THIS.rq-popup .slds-modal__footer{
    border-radius:0;
    border-top:none;
    padding:0 1.5em 1em;
    background:#fff;
}
.THIS.rq-popup .slds-modal__footer .rq-button-cancel{
 font-family: Titillium-Rg;
 font-size:0.875em;
 color:token(colorGeneral);
 text-decoration:underline;
 border:1px solid transparent;
 background:#fff;
 height:40px;
 margin-bottom: 2em;
 vertical-align: top;
}

.THIS.rq-popup .slds-modal__footer .rq-button-cancel:hover,
.THIS.rq-popup .slds-modal__footer .rq-button-cancel:focus
{
    background:#fff;
    border:1px solid token(colorGeneral);
}

.THIS.rq-popup .slds-modal__footer .rq-button-accept{
    background:token(colorGeneral);
    border-color:token(colorGeneral);
    color:#fff;
    font-family: Titillium-Rg;
 	font-size:0.875em;
    width:190px;
    height:40px;   
}

.THIS.rq-popup .slds-modal__footer .rq-button-accept:hover,
.THIS.rq-popup .slds-modal__footer .rq-button-accept:focus
{
    color:token(colorGeneral);
    background:#fff;
}

.THIS.slds-backdrop
{
   z-index:9998;
   background:rgba(126, 140, 153, 0.8);
}

/*:::::::::::::::::::::::::::::::::*/
/*ESTILOS ADMINISTRACION SALESFORCE*/
/*:::::::::::::::::::::::::::::::::*/

.THIS.forceStyles.rq-popup .rq-title-popup
{
  font-family:'Salesforce Sans';
  color: #00A1E0;
}


.THIS.forceStyles.rq-popup .rq-wrapper-content .rq-popup-label
{
 font-family:'Salesforce Sans';
}

.THIS.forceStyles.rq-popup .slds-modal__footer .rq-button-cancel{
 font-family:'Salesforce Sans';
 color:#00A1E0;
}

.THIS.forceStyles.rq-popup .slds-modal__footer .rq-button-cancel:hover,
.THIS.forceStyles.rq-popup .slds-modal__footer .rq-button-cancel:focus
{
    border:1px solid #00A1E0;
}

.THIS.forceStyles.rq-popup .slds-modal__footer{
    background:#fff;
}

.THIS.forceStyles.rq-popup .slds-modal__footer .rq-button-accept{
    background:#00A1E0;
    border-color:#00A1E0;
    font-family: 'Salesforce Sans'; 
    transition:0.8s ease all;
}

.THIS.forceStyles.rq-popup .slds-modal__footer .rq-button-accept:hover,
.THIS.forceStyles.rq-popup .slds-modal__footer .rq-button-accept:focus
{
    transition:0.8s ease all;
    color:#00A1E0;
    background:#fff;
}