.THIS {
   background:#fff;
   text-align:right;
}
.THIS .rq-title-agregar{
  display:block;
  font-family: Titillium-Rg;
  font-weight:bold;
  font-size: 0.875em;
  color:token(colorGeneral);
  margin-bottom:1em;
    text-align: left;
}
.THIS button.rq-button{
    display:block;
    background:token(colorGeneral);
    color:#fff;
    border:1px solid token(colorGeneral);
    padding:0.5em 0;
    width:100%;
    max-width:390px;
    margin:0em auto 1em;
    transition:ease all 0.8s;
}

.THIS .rq-button.rq-link{
    padding: 0;
    background: none;
    display: inline-block;
    border: none;
    width: auto;
}
.THIS .rq-button.rq-link span{
	color:token(colorGeneral);    
}
.THIS .rq-button.rq-link:hover span,
.THIS .rq-button.rq-link:focus span{
    text-decoration:underline;
}
.THIS button.rq-button:hover,
.THIS button.rq-button:focus{
    background:#fff;
}
.THIS .rq-button span{
    color:#fff;
    font-family:Titillium-Sb;
    font-size:0.875em;
    transition:ease all 0.8s;
}

.THIS .rq-button:hover span,
.THIS .rq-button:focus span{
    color:token(colorGeneral);
    transition:ease all 0.8s;
}

.THIS .rq-title-agregar.rq-ficha-toggle:after{
    content:url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-bottom-nar.png');
    display:inline-block;
    margin-left: 0.5em;
    vertical-align: text-bottom;
    
}
.THIS .rq-title-agregar.rq-ficha-toggle.plegado:after{
     content:url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-top-nar.png');
}

.THIS .rq-title-agregar + .rq-pedido{
    display:none;
}
/*::::::::::::::::::::*/
/* ESTILOS ESCRITORIO */
@media only screen and (min-width: 767px)
{
   .THIS .rq-title-agregar + .rq-pedido{display:block;}
   .THIS .rq-title-agregar.rq-ficha-toggle:after{content:' ';display:none;}  
}