.THIS {
    background:#fff;
    padding:0.75em;
}

.THIS .rq-title{
    margin-right:0.5em;
    font-family: Titillium-Rg;
   	font-size: 0.875em;;
  	color: #6e6259;
    display:block;
    margin-bottom:0.5em;
}

/*:::::::::::::::::::::::*/
/* ESTILOS DE ESCRITORIO */
@media only screen and (min-width: 767px)
{
    .THIS .rq-title{display:inline-block;    }
    
}