.THIS {
    margin:0;
    padding:0.5m 0em;
  	font-size:0.875em;
    font-family:Titillium-Rg;
}

.THIS .rq-select{
    margin:0;
    max-width:175px;
}
 .THIS .slds-checkbox_faux{
    border-color:#afa8a3;
}
.THIS > span{
    margin:0.5em 0;
}
.THIS .rq-select label,
.THIS .slds-form-element__label{
    display:none;
}

.THIS .slds-checkbox{
    text-align:right;
}
.THIS .slds-checkbox [type=checkbox]:checked + .slds-checkbox__label > .slds-checkbox_faux:after
{
    border-bottom: 2px solid token(colorGeneral);
    border-left: 2px solid token(colorGeneral);
}
/*::::::::::::::::::::::::::::*/
/*:::: ESTILOS RESPONSIVE ::::*/

@media only screen and (min-width:736px)
{
    .THIS {padding:0.5em 4.5em;}
    .THIS .slds-form-element__label{display:inline;font-size:1em;}
    .THIS .slds-checkbox_faux{margin-right:10px;}
    .THIS .slds-checkbox{text-align:center;}
}