.THIS {
}

.THIS.rq-popup .slds-modal__header{
    text-align:left;
    border-radius:0;
    border-bottom:none;
     background:#fff url('../resource/RQO_sr_QuimicaResources/images/icon-plantillas-int.png') no-repeat 10px center;
    padding:1.5em 1em 0.5em 2.5em;
}
.THIS.rq-popup .rq-title-popup
{
  font-family: Repsol-Rg;
  font-size: 1.625em;
  line-height: 1.08;
  color: token(colorGeneral);
  padding:1em;
 
}

.THIS.rq-popup .rq-button-close
{
    position: absolute;
    right: 5%;
    padding: 1em;
    top: 20%;
    border:1px solid transparent;
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-cerrar.png') no-repeat center;
}

.THIS.rq-popup .rq-button-close:hover,
.THIS.rq-popup .rq-button-close:focus{
    border:1px solid #000;
}



.THIS.rq-popup .rq-wrapper-content
{
	border-top: 1px solid #e0ded9;
    border-bottom: 1px solid #e0ded9;
    padding: 1em 0;
}
.THIS.rq-popup .slds-input
{
    border:1px solid #afa8a3;
    max-width:275px;
}

.THIS.rq-popup .rq-wrapper-content .rq-popup-label,
.THIS.rq-popup label
{
 font-family: Titillium-Rg;
  font-size: 1em;
  line-height:1;
  color: #5c4e44;
  display:block;
  margin-bottom:0.5em;
}


.THIS.rq-popup .slds-modal__footer{
    border-radius:0;
    border-top:none;
    padding:0 1.5em 1em;
    background:#fff;
}
.THIS.rq-popup .slds-modal__footer .rq-button-cancel{
 font-family: Titillium-Rg;
 font-size:0.875em;
 color:token(colorGeneral);
 text-decoration:underline;
 border:1px solid transparent;
 background:#fff;
 height:40px;
 margin-bottom: 2em;
 vertical-align: top;
}

.THIS.rq-popup .slds-modal__footer .rq-button-cancel:hover,
.THIS.rq-popup .slds-modal__footer .rq-button-cancel:focus
{
    background:#fff;
    border:1px solid token(colorGeneral);
}

.THIS.rq-popup .slds-modal__footer .rq-button-accept{
    background:token(colorGeneral);
    border-color:token(colorGeneral);
    color:#fff;
    font-family: Titillium-Rg;
 	font-size:0.875em;
    width:190px;
    height:40px;
    transition:0.8s ease all;
}

.THIS.rq-popup .slds-modal__footer .rq-button-accept:hover,
.THIS.rq-popup .slds-modal__footer .rq-button-accept:focus
{
    color:token(colorGeneral);
    background:#fff;
    transition:0.8s ease all;
}


/*:::::::::::::::::::::::::::::::::*/
/*ESTILOS ADMINISTRACION SALESFORCE*/
/*:::::::::::::::::::::::::::::::::*/

.THIS.forceStyles.rq-popup .rq-title-popup
{
  font-family:'Salesforce Sans';
  color: #00A1E0;
}


.THIS.forceStyles.rq-popup .rq-wrapper-content .rq-popup-label
{
 font-family:'Salesforce Sans';
}

.THIS.forceStyles.rq-popup .slds-modal__footer .rq-button-cancel{
 font-family:'Salesforce Sans';
 color:#00A1E0;
}

.THIS.forceStyles.rq-popup .slds-modal__footer .rq-button-cancel:hover,
.THIS.forceStyles.rq-popup .slds-modal__footer .rq-button-cancel:focus
{
    border:1px solid #00A1E0;
}

.THIS.forceStyles.rq-popup .slds-modal__footer{
    background:#fff;
}

.THIS.forceStyles.rq-popup .slds-modal__footer .rq-button-accept{
    background:#00A1E0;
    border-color:#00A1E0;
    font-family: 'Salesforce Sans';  
}

.THIS.forceStyles.rq-popup .slds-modal__footer .rq-button-accept:hover,
.THIS.forceStyles.rq-popup .slds-modal__footer .rq-button-accept:focus
{
    color:#00A1E0;
}