.THIS {
    background:#fff;
    box-shadow: 0 1px 2px 0 #e0ded9;
  	border: solid 1px #e0ded9;
    padding:1em;
    position:relative;
}

.THIS .rq-title{
    font-family: Repsol-Rg;
    font-size: 1.625em;
    color: #ff8200;
    background: url(../resource/RQO_sr_QuimicaResources/images/icon-certificado-plus.png) no-repeat left center;
    padding: 0.25em 0 0.25em 2.5em;
    display: block;
}

.THIS .rq-wrapper-content li{
    display:block;
    border-bottom:1px solid #e0ded9;
    margin:0 1em;
    padding:1em;
}
.THIS .rq-wrapper-content li:last-child{
    border:0;
}
.THIS .rq-wrapper-content button{
  border:1px solid transparent;
  background: url('../resource/RQO_sr_QuimicaResources/images/icono-descargar.png') no-repeat center;
  padding:1em;
  margin-right:10px;
  display:inline-block;
  vertical-align:middle;
}
.THIS .rq-wrapper-content button:hover,
.THIS .rq-wrapper-content button:focus{
    border:1px solid token(colorGeneral);
}
.THIS .rq-wrapper-content span{
  font-family: Titillium-Rg;
  font-size:14px;
  color: #5c4e44;
  text-align:left;
  display:inline-block;
  vertical-align:middle;
}
.THIS .rq-wrapper-content span span{
    display:block;
}
.THIS .rq-link-all{
    border: none;
    background-color: none;
    background: url(../resource/RQO_sr_QuimicaResources/images/icon-mas.png) no-repeat right center;
    color: #ff8200;
    font-size: .875em;
    font-family: Titillium-Rg;
    padding: 0 1em 0 0;
}
.THIS .rq-link-all:hover,
.THIS .rq-link-all:focus{
    text-decoration:underline;
}


/*ESTILOS RESPONSIVE*/
@media only screen and (min-width:768px)
{
    .THIS .rq-wrapper-content li{
        display:inline-block;
        width:33%;
        margin:1em 0;
        padding:0;
        border-bottom:0;
        text-align:center;
        position:relative;
    }
    .THIS .rq-wrapper-content li:nth-child(1):after,
    .THIS .rq-wrapper-content li:nth-child(2):after{
        content:'';
        width:2px;
        height:40px;
        background:#e0ded9;
        position:absolute;
        top:0;
        right:0;
    }
    .THIS .rq-footer-content button
    {
        position: absolute;
        top:25px;
        right:25px;
    }
    
}