.THIS {
    background:#fff;
    padding:1em;
    box-shadow: 0 1px 2px 0 #e0ded9;
    border: 1px solid #e0ded9;
    position:relative;
}
.THIS .rq-table-wrapper{
   min-height:167px;
}
.THIS .rq-title{
    font-family: Repsol-Rg;
    font-size: 1.625em;
    color: #ff8200;
    background: url(../resource/RQO_sr_QuimicaResources/images/icon-facturas-plus.png) no-repeat left center;
    padding: 0.25em 0 0.25em 2.5em;
    display: block;
    border-bottom: 2px solid #e0ded9;
}

.THIS thead th{
  font-family:Titillium-Bd;
  font-size: 0.938em;
  font-weight: bold;
  color: #5c4e44;
  padding:0.5em;
  border-bottom:1px solid token(colorGeneral);
}
.THIS tbody tr{
    border-bottom:1px solid #e0ded9;
}
.THIS tbody tr:last-child{
    border-bottom:0;
}
.THIS tbody td{
  font-family: Titillium-Rg;
  font-size: 0.875em;
  color: #5c4e44;
  text-align:center;
 
}
.THIS tbody td span{
    display:block;
    padding:0.5em;
}

.THIS button.rq-link-all{
    background-color:none;
    border: none;
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-mas.png') no-repeat right center;
    color: #ff8200;
    font-size: .875em;
    font-family: Titillium-Rg;
    padding:0 1em 0 0;
}

.THIS button.rq-link-all:hover,
.THIS button.rq-link-all:focus{
    text-decoration:underline;
    color: #ff8200;
}

.THIS.slds-spinner_container
{
    position:absolute;
}

.THIS .slds-spinner_brand.slds-spinner:before,
.THIS .slds-spinner_brand.slds-spinner:after,
.THIS .slds-spinner_brand .slds-spinner__dot-a:before,
.THIS .slds-spinner_brand .slds-spinner__dot-b:before,
.THIS .slds-spinner_brand .slds-spinner__dot-a:after,
.THIS .slds-spinner_brand .slds-spinner__dot-b:after,
.THIS .slds-spinner--brand.slds-spinner:before,
.THIS .slds-spinner--brand.slds-spinner:after,
.THIS .slds-spinner--brand .slds-spinner__dot-a:before,
.THIS .slds-spinner--brand .slds-spinner__dot-b:before,
.THIS .slds-spinner--brand .slds-spinner__dot-a:after,
.THIS .slds-spinner--brand .slds-spinner__dot-b:after
{
    background-color:token(colorGeneral);
}