.THIS.wrapper-select{
    margin:1em 0;
    text-align:right;
    
}
.THIS.wrapper-select select
{
    width:auto;
}
.THIS.wrapper-content {
    background:#fff;
    padding:1em;
    box-shadow: 0 1px 2px 0 #e0ded9;
  	border: solid 1px #e0ded9;
}

.THIS .rq-notif-title{
   display:block;
   color:token(colorGeneral);
   font-family:Repsol-Rg;
   font-size:1.625em;
   border-bottom:3px solid token(colorGeneral);
   padding:0.25em 0;
}

.THIS .rq-footer-notif{
    text-align:center;
    margin:1em 0;
}
.THIS .rq-footer-notif li{
    display:inline-block;
    margin:0 0.25em;
}

.THIS .rq-footer-notif li button{
    background: none;
    color: #007e94;
    font-family: Titillium-Rg;
    font-size: .875em;
    width: 25px;
    padding: 0;
    height: 25px;
    line-height: 1;
    border-radius: 0;
    text-decoration: underline;
}
.THIS .rq-footer-notif li button.fa{
    font-family:fontawesome;
    font-weight:bold;
	text-decoration:none;
    font-size:16px;
}