.THIS {
    text-align:left;
}

.THIS.rq-pedido-hide{
    display:none;
}

.THIS .rq-informacion{
  font-family: Titillium-Rg;
  font-size: 0.875em;
  color:token(TextColorGeneral);
  display:block;
  line-height: 1.57;
}

.THIS .rq-title{
  display:block;
  font-family: Titillium-Rg;
  font-weight:bold;
  font-size: 0.875em;
  color:token(colorGeneral);
  margin-bottom:1em;
}

.THIS .label,
.THIS label{
  font-family: Titillium-Rg;
  font-size: 0.875em;
  color:token(TextColorGeneral);
  display:block;
  margin:0.5em 0;
}


.THIS.rq-pedido .rq-button,
.THIS.rq-informacion .rq-button{
  border-radius: 4px;
  border: solid 1px token(colorGeneral);
  background:token(colorGeneral);
  color:#fff;
  line-height:1;
  padding:1em 0;
  width:100%;
  max-width:390px;
  margin:1em auto;
  display:block;
  transition:ease all 0.8s;
  font-family:Titillium-Sb;
  font-size:0.875em;
}
.THIS.rq-pedido .rq-button:hover,
.THIS.rq-pedido .rq-button:focus,
.THIS.rq-informacion .rq-button:hover,
.THIS.rq-informacion .rq-button:focus{
    color:token(colorGeneral);
    background:#fff;
}

.THIS .rq-button span{
    color:#fff;
    font-family:Titillium-Sb;
    font-size:0.875em;
    transition:ease all 0.8s;
}

.THIS .rq-button:hover,
.THIS .rq-button:focus{
    
    background:token(colorGeneral);
    transition:ease all 0.8s;
   
}

.THIS .rq-button:hover span,
.THIS .rq-button:focus span{
    color:token(colorGeneral);
    transition:ease all 0.8s;
}

.THIS.rq-pedido .rq-select label{
    display:none;
}
.THIS.rq-pedido select{
    
    font-family:Titillium-Rg;
    font-size:0.875em;
    color:token(TextColorGeneral);
    height:40px;
    padding:0 10px;
    border:1px solid #afa8a3;
    background:#fff url(../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png) no-repeat 90% center;
}
.THIS.rq-pedido .slds-select_container:before,
.THIS.rq-pedido .slds-select_container:after
{
    display:none;
}
.THIS.rq-pedido select option{
    padding:0 1em;
}

.THIS .cantidad-text input
{
    font-family:Titillium-Rg;
    font-family:0.875em;
    color:token(TextColorGeneral);
    height:40px;
    border:1px solid #afa8a3;
}

.THIS .group-1 .bloque-1 {
    display:inline-block;
    width:35%;
    vertical-align:top;
    margin-right:5%;
}

.THIS .group-1 .bloque-2 {
    display:inline-block;
    width:60%;
    vertical-align:top;
}

.THIS .uiInputDate
{
    width:68%;
    background:none;
}
.THIS input{
    font-family:Titillium-Rg;
    font-size:14px;
}
.THIS .uiInputDate input{
   border:1px solid #afa8a3; 
   font-family:Titillium-Rg;
}

.THIS .uiInputDate .datePicker-openIcon:before
{
    content:' ';
}


.THIS .rq-title.rq-ficha-toggle:after{
    content:url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-menu-h.png');
    display:inline-block;
    margin-left: 0.5em;
    vertical-align: text-bottom;
    transform: rotate(-90deg);
    
}
.THIS .rq-title.rq-ficha-toggle.hidden:after
{
    transform: rotate(90deg);
}
/*::::::::::::::::::::*/
/* ESTILOS ESCRITORIO */
@media only screen and (min-width: 767px)
{
    .THIS .rq-title.rq-ficha-toggle:after{
        content:' ';
        display:none;
    }
}