.THIS {
    padding:1em;
}
.THIS.row-informacion{border-bottom:1px solid #e0ded9;}
.THIS.row-grafico{border-bottom:1px solid #afa8a3;}
.THIS.row-grafico:last-child{border:none;}

.THIS.row-informacion span{padding:0.5em;display:block;}

.THIS td{
   	display:block;
    text-align:center;
    font-family:Titillium-Rg;
    font-size:0.875em;
    margin:1em 0;
}

.THIS .rq-grafico{
    /*display:block;*/
    margin: 1em 0;
    width: 100%;
}
.THIS .rq-grafico .rq-fecha-inf{
    display:inline-block;
    vertical-align:middle;
    margin: 1em 2.5%;
}

.THIS .rq-grafico .rq-fecha-inf .rq-status{
    display:block;
    font-weight:bold;
}


.THIS .wrapper-paso{
    margin:1em 0;
    display:inline-block;
    width:100%;
}
.THIS .rq-grafico .rq-parte-load{
    display:inline-block;
    height:10px;  
    vertical-align:top;
    margin:1em 0;
    position:relative;
	background: rgba(255,130,0,1);
	background: -moz-linear-gradient(left, rgba(255,130,0,1) 0%, rgba(255,149,10,1) 35%, rgba(255,181,26,1) 65%, rgba(255,191,60,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,130,0,1)), color-stop(35%, rgba(255,149,10,1)), color-stop(65%, rgba(255,181,26,1)), color-stop(100%, rgba(255,191,60,1)));
	background: -webkit-linear-gradient(left, rgba(255,130,0,1) 0%, rgba(255,149,10,1) 35%, rgba(255,181,26,1) 65%, rgba(255,191,60,1) 100%);
	background: -o-linear-gradient(left, rgba(255,130,0,1) 0%, rgba(255,149,10,1) 35%, rgba(255,181,26,1) 65%, rgba(255,191,60,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,130,0,1) 0%, rgba(255,149,10,1) 35%, rgba(255,181,26,1) 65%, rgba(255,191,60,1) 100%);
	background: linear-gradient(to right, rgba(255,130,0,1) 0%, rgba(255,149,10,1) 35%, rgba(255,181,26,1) 65%, rgba(255,191,60,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8200', endColorstr='#ffbf3c', GradientType=1 );  
	border-radius:5px 0px 0px 5px;
}
.THIS .rq-grafico .rq-parte-rest{
    display:inline-block;
    height:10px;
    vertical-align:top;
    background:#d8d8d8;
    border-radius:0px 5px 5px 0;
    position:relative;
    margin:1em 0;
}
.THIS .rq-grafico .rq-estado-text{
    position: relative;
    max-width: 0%;
    display: inline-block;
    vertical-align: top;
    z-index: 100;
    font-family:Titillium-Rg;
}

.THIS .rq-grafico .rq-estado-text .rq-estado{
    display:block;
    font-weight:bold;
    margin-left:-10px;
    white-space:pre;
}
.THIS .rq-grafico .rq-estado-text .rq-estado-fecha{
     margin-left:-15px;
}
.THIS .rq-grafico button{
    color:#fff;
    padding:6px;
    background:token(colorGeneral);
    border:2px solid #fff;
    border-radius:25px;
    cursor:default;
  
}
.THIS .rq-grafico button .slds-button__icon
{
    width:1.5em;
    height:1.5em;
}

.THIS button.rq-cancel{
    background: transparent url('../resource/RQO_sr_QuimicaResources/images/menu-close.png') no-repeat center;
    padding: 1em;
    border: 1px solid transparent;
    margin: 0 auto;
    vertical-align:sub;
    border-radius:4px;
}
.THIS button.rq-cancel:hover,
.THIS button.rq-cancel:focus{
    border:1px solid token(colorGeneral);
}

/*ESTADO 1*/
.THIS .rq-grafico .paso-1 .rq-parte-load{width:0%;}
.THIS .rq-grafico .paso-1 .rq-parte-rest{width:100%;border-radius:5px;}
.THIS .rq-grafico .paso-1 .rq-estado,
.THIS .rq-grafico .paso-1 .rq-estado-fecha{margin-left:0;}

/*ESTADO 2*/
.THIS .rq-grafico .paso-2 .rq-parte-load{width:15%;}
.THIS .rq-grafico .paso-2 .rq-parte-rest{width:85%;}

/*ESTADO 3*/
.THIS .rq-grafico .paso-3 .rq-parte-load{width:35%;}
.THIS .rq-grafico .paso-3 .rq-parte-rest{width:65%;}

/*ESTADO 4*/
.THIS .rq-grafico .paso-4 .rq-parte-load{width:55%;}
.THIS .rq-grafico .paso-4 .rq-parte-rest{width:45%;}

/*ESTADO 5*/
.THIS .rq-grafico .paso-5 .rq-parte-load{width:75%;}
.THIS .rq-grafico .paso-5 .rq-parte-rest{width:25%;}

/*ESTADO 6*/
.THIS .rq-grafico .paso-6 .rq-parte-load{width:90%;}
.THIS .rq-grafico .paso-6 .rq-parte-rest{width:10%;}
.THIS .rq-grafico .paso-6 .rq-estado-text{}

.THIS .rq-cantidad-padding{
    padding: 0 !important;
    display: inline-block !important;
}

/*:::::::  ESTILOS DESKTOP :::::::::*/
@media only screen and (min-width:736px)
{
    .THIS td{
        width:8%;
        display:table-cell;
        margin:0;
	}
    
    .THIS .rq-grafico .rq-fecha-inf{
        max-width:10%;
        margin-top:1em;
        margin:1em 2% 0;
	}
    
    .THIS .wrapper-paso{width:70%;}
    
    /*ESTADO 6*/
    .THIS .rq-grafico .paso-6 .rq-parte-load{width:95%;}
    .THIS .rq-grafico .paso-6 .rq-estado-text:before{
        content:"";
        width:100%;
        display:block;
        height:10px;
        background:#FFBE37;
        position:absolute;
        top:1em;
        border-radius:0 4px 4px 0;
      }
    .THIS .rq-grafico .paso-6 button{margin-left:2px;}
    .THIS .rq-grafico .paso-6 .rq-estado-text{width:5%;max-width:5%;}
    .THIS .rq-grafico .paso-6 .rq-estado-text .rq-estado,
    .THIS .rq-grafico .paso-6 .rq-estado-text .rq-estado-fecha {float:right;}
    .THIS .rq-grafico .paso-6 .rq-parte-rest{width:0%;}

    
}