.THIS {
    position:relative;
    text-align:right;
}

.THIS .rq-button-add
{
    padding:0.5em;
    margin:0.5em 0;
    border:none;
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-mas.png') no-repeat center;
}

.THIS .rq-tooltip-add
{
    display:none;
    width:300px;
    position:absolute;
    right:0;
    background:#fff;
    z-index: 100;
    height: 200px;
    border:1px solid #e0ded9;
    box-shadow:0 1px 2px 0 #e0ded9;

}