.THIS {
}
.THIS.item-descargable .rq-select-descarga
{
    display:inline-block;
    font-family: Titillium-Rg;
    font-size:0.875em;
    max-width:175px;
    height:40px;
    margin-right:0.75em;
    background:#fff url(../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png) no-repeat 95% center;
    color:token(TextColorGeneral);
    border: 1px solid #afa8a3;
    padding:0 1em;
}

.THIS.item-descargable .rq-select-descarga option{
    padding:0 1em;
}