.THIS {
    text-align:right;
    margin:1em 0;
}
.THIS.rq-filters .rq-select{
    display:inline-block;
    vertical-align:middle;
    float:left;
    margin:0;
}
.THIS.rq-filters .rq-select .rq-select-filter 
{
    font-size:1.625em;
    background-color: transparent!important;
    border: none;
}
.THIS.rq-filters .rq-select .rq-select-filter option{
    font-size:0.75em;
}

.THIS .search-filter-item{
    margin:0;
    display:inline-block;
    width:350px;
}
.THIS .search-filter-item select.rq-select-filter{
    display: inline-block;
    height: 40px;
    width: 60%;
}
.THIS .rq-button-close{
    border:1px solid transparent;
}
.THIS .rq-button{
    background:token(colorGeneral);
    border: 1px solid token(colorGeneral);
    border-radius: 0.25rem;
    color: #fff;
    display: inline-block!important;
    font-family: "Titillium-Sb",Arial,Helvetica,sans-serif;
    font-size: 0.875em;
    padding: 0.5rem 1.25rem;
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin:1em 0;
    margin-left:2em!important;
}
.THIS .rq-button:hover,
.THIS .rq-button:focus{
    background:#fff;
    color:token(colorGeneral);
}

.THIS button.rq-link-clear{
    display:inline-block;
    color:token(colorGeneral);
    font-family:Titillium-Sb;
    font-size:0.875em;
    border:none;
    background:none;
}
.THIS button.rq-link-clear:hover,
.THIS button.rq-link-clear:focus
{
    text-decoration:underline;
}

.THIS.rq-filter-options-interior{
    background:#fff;
    padding:1.5em;
    box-shadow: 0 5px 10px 0 #e0ded9;
    border: solid 1px #e0ded9;
    display:none;
}

.THIS.rq-filter-options-interior .rq-title-options span{
  font-family: Titillium-Rg;
  font-size: 1.125em;
  text-align: left;
  color: #5c4e44;
  float:left;
}

.THIS.rq-filter-options-interior .rq-title-options button{
	display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
    line-height:0;
}
.THIS.rq-filter-options-interior .rq-title-options button:hover,
.THIS.rq-filter-options-interior .rq-title-options button:focus{
    background:none;
    outline:1px solid #000;
}
.THIS .rq-contain-option
{
    margin: 1em 0;
    border-top: 1px solid #e0ded9;
    padding-top: 1em;
    text-align: left;
}
.THIS .rq-footer-options
{
    margin: 1em 0 0;
    border-top: 1px solid #e0ded9;
    padding-top: 1em;
}

.THIS .rq-option-item{
    margin:1em 0;
}
.THIS .rq-option-item .rq-title-items{
  font-family: Titillium-Rg;
  font-size:0.875em;
  font-weight:bold;
  color: token(colorGeneral);
  display:block;
  margin-bottom:1em;
}

.THIS .rq-option-item input, .THIS .uiInput{
    
   border-color: #e0ded9;
   margin: 0.5em 0;
   font-family: Titillium-Rg;
}

/*checkbox*/
.THIS .rq-option-item .uiInput label {
    display: inline-block;
    vertical-align: top;
    font-family: Titillium-Rg;
  	font-size: 0.875em;
}
.THIS .rq-option-item .uiInput input{
	display: inline-block;
    clear: left;
    float: left;
    margin: 0 1em;
 	color:token(TextColorGeneral);
}
.THIS .rq-option-item .uiInput input:checked{
    background:#fff url('../resource/RQO_sr_QuimicaResources/images/icon-check.png') no-repeat center;
    transition:all ease 0s;
}

/*fin checkbox*/



/*:::::::::::::::::::*/
/* ESTILOS DE TABLET */
@media only screen and (min-width: 767px)
{
    .THIS .rq-option-item .uiInputCheckbox
    {
        display:inline-block;
        width:33%;
    }
    .THIS .rq-option-item .uiInputText
    {
        max-width:491px;
    }

}

/*::::::::::::::::::::::*/
/* ESTILOS DE ESCRITORIO*/
@media only screen and (min-width: 920px)
{
    .THIS .rq-option-item .uiInputCheckbox
    {
        width:24.5%;
    }
}