.THIS {
    background:#F0F2F4;
    display:inline-block;
    padding:1em;
    margin:1em 0;
    border:1px solid #e0ded9;
    width:350px;
}

.THIS span{
    display:block;
    font-family:Titillium-Rg;
    font-size:0.875em;
    
}

.THIS span.rq-nombre{
    font-weight:bold;
    margin-bottom:10px;
}