.THIS {
    font-family: Titillium-Rg;
    color: #041e42;
}

.THIS .rq-title{
  font-size: 1.125em;
  font-weight: bold;
  
}
.THIS li{
    margin: 1em 0.5em;
    display: inline-block;
}
.THIS li:first-child{
    margin-left:0;
}
.THIS li:last-child{
    margin-right:0;
}
.THIS a{
    padding:0.5em 0.5em 0.5em 2.5em;
    background:#fff url('../resource/RQO_sr_QuimicaResources/images/icono-descargar.png') no-repeat 10px center;
    font-size:1em;
    color: token(colorGeneral);
    border:1px solid token(colorGeneral);
    font-weight:bold;
    border-radius:4px;
}

.THIS a:hover,
.THIS a:focus{
    background: token(colorGeneral) url('../resource/RQO_sr_QuimicaResources/images/icono-descargar-h.png') no-repeat 10px center;
    color:#fff;
    text-decoration:none;
   
}