.THIS {
    position:relative;
}

.THIS figure{
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.THIS figure img{
    display: block;
    height: 100%;
   	position: relative;
    width: 100%;
}

.THIS .rq-page-title{
    background: rgba(0, 0, 0, 0) linear-gradient(103deg, rgba(255, 130, 0, 0.9) 0%, rgba(255, 130, 0, 0.9) 50%, rgba(255, 184, 28, 0.9) 100%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0;
    display: block;
    max-width: 100%;
    min-height: 6.25rem;
    position: relative;
}

.THIS .rq-main-title {
  font-family: Repsol-Rg;
  font-size: 1.875em;
  color: #fff;
  padding:1rem 1.25rem 0.25rem;
  display:block;
}

.THIS .rq-section-title {
  font-family:Titillium-Sb;
  font-size: 1.125em;
  color: #fff;
  display:block;
  padding:0.25em 1.25rem;
}


/*::::::::::::::::::::::::::*/
/* ESTILOS RESPONSIVE TABLET*/

@media only screen and (min-width: 736px)
{
    .THIS .rq-main-title {
        font-size:2.5em;
    }
    .THIS .rq-page-title{
        background: rgba(0, 0, 0, 0) linear-gradient(103deg, rgba(255, 130, 0, 0.9) 0%, rgba(255, 130, 0, 0.9) 50%, rgba(255, 184, 28, 0.9) 93%, rgba(0, 0, 0, 0) 90%) repeat scroll 0 0;
        max-width: 65%;
	}
}


/*::::::::::::::::::::::::::*/
/* ESTILOS RESPONSIVE DESKTOP*/

@media only screen and (min-width: 920px)
{
     .THIS .rq-page-title{max-width:60%;}
}