.THIS {
}

.THIS.tpl-h1{
  font-family: Repsol-Rg;
  font-size:2.250em;
  color: token(colorGeneral);
  display:block;
  margin:0.5em 0;
  line-height:1;
}

.THIS.tpl-entradilla{
  font-family: Titillium-Rg;
  font-size: 1.125em;
  color: #5c4e44;
  display:block;
  margin:0.5em 0;
}