.THIS {

}
.THIS .rq-wrapper{
    max-width:376px;
        min-height:284px;
    background:url('../resource/RQO_sr_QuimicaResources/images/img-mi-catalog.png') no-repeat top left;
    background-size:100% auto ;
	box-shadow: 0 1px 2px 0 #e0ded9;
  	border: solid 1px #e0ded9;
    position:relative;
}
.THIS .rq-title:before{
    content:'';
     width: 2px;
  	height: 76px;
  	transform: rotate(10deg);
    display:inline-block;
    background:token(colorGeneral);
    position:absolute;
    top:0;
    left:-15px;    
}

.THIS .rq-title{
    color:token(colorGeneral);
    font-size:36px;
    display:block;
    font-family:Titillium-Rg;
    display:block;
    width:200px;
    line-height:1;
    margin:0.75em 1em;
    position:relative;   
}
.THIS .rq-button
{
    display: inline-block;
    height: 2.5rem;
    border-radius: .25rem;
    color: token(colorGeneral);
    width: 9.813rem;
    background:#fff url(../resource/RQO_sr_QuimicaResources/images/arrow-pointing-to-right.png) no-repeat 80% center;
    -webkit-transition: ease .8s;
    transition: ease .8s;
    padding: .25rem 3rem .5rem 1rem;
    border: 1px solid token(colorGeneral);
    font-family: Titillium-Sb;
    font-size: 1rem;
    text-align: center;
    position:absolute;
    bottom:15px;
    left:15px;    
}

.THIS .rq-button:hover,
.THIS .rq-button:focus{
    color:#fff;
    background:token(colorGeneral) url(../resource/RQO_sr_QuimicaResources/images/arrow-pointing-to-right-b.png) no-repeat 80% center;
}