.THIS {
    display:block;
    text-align:center;
    padding:1em 0;
}

.THIS .rq-segmento-title{
	color: token(TextColorGeneral);
    display: block;
    font-family: Titillium-Rg;
    font-size: 0.875em;
}

/*::::::::::::::::::::*/
/* ESTILOS RESPONSIVE */

@media only screen and (min-width:767px)
{
    .THIS
    {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 33%;
        padding:0 5px;
    }
}