.THIS {
  	box-shadow: 0 1px 2px 0 rgba(0, 58, 92, 0.5);
    margin:1em 0;
}

.THIS .rq-banner-lateral-header
{
    background:#fff;
    padding:1em 1.5em;
    position:relative;
}

.THIS .rq-banner-lateral-header .rq-banner-title
{
  font-family: Repsol-Rg;
  font-size:1.625em;
  color: token(colorGeneral);
  display:inline-block;
  width:60%;
  line-height:1.1;
}

.THIS .rq-banner-lateral-header .rq-toggle
{
   position:absolute;
   right:5%;
   top:33%;
   border:1px solid transparent;
   border-radius:4px;
   background:none;
   line-height:1;
   color:token(colorGeneral);
   padding:0.5em;
}
.THIS .rq-banner-lateral-header .rq-toggle button{
    
}
.THIS .rq-banner-lateral-header .rq-toggle:hover,
.THIS .rq-banner-lateral-header .rq-toggle:focus
{
    border-color:token(colorGeneral);
}

.THIS .rq-banner-lateral-cuerpo
{
    background:#f8fafb;
    padding:0.5em 1.5em;
}