.THIS {
    background:#fff;
    box-shadow: 0 1px 2px 0 #e0ded9;
  	border: solid 1px #e0ded9;
    padding:1em;
    font-size:14px;
    font-family:Titillium-Rg;
}
.THIS .movil-hide{
    display:none;
}
.THIS .rq-input-inf{
    display:none;
    padding:1em;
    border:1px solid token(colorGeneral);
}
.THIS .uiInput{
    display: inline-block;
    margin-right:1em;
}

.THIS select.rq-select{
    display:inline-block;
    padding:1em 1em 1em 0;
}
.THIS select.rq-select.select,
.THIS select{
    background-image:url("../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png");
    background-repeat:no-repeat;
    background-position:95% center;
    background-size:auto;
}
.THIS .uiInput input,
.THIS .rq-select select{
    height:40px;
    width:100%;
	border-color:#afa8a3;
}

.THIS .slds-select_container::before, 
.THIS .slds-select_container::after{
    display:none;
}
.THIS .rq-btn-search{
    padding:20px;
    background: url('../resource/RQO_QuimicaResources/images/icon-lupa-nar.png') no-repeat center;
    margin:0 1em;
    border:1px solid transparent;
    display: inline-block;
    vertical-align: middle;
}
.THIS .rq-btn-search:hover,
.THIS .rq-btn-search:focus{
    border:1px solid token(colorGeneral);
}
.THIS .rq-search-advance
{
    display:block;
    margin:1em auto -1px;
    padding:0 1em;
    height:45px;
    color:token(colorGeneral);
    border:1px solid token(colorGeneral);
    border-radius:4px;
    transition:0.8s ease all;
    font-family:Titillium-Rg;
    background:#fff;
    position:relative;
}
.THIS .rq-search-advance.open{
    border-bottom:1px solid #fff;
    border-radius:4px 4px 0 0 ;
}
.THIS .rq-search-advance:before{
    font-family:fontawesome;
    float:right;
    font-weight: bold;
    margin-left: 1em;
}
.THIS .rq-search-advance:hover{
    color:#fff;
    background:token(colorGeneral);
    transition:0.8s ease all;
}
.THIS .uiInput label,
.THIS .rq-select label{
    font-size:14px;
    margin:0.5em 0;
    display:block;
    position:relative;
    height:45px;
}
.THIS .uiInput label span,
.THIS .rq-select label span{
    position:absolute;
    bottom:0;
}
.THIS .rq-fecha input{
    margin:-1px;
    background-image: url('../resource/RQO_sr_QuimicaResources/images/icon-calendario.png');
    background-position: 95% center;
    background-size: unset;
    background-repeat: no-repeat;
}


.THIS .rq-fecha input + .datePicker-openIcon
{
    display:none;
}
.THIS .rq-controls{
    margin:2em 0 0;
    text-align:right;
}
.THIS .rq-controls button{
    height:40px;
    padding:0 0.75em;
}

.THIS .rq-controls .rq-clear
{
    background:none;
   	border:1px solid transparent;
    color:token(colorGeneral);
    text-decoration:underline;
    transition:0.8s ease all;
}
.THIS .rq-controls .rq-clear:hover,
.THIS .rq-controls .rq-clear:focus{
    border-color:token(colorGeneral);
    transition:0.8s ease all;
}
.THIS .rq-controls .rq-btn-search-2
{
    color:#fff;
    background:token(colorGeneral);
    border:1px solid token(colorGeneral);
    transition:0.8s ease all;
}
.THIS .rq-controls .rq-btn-search-2:hover,
.THIS .rq-controls .rq-btn-search-2:focus{
    background:#fff;
    color:token(colorGeneral);
    transition:0.8s ease all;
}
/*::::::::::::::::::::*/
/* ESTILOS TABLET */

@media only screen and (min-width:768px){
 
   
    .THIS .uiInput,
    .THIS .rq-select{max-width: 135px; margin-right:1em;display:inline-block;}
    
    .THIS .rq-input-inf .uiInput,
    .THIS .rq-input-inf .rq-select{max-width:390px;}

    .THIS .rq-input-inf .rq-fecha{display:inline-block;width:20%;}
    .THIS .rq-input-inf .uiInputDate {max-width:135px;}
    .THIS .rq-btn-search{margin:0;}
    .THIS .movil-hide{display:initial;}
    .THIS select{width:auto;height:40px;}
    .THIS .rq-input-inf .slds-form-element{display:inline-block;margin-right:1.5em;}
    .THIS .wrapper-search-advance {
        display:inline-block;
        text-align:right;
        position:relative;
    }
}
/*::::::::::::::::::::*/
/* ESTILOS ESCRITORIO */

@media only screen and (min-width:920px){
        
    .THIS .rq-input-sup> div{
        width:17%;
        display:inline-block;
        vertical-align:top;
    }
    .THIS .rq-input-sup> div.wrapper-search-advance{
        width:29.5%;
        display:inline-block;
        vertical-align:top;
        margin-top:45px;
    }
    
    .THIS .rq-input-sup> div.rq-input-inf{
        width:100%;
        display:none;
    } 
        
    .THIS .rq-btn-search{margin-right:1em;}
    .THIS .rq-search-advance{margin-right:-1px;display:inline-block;vertical-align:bottom;}
}