.THIS {
    margin-bottom:1em;
}
.THIS .rq-description-text
{
    display:none;
    color:token(TextColorGeneral);
    font-family:Titillium-Lg;
    font-size:1.125em;
    line-height: 1.44;
}
.THIS .rq-title{
    font-size:0.875em;
    color:token(colorGeneral);
    text-align:left;
    font-family:Titillium-Rg;
    font-weight:bold;
    display:block;
}

.THIS .rq-title:hover,
.THIS .rq-title:focus{
    cursor:pointer;
}

.THIS .rq-title.rq-ficha-toggle:after{
    content:url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-bottom-nar.png');
    display:inline-block;
    margin-left: 0.5em;
    vertical-align: text-bottom;
}
.THIS .rq-title.rq-ficha-toggle.plegado:after{
      content:url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-top-nar.png');
}
/*:::::::::::::::::::::*/
/*ESTILOS DE ESCRITORIO*/

@media only screen and (min-width: 767px)
{
    .THIS .rq-title{
        display:none;
    }
    
    .THIS .rq-title:hover,
    .THIS .rq-title:focus{
        cursor:default;
    }
    .THIS .rq-description-text{
        display:block;
    }
}