.THIS {
    border-bottom:1px solid #e0ded9;
    padding-bottom:1em;
    margin-bottom:1em;
}

.THIS.cabecera{
    padding: .5em 0 0 2.25em;
    border-bottom: 3px solid #ff8200;
    font-family: Repsol-Rg;
    font-size: 1.625em;
    color: #ff8200;
    background: url('../resource/RQO_sr_QuimicaResources/images/icon-camion-plus.png') no-repeat left center;
}

.THIS .rq-textarea{
    text-align:right;
    margin:.5em 0;  
}
.THIS .rq-textarea textarea{
    border-color:#afa8a3;
}
.THIS .rq-textarea > div{
    text-align:left;
    font-family:Titillium-Rg;
    font-size:0.875em;
}

.THIS .rq-textarea label{
    margin: 0.5em 0;
    display: block
}
/*:::::::::::::::::::::::*/
/* E S T I L O S   E S C R I T O R I O */
@media only screen and (min-width:768px)
{
    .THIS .rq-textarea > div{
        width:50%;
        display:inline-block;
    }
}