.THIS {background:#f5f5f2;}

.THIS .siteforceContentArea{background:#f5f5f2;}

.THIS .wrapper{
    padding:1em 0;
    max-width:1200px;
    position:relative;
    margin:0em auto;
}

.THIS .rq-header{background:#fff;position:relative;}
.THIS .rq-footer{border-top:5px solid #fff;}

.THIS .slds-col{display:inline-block;}
.THIS .slds-col.sidebar{margin-top:3em;}
.THIS .slds-col:first-child
{
	padding-right:10px;
}

/*ESTILOS ESCRITORIO*/
@media only screen and (min-width:920px)
{
    .THIS .rq-header{position:fixed;top:0;z-index:9000;width:100%;}
    .THIS .body.wrapper{margin-top:150px;}
}