.THIS {
    background:#fff;
    box-shadow: 0 1px 2px 0 #e0ded9;
    border:1px solid #e0ded9;
    border-bottom:0;
    margin-top:1em;
}

.THIS .rq-header-resum{
    font-family:Repsol-Rg;
    color:#5c4e44;
    font-size:1.625em;
    padding:0.75em 0.5em 0;
}