.THIS {
    margin:1em 0;
}

.THIS.rq-select select{
  font-family: Titillium-Rg;
  font-size:14px;
  color: #5c4e44;
  padding:0 1em;
  padding-right:25px;
  background-image:url("../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png");
  background-position:95% center;
  background-size:unset;
  background-repeat:no-repeat;
  border-color:#afa8a3;
  height:40px;
}
.THIS .slds-select_container:after,
.THIS .slds-select_container:before{
    border:none;
}
.THIS .rq-select-filter option{
    padding:0 1em;
}