.THIS {

}

.THIS.rq-catalogo{
    text-align:center;
}
/*:::::::::::::::::::::::*/
/* ESTILOS DE ESCRITORIO */

@media only screen and (min-width: 920px)
{
    .THIS.rq-catalogo{
   		 text-align:left;
	}
}