.THIS {
}
.THIS .rq-tabla-historica{
    position:relative;
}
.THIS .wrapper-button{
    text-align:right;
    margin:1em 0;   
}

.THIS .wrapper-button .rq-select-agrupacion{
    display: inline-block;
    vertical-align: bottom;
}
.THIS .wrapper-button .rq-select-agrupacion .rq-select{margin:.5em 0 .5em 1em;display:inline-block;}
.THIS .wrapper-button .rq-select-agrupacion label{display:none;}
.THIS .wrapper-button .rq-select-agrupacion .rq-label{font-size:0.875em;font-family:Titillium-Rg;}
.THIS .wrapper-button .rq-select-agrupacion select{
    height:40px;
    background-image:url("../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png");
    background-repeat:no-repeat;
    background-position:95% center;
    background-size:auto;
    font-size: 0.875em;
	font-family: Titillium-Rg;
    border:1px solid #e0ded9;
}


.THIS .slds-select_container::before, 
.THIS .slds-select_container::after{
    display:none;
}

.THIS .wrapper-button .rq-btn-excel{
    background:#fff url('../resource/RQO_sr_QuimicaResources/images/icon-excel.png') no-repeat 15px center;
    color:token(colorGeneral);
    border:1px solid token(colorGeneral);
    padding:5px 15px 5px 45px;
    font-family: Titillium-Rg;
    font-size: 0.875em;
    transition:0.8s all ease;
    margin:0.5em 0 0.5em 1em;
}

.THIS .wrapper-button .rq-btn-excel:hover,
.THIS .wrapper-button .rq-btn-excel:focus{
    background:token(colorGeneral) url('../resource/RQO_sr_QuimicaResources/images/icon-excel-h.png') no-repeat 15px center;
    color:#fff;
    font-weight:bold;
    transition:0.8s all ease;
}

.THIS .rq-paginador{
    text-align:center;
    margin:1em 0;
}

.THIS .rq-paginador li{
    display:inline-block;
    vertical-align:middle;
    margin-left:0.5em;
}
.THIS .rq-paginador .rq-arrows{
	color: #007e94;
    font-size: 25px;
    font-weight: bold;
}

.THIS .rq-paginador .rq-arrows:hover,
.THIS .rq-paginador .rq-arrows:focus{
    color:#e0ded9;
}
.THIS .rq-paginador li button{
    font-size:0.875em;
    font-family:Titillium-Rg;
    width:25px;
    line-height:1.8;
    padding:0;
    border:solid 1px #e0ded9;
   	border-radius:0;
    color:#007e94;
    text-decoration:underline;
    transition:0.8s ease all;
}
.THIS .rq-paginador li button.active,
.THIS .rq-paginador li button:hover,
.THIS .rq-paginador li button:focus{
    background:none;
    border:solid 1px transparent;
    color:#5c4e44;
    text-decoration:none;
    font-family:Titillium-Sb;
    transition:0.8s ease all;
}

/*:::::::: PAGINACION :::::::::*/
.THIS .rq-paginator {text-align:center;}
.THIS .rq-paginator .rq-paginator-item{display:inline-block; }
.THIS .rq-paginator .rq-paginator-item button{
        background:#fff;
        color:#007e94;
        border:1px solid #e0ded9;
    	border-radius:0;
        margin:0.5em 0.25em;
        padding:0 0.5em 0.25em;
    	line-height:1.5;
        font-family:Titillium-Rg;
        font-size:0.875em;
    	text-decoration:underline;
    }
.THIS .rq-paginator .rq-paginator-item button.fa{
    font-family: fontawesome;
    text-decoration: none;
    padding-top: 0.125em;
    padding-bottom: 0.125em;
}
.THIS .rq-paginator .rq-paginator-item button.page-active{
    text-decoration:none;
    background:none;
    border:none;
}

/*:::::::::::::::::::::::::::::::::::*/
/*::::::::: S P I N N E R :::::::::::*/
.THIS .slds-spinner_container
{
    position:fixed;
}

.THIS .slds-spinner_brand.slds-spinner:before,
.THIS .slds-spinner_brand.slds-spinner:after,
.THIS .slds-spinner_brand .slds-spinner__dot-a:before,
.THIS .slds-spinner_brand .slds-spinner__dot-b:before,
.THIS .slds-spinner_brand .slds-spinner__dot-a:after,
.THIS .slds-spinner_brand .slds-spinner__dot-b:after,
.THIS .slds-spinner--brand.slds-spinner:before,
.THIS .slds-spinner--brand.slds-spinner:after,
.THIS .slds-spinner--brand .slds-spinner__dot-a:before,
.THIS .slds-spinner--brand .slds-spinner__dot-b:before,
.THIS .slds-spinner--brand .slds-spinner__dot-a:after,
.THIS .slds-spinner--brand .slds-spinner__dot-b:after
{
    background-color:token(colorGeneral);
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::: T A B L A *:::::::::::::::::::::::::::*/
.THIS .rq-wrapper-tabla{
    background:#fff;
    box-shadow: 0 1px 2px 0 #e0ded9;
  	border: solid 1px #e0ded9;
    margin:1.5em 0;
}

.THIS caption{
    background: #F9F8F7;
    font-family:Titillium-Rg;
    padding: 1em;
    border-bottom: 1px solid #afa8a3;
}
.THIS caption .rq-header{
    background:none;
    z-index:0;
}
.THIS caption .rq-header:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 20px;
    display: block;
    background: #e0ded9;
}
.THIS .rq-header{
    font-weight:bold;
    margin-right:20px;
    padding-right:1em;
    position:relative;
    background:none;
}


.THIS thead span{
    display:block;
    font-weight:bold;
    padding:0.75em 0.25em;
    font-size:0.875em;
    font-family:Titillium-Rg;
}

.THIS tbody{
    border-top:3px solid token(colorGeneral);
    text-align:left;
}
.THIS tbody tr{
    position:relative;
    display:block;
}
.THIS tbody tr:after{
    content:'';
    display:block;
    width:100%;
    height:1px;
    background:#e0ded9;
    position:absolute;
    left:0;
}
.THIS tbody td{
    text-align:left;
    
}
.THIS thead th:nth-child(1),
.THIS thead th:nth-child(2),
.THIS tbody td:nth-child(1),
.THIS tbody td:nth-child(2),
.THIS .rq-tabla-historica tbody td.rq-table-block:nth-last-child(2),
.THIS .rq-tabla-historica tbody td.rq-table-block:nth-last-child(3)
{
    display:inline-block;
    width:50%;
    text-align:center;
}
.THIS thead th:nth-child(n+3),
.THIS tbody td:nth-child(n+3){
    display:none;
}

.THIS tbody td:nth-child(n+3):before{
    content: attr(data-content);
    font-weight: bold;
    text-transform: uppercase;
    display:inline-block;
    width:50%;   
}

.THIS tbody td:nth-child(1):before,
.THIS tbody td:nth-child(2):before,
.THIS tbody td:nth-last-child(2):before,
.THIS tbody td:nth-last-child(3):before{
    width:auto;
}	
.THIS tbody td:nth-child(n+3) span{
    display:inline-block;
}
.THIS thead th:last-child,
.THIS tbody td:last-child{
    display:block;
    position:absolute;
    right:5px;
    top:0;		
}

.THIS tbody td span{
    padding:1em 0.5em;
    display:block;
}
.THIS tbody td button{
    border:none;
    background:transparent;
    border:2px solid transparent;
    width:35px;
    height:35px;
}

.THIS tbody td button.rq-button-toggle{
    padding:0;
    border:none;
    background:none;
    color:#000;
    width:auto;
    height:auto;
}
.THIS tbody td button:hover,
.THIS tbody td button:focus{
    border:2px solid token(colorGeneral);
}
.THIS tbody td button.rq-button-toggle:hover,
.THIS tbody td button.rq-button-toggle:focus{
    border:none;
}
.THIS tbody td button span{
  padding:0;
}
.THIS tbody td button svg{
    width:25px;
    height:25px;
    color:token(colorGeneral);
}
.THIS button.rq-add{
    display:block;
    margin:0 auto;
}
.THIS button.rq-descarga{
    display:block;
    margin:0 auto;
    width:35px;
    height:35px;
    background:url('../resource/RQO_sr_QuimicaResources/images/icono-descargar.svg') no-repeat center;
}
.THIS tbody td.rq-table-block{
   display:block;
   width:100%;
   padding:0.5em;
   background:#fcfbfb;
}
/*:::::::: PAGINACION :::::::::*/
.THIS .rq-paginator {text-align:center;}
.THIS .rq-paginator .rq-paginator-item{display:inline-block; }
.THIS .rq-paginator .rq-paginator-item button{
        background:#fff;
        color:#007e94;
        border:1px solid #e0ded9;
    	border-radius:0;
        margin:0.5em 0.25em;
        padding:0 0.5em 0.25em;
    	line-height:1.5;
        font-family:Titillium-Rg;
        font-size:0.875em;
    	text-decoration:underline;
    }
.THIS .rq-paginator .rq-paginator-item button.fa{
    font-family: fontawesome;
    text-decoration: none;
    padding-top: 0.125em;
    padding-bottom: 0.125em;
}

/*:::::::::::::::::::::::::::::::::::::::::*/
/*:::::: ESTILOS ESCRITORIO ::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::*/

@media only screen and (min-width:1023px)
{
    
	.THIS thead th:nth-child(1),
    .THIS thead th:nth-child(2), 
    .THIS tbody td:nth-child(1), 
    .THIS tbody td:nth-child(2),
    .THIS .rq-tabla-historica tbody td.rq-table-block:nth-last-child(2),
    .THIS .rq-tabla-historica tbody td.rq-table-block:nth-last-child(3){
        width:auto;
        display:initial;
    }
    .THIS thead th{
        text-align:center;
    }
     .THIS thead th:nth-child(6){
        text-align:center;
    }
    .THIS tbody tr{
        display:table-row;
    }
    .THIS tbody td{
        text-align:center;
        vertical-align:middle!important;
    }
	.THIS tbody td:nth-child(n+3):before {
        content: "";
        font-weight: bold;
        text-transform: uppercase;
        display:none;
 	}
    .THIS thead th:nth-child(n+2),
    .THIS tbody td:nth-child(n+2){
        display:table-cell;
        vertical-align:bottom;
    }

    .THIS thead th:last-child,
    .THIS tbody td:last-child{
        display:none;
    }
    
    .THIS thead th:nth-child(1),.THIS tbody td:nth-child(1){width:10%;display:table-cell;vertical-align:bottom;}
    .THIS thead th:nth-child(2),.THIS tbody td:nth-child(2){width:10%;}
    .THIS thead th:nth-child(3),.THIS tbody td:nth-child(3){width:13%;}
    .THIS thead th:nth-child(4),.THIS tbody td:nth-child(4){width:10%;}
    .THIS thead th:nth-child(5),.THIS tbody td:nth-child(5){width:5%;}
    .THIS thead th:nth-child(6),.THIS tbody td:nth-child(6){width:5%;}
    .THIS thead th:nth-child(7),.THIS tbody td:nth-child(7){width:13%;}
    .THIS thead th:nth-child(8),.THIS tbody td:nth-child(8){width:7%;}
    .THIS thead th:nth-child(9),.THIS tbody td:nth-child(9){width:12%;}
    .THIS thead th:nth-child(10),.THIS tbody td:nth-child(10){width:8%;}
    .THIS thead th:nth-child(11),.THIS tbody td:nth-child(11){width:5%;}
    .THIS thead th:nth-child(12),.THIS tbody td:nth-child(12){width:0%;}
    .THIS thead th:nth-child(13),.THIS tbody td:nth-child(13){width:0%;}
      
}