.THIS {
    margin-bottom:1em;
}

.THIS .col{
    vertical-align:bottom;
    display:inline-block;
}
/*CHECKBOX*/
.THIS .rq-checkDireccion{margin-bottom:7px;}
.THIS .rq-checkDireccion label{
    font-family:Titillium-Rg;
}

.THIS .rq-checkDireccion .slds-checkbox--faux{border-color:#afa8a3;}

.THIS .slds-checkbox [type="checkbox"]:checked + .slds-checkbox__label .slds-checkbox--faux::after
{
   border-bottom:2px solid token(colorGeneral);
   border-left:2px solid token(colorGeneral);
}

/*SELECT*/
.THIS .rq-select {float:right;width:80%;}
.THIS .rq-select .slds-select_container:before,
.THIS .rq-select .slds-select_container:after{display:none;}
.THIS .rq-select label{
   font-family:Titillium-Rg;
   font-size:14px;
   margin-bottom:0.75em;
   float:left;
}
.THIS .rq-select select
{
    font-family:Titillium-Rg;
    font-size:14px;
    height:40px;
    background:url("../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png") no-repeat 95% center;
}

/*Button*/
.THIS .rq-button{
    margin:2.25em 0;
}