.THIS {
    font-family:Titillium-Rg;
    font-size:0.875em;
}

.THIS .listado-permisos{
    margin:2em 0;
}
.THIS .listado-permisos li{
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-checked-plus.png') no-repeat left center;
	background-size: auto 25px;
    padding-left:3em;
    margin:3em 4em;
}