.THIS {
    background-color:#f5f5f5;
    position:absolute;
    top:0;
    z-index:1000;
    box-shadow: 0 1px 10px grey;
}

.THIS .texto
{
    background-color: #f5f5f5;
    margin: 0 auto;
    padding: 20px 30px 10px;
    font-size: 15px;
    font-family:Titillium-Rg;
    color: #6f6563;     
}
       
.THIS .botonesCookies {
    background-color: #f5f5f5;
    padding: 0 30px 0;
    margin: 0 auto;
    text-align:center;
    font-family:Titillium-Sb;
}
        
.THIS .botonesCookies a {
    color: #ff8200;
    display:inline-block;
    vertical-align:middle;
}

.THIS .botonesCookies button {
    display:block;
    background: none;
    color: #ff8200;
    margin: 0.75em auto;
    line-height: 1;
    border-top: 1px solid #ff8200;
    border-radius: 0;
    padding: 0.75em 0;
}
.THIS .botonesCookies button:hover,
.THIS .botonesCookies button:focus{
    color:#ff8200;
    text-decoration:underline;
}
/*---- ESTILOS TABLET ------*/
@media only screen and (min-width:600px)
{
    .THIS{height:100%;}
}

/*---- ESTILOS ESCRITORIO ------*/
@media only screen and (min-width:920px)
{
    .THIS .botonesCookies {text-align:right; padding: 0 30px 20px;}

    .THIS .botonesCookies button {
        display:inline-block;
        border-left: 1px solid #ff8200;
        border-top:0;
        border-radius: 0;
        padding: 0 0.75em;
        margin: 0 0.75em;
    }
}