.THIS {
}

.THIS.rq-popup .slds-modal__header{
    text-align:left;
    border-radius:0;
    border-bottom:none;
    padding:1.5em 0 0.5em 2em;
}
.THIS.rq-popup .rq-title-popup
{
  font-family: Repsol-Rg;
  font-size: 26px;
  line-height: 1.08;
  color: token(colorGeneral);
  padding:0.5em 0 0.5em 2em;
  width:75%;
  display:inline-block;
  vertical-align:top;
  background: url(../resource/RQO_sr_QuimicaResources/images/icon-plantillas-int.png) no-repeat left center;
}

.THIS.rq-popup .rq-button-close
{
    position: absolute;
    right: 5%;
    padding: 1em;
    top: 20%;
    border:1px solid transparent;
    background:url('../resource/RQO_QuimicaResources/images/icon-cerrar.png') no-repeat center;
}

.THIS.rq-popup .rq-button-close:hover,
.THIS.rq-popup .rq-button-close:focus{
    border:1px solid #000;
}

.THIS.rq-popup .rq-wrapper-content
{
	border-top: 1px solid #e0ded9;
    border-bottom: 1px solid #e0ded9;
    padding:1em;
    font-family:Titillium-Rg;
}
.THIS.rq-popup .rq-wrapper-content .rq-titulo{
    font-size:16px;
    margin-bottom:1em;
}

.THIS.rq-popup .slds-modal__footer{
    border-radius:0;
    border-top:none;
    padding:0 1.5em 1em;
    background:#fff;
}
.THIS.rq-popup .slds-modal__footer .rq-button-cancel{
 font-family: Titillium-Rg;
 font-size:0.875em;
 color:token(colorGeneral);
 text-decoration:underline;
 border:1px solid transparent;
 background:#fff;
 height:40px;
 margin-bottom: 2em;
 vertical-align: top;
}

.THIS.rq-popup .slds-modal__footer .rq-button-cancel:hover,
.THIS.rq-popup .slds-modal__footer .rq-button-cancel:focus
{
    background:#fff;
    border:1px solid token(colorGeneral);
}

.THIS.rq-popup .slds-modal__footer .rq-button-accept{
    background:token(colorGeneral);
    border-color:token(colorGeneral);
    width:190px;
    line-height:1;
    height:40px;
   	transition: 0.8s ease all;
}

.THIS.rq-popup .slds-modal__footer .rq-button-accept .label{
    color:#fff;
    font-family: Titillium-Sb;
    font-size:14px;
    transition: 0.8s ease all;
}
.THIS.rq-popup .slds-modal__footer .rq-button-accept:hover,
.THIS.rq-popup .slds-modal__footer .rq-button-accept:focus
{
    color:token(colorGeneral);
    background:#fff;
    transition: 0.8s ease all;
}
.THIS.rq-popup .slds-modal__footer .rq-button-accept:hover .label,
.THIS.rq-popup .slds-modal__footer .rq-button-accept:focus .label{
    color:token(colorGeneral);
    transition: 0.8s ease all;
}
.THIS .listado-plantillas{
    margin:2em 0;
    font-family:Titillium-Rg;
    font-size:0.875em;
    
}
.THIS .listado-plantillas li{
    padding-left:3em;
    margin:1.5em 1em;
    position:relative;
}
.THIS .listado-plantillas li input{
    position:absolute;
    width:0;
    height:0;
    clip:rect(0,0,0,0);
}
.THIS .listado-plantillas li label{
    font-size:14px;
}
.THIS .check{
  display: block;
  position: absolute;
  border: 1px solid #afa8a3;
  border-radius: 100%;
  height: 16px;
  width: 16px;
  top: 5px;
  left: 15px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}
.THIS .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 8px;
  width: 8px;
  top: 3px;
  left: 3px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}
.THIS .listado-plantillas li input[type=radio]:checked ~ .check::before{
  background: token(colorGeneral);
}