.THIS {
}

.THIS .rq-button{
    padding:15px;
    background:url('../resource/RQO_sr_QuimicaResources/images/icono-descargar.png') no-repeat center;
    border-color:transparent;
    margin:5px 0;
}

.THIS .rq-button:hover,
.THIS .rq-button:focus{
    border-color:token(colorGeneral);
}