.THIS {
   margin:1em 0 1.5em;
}

.THIS .rq-equipo-nombre
{
  font-family: Titillium-Rg;
  font-weight:bold;
  font-size:0.875em;
  color:#003b5c;
  display:block;
  margin:0.5em 0 0;
}

.THIS .rq-equipo-cargo,
.THIS .rq-equipo-tel,
.THIS .rq-equipo-mail
{
  font-family: Titillium-Rg;
  font-size:0.875em;
  color: #5c4e44;
  display:block;
  margin:0.25em 0 0.25em;
}

.THIS .rq-equipo-cargo{
    font-family:Titillium-Sb;
}

.THIS .rq-equipo-mail a{
    color: #418080;
    text-decoration:underline;
}