.THIS {
    margin:1em 1em 0;
    padding-bottom:1em;
    position:relative;
}
.THIS .rq-textarea textarea{

    font-family:Titillium-Rg;
    font-size:0.875em;
   	max-width: 548px;
    height: 100px;
    border:solid 1px #afa8a3;
}

.THIS .rq-textarea textarea::-webkit-input-placeholder,
.THIS .rq-textarea textarea::-moz-placeholder,
.THIS .rq-textarea textarea:-ms-input-placeholder,
.THIS .rq-textarea textarea:-moz-placeholder{
     color:#e0ded9;
}
.THIS .rq-check-condiciones{
    display:inline-block;
    vertical-align:middle;
}
.THIS .slds-checkbox .slds-checkbox_faux,
.THIS .slds-checkbox .slds-checkbox--faux
{
    border-color:#afa8a3;
}
.THIS .rq-check-condiciones .slds-checkbox--faux:after{
    border-bottom: 2px solid token(colorGeneral)!important;
    border-left: 2px solid token(colorGeneral)!important;
}
.THIS .rq-check-condiciones .slds-form-element__help{margin-top:1.5em;}

.THIS .rq-label-condiciones{
    font-family:Titillium-Rg;
    font-size:0.875em;
    display:inline-block;
    vertical-align:middle;
    color:#5c4e44;
    width:80%;
    position:absolute;
    left:45px;
    margin-top:2px;
}

.THIS .rq-label-condiciones a{
    color:#418080;
    text-decoration:underline;
    margin-left:5px;
}
.THIS .rq-label-condiciones a:hover,
.THIS .rq-label-condiciones a:focus
{
    font-weight:bold;
}