.THIS {
}
.THIS .rq-buttons{
    text-align: right;
	padding: 1em 0;
}
.THIS .rq-btn{
    margin-left:0.5em;
    border:1px solid transparent;
    padding:15px;
    position:relative;
    display:inline-block;
    margin:0.5em 1em;
}
.THIS .rq-btn .label{
    position: absolute;
    top: -15px;
    border-radius: 25px;
    color: #fff;
    font-family: Titillium-Rg;
    font-size: 0.875em;
    display: block;
    width: 25px;
    line-height: 1.75;
    background: token(colorGeneral);
}
.THIS .rq-access{
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-user.png') no-repeat center;
}
.THIS .rq-notificaciones{
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-notificaciones-plus.png') no-repeat center;
    background-size:25px auto;
}
.THIS .rq-productos{
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-camion-plus.png') no-repeat center;
    background-size:35px auto;
}

.THIS .rq-access:hover,
.THIS .rq-access:focus{
        border:1px solid token(colorGeneral);
}

.THIS .rq-nav-logo img{
   width:unset;
   display:block;
}
.THIS .rq-nav-logo{
    padding: 1em 3em 0 0em;
    background:url(../resource/RQO_sr_QuimicaResources/images/separator.png) no-repeat center right;
	display: inline-block;
    vertical-align: middle;
    
}
.THIS .container--repsol{
    padding:0 1em;
    max-width:1176px;
    margin:0 auto;
}
.THIS .rq-userLanguage,
.THIS .rq-form select.rq-languaje{
    -moz-appearance: none;
    -webkit-appearance: none;
    border: medium none;
    display: inline-block;
    font-family: Titillium-Rg;
    color: #afa8a3;
    background: url("../resource/RQO_sr_QuimicaResources/images/icon-arrow-select.png") no-repeat center right;
}
.THIS .rq-userLanguage{
    float: right;
    padding: 1.25em 1em 1.25em 0;
}
.THIS .rq-form{
    padding:1.25em 0;
    text-align:left;
    display:inline-block;
}

.THIS .rq-nav-title-lang{  
    color: #ff8200;
    font-family: "Repsol-Rg",Arial,Helvetica,sans-serif;
    font-size: 1.5em;
    padding: 1em 0 0.5em 0.5em;
    position: relative;
    text-align:center;
    display: inline-block;
 	vertical-align: middle; 
}

/*:::::::::::::::::::::::::*/
/* ESTILOS PARA ESCRITORIO */
 @media only screen and (min-width: 920px)
{    
    
    .THIS .rq-form{
        margin-right:2em;
        float:right;
    }
    
    .THIS .rq-access
    {
        float:right;
        margin:1.25em 0.75em 1em 1em;
    }
    .THIS .rq-buttons{float:right;}
    .THIS .rq-notificaciones,
    .THIS .rq-productos{display:none;}
    
    
}