.THIS {
    padding:1em 4em;
    color: #5c4e44;
    border-bottom:1px solid #e0ded9;
}
.THIS.PRODUCTO{
   background:url('../resource/RQO_sr_QuimicaResources/images/icon-producto-plus.png') no-repeat 5px center;
}

.THIS.FACTURA{
   background:url('../resource/RQO_sr_QuimicaResources/images/icon-facturas-plus.png') no-repeat 5px center;
}

.THIS.ENTREGA{
   background:url('../resource/RQO_sr_QuimicaResources/images/icon-camion-plus.png') no-repeat 5px center;
}
.THIS.PEDIDO{
   background:url('../resource/RQO_sr_QuimicaResources/images/icon-camion-plus.png') no-repeat 5px center;
}
.THIS.CLIENTE{
   background:url('../resource/RQO_sr_QuimicaResources/images/icon-notificaciones-plus.png') no-repeat 5px center;
}
.THIS.SOLICITUD{
   background:url('../resource/RQO_sr_QuimicaResources/images/icon-notificaciones-plus.png') no-repeat 5px center;
}
.THIS.DOCUMENTACION{
   background:url('../resource/RQO_sr_QuimicaResources/images/icon-notificaciones-plus.png') no-repeat 5px center;
}
.THIS.OTROS{
   background:url('../resource/RQO_sr_QuimicaResources/images/icon-cambio-comercial.png') no-repeat 5px center;
}
.THIS.OTROSCEC{
   background:url('../resource/RQO_sr_QuimicaResources/images/icon-cambio-comercial.png') no-repeat 5px center;
}
.THIS.OTROSGCV{
   background:url('../resource/RQO_sr_QuimicaResources/images/icon-notificaciones-plus.png') no-repeat 5px center;
}
.THIS.OTROSGNM{
   background:url('../resource/RQO_sr_QuimicaResources/images/icon-notificaciones-plus.png') no-repeat 5px center;
}
/*
.THIS.COMUNICACION{
   background:url('../resource/RQO_sr_QuimicaResources/images/icon-notificaciones-plus.png') no-repeat 5px center;
}*/
.THIS .rq-categoria-title{
    font-size:1.625em;
    font-family:Repsol-Rg;
}
.THIS .rq-estado
{
    color:token(colorGeneral);
    font-family:Repsol-Sb;
    font-size:1.5em;
    margin-left:0.5em;
	text-decoration: underline;
}
.THIS .slds-form-element__label
{
    color:#333;
}
.THIS .rq-mensaje,
.THIS .rq-link{
    font-family:Titillium-Rg;
    font-size:0.875em;
}

.THIS .rq-link{
    color:token(colorGeneral);
    margin:0 5px;
    text-decoration:underline;
}