<apex:component id="QUIM_header_v2" layout="none" controller="QUIM_ctrl_Header">

    <script type="text/javascript">
        var j$ = jQuery.noConflict();
        var arrancaPagina = true;
        var idioma;
        var urlIdioma = 'en_US';
    
        function desplegarMenu(){
            if($('[data-function="fc-submenu-mvl"]').length > 0){
                $('[data-function="fc-submenu-mvl"]').click(function(e){
                    e.preventDefault();
                    var parent = $(this).parent();
                    var sibling = $(this).siblings('[data-function="fc-ct-sbm-mvl"]');
                    if(!sibling.hasClass('rq-nav__box-dropdown--sbm-mvl')){
                    sibling.addClass('rq-nav__box-dropdown--sbm-mvl');
                    }
                });
            }
            if($('[data-function="fc-menu-return"]').length > 0){
            $('[data-function="fc-menu-return"]').click(function(e){
                e.preventDefault();
                var parent = $(this).parent().closest('[data-function="fc-ct-sbm-mvl"]');
                if(parent.hasClass('rq-nav__box-dropdown--sbm-mvl')){
                    parent.removeClass('rq-nav__box-dropdown--sbm-mvl');
                }
            });
            }            
        };
        j$(document).ready(function(){
            var quimicaTitulo = CCRZ.processPageLabelMap('BannerInicioQuimica');
            j$("#quim").text(quimicaTitulo);
            j$("#quim2").text(quimicaTitulo);
            j$("#volver").text(quimicaTitulo);
            j$("#volverMenu").text(quimicaTitulo);
            idioma = x=window.navigator.language||navigator.browserLanguage;
            if('{!parametroIdioma}' != ''){
                urlIdioma = '{!parametroIdioma}';
                //console.log('urlIdioma AFTER param: ' + urlIdioma);
            }
            else {                
                //console.log('urlIdioma BEFORE switch: ' + urlIdioma);
                switch(idioma.substring(0,2).toUpperCase()) {
                    case "ES":
                        urlIdioma = 'es_ES';
                        break;
                    case "EN":
                        urlIdioma = 'en_US';
                        break;
                    default:
                        urlIdioma = 'en_US';
                }
            }    
            //console.log('urlIdioma AFTER switch: ' + urlIdioma);

            j$("#language")[0].selectize.setValue(urlIdioma);
 
            // alert('bienvenido');
            var menus = new Array();
            var menusRigth = new Array();
            var menus18 = new Array();
            var items = new Array();
            var items18 = new Array();
            var aux = new Array();
            var subMenuArray = new Array();
            var subMenu2Array = new Array();
            
            
            <apex:repeat value="{!menus}" var="menu">
                aux.push('{!menu.Id}');
                aux.push('{!menu.ccrz__URL__c}');
                menus.push(aux);
                aux = new Array();
            </apex:repeat>
            //Menú gris
            <apex:repeat value="{!menusRigth}" var="menuRigth">
                aux.push('{!menuRigth.Id}');
                aux.push('{!menuRigth.ccrz__URL__c}');
            //alert('{!menusRigth}');
                menusRigth.push(aux);
                aux = new Array();
            </apex:repeat>
            <apex:repeat value="{!menus18}" var="menu18">
                aux.push('{!menu18.Id}');
                aux.push('{!menu18.ccrz__Menu__c}');
                aux.push('{!menu18.ccrz__DisplayName__c}');
                menus18.push(aux);
                aux = new Array();
            </apex:repeat>
            
            <apex:repeat value="{!items}" var="item">
                aux.push('{!item.Id}');
                aux.push('{!item.ccrz__Menu__c}');
                aux.push('{!item.ccrz__ParentMenuItem__c}');
                aux.push('{!item.ccrz__URL__c}');
                items.push(aux);
                aux = new Array();
            </apex:repeat>
            <apex:repeat value="{!items18}" var="item18">
                aux.push('{!item18.Id}');
                aux.push('{!item18.ccrz__MenuItem__c}');
                aux.push('{!item18.ccrz__DisplayName__c}');
                items18.push(aux);
                aux = new Array();
            </apex:repeat>
            ///
            for(var h=0 ; h<menus.length ; h++){
                auxImage= menus[h][1];
                if(auxImage.substring(0,4) !='http' && auxImage!=''){
                    auxImage += '&cclcl='+urlIdioma;                        
                }
                menus[h][1] = auxImage;
            }
            
            ///Menú gris
            for(var h=0 ; h<menusRigth.length ; h++){
                auxImage= menusRigth[h][1];
                if(auxImage.substring(0,4) !='http' && auxImage!=''){
                    auxImage += '&cclcl='+urlIdioma;                        
                }
                menusRigth[h][1] = auxImage;
            }
            
            for(var h=0 ; h<items.length ; h++){
                auxImage= items[h][3];
                if(auxImage.substring(0,4) !='http' && auxImage!=''){
                    auxImage += '&cclcl='+urlIdioma;                        
                }
                items[h][3] = auxImage;
            }
            ///
            j$("#listaMenu").html('');
            for(var i=0 ; i<menus.length ; i++){
                for(var j=0 ; j<menus18.length ; j++){
                    if(menus[i][0] == menus18[j][1]){

                        for(var k=0 ; k<items.length ; k++){
                            if(items[k][1] == menus[i][0]){
                                for(var l=0 ; l<items18.length ; l++){
                                    if(items[k][0] == items18[l][1]){
                                        aux = new Array();
                                        aux.push(items18[l][2]);
                                        aux.push(items[k][3]);
                                        aux.push(items[k][0]);
                                        subMenuArray.push(aux);
                                        aux = new Array();
                                    }
                                }
                            }
                        }
                        if(subMenuArray.length>0){                                
                                 var agregado ='<li class="rq-nav__list-item rq-nav__list-item--with-arrow-right">'+
                                            '<a class="rq-nav__link" href="'+menus[i][1]+'" title="'+menus18[j][2]+'" data-js="data-hover" data-function="fc-submenu-mvl">'+menus18[j][2]+'</a>'+
                                            '<div class="rq-nav__box-dropdown" data-function="fc-ct-sbm-mvl">'+
                                                '<div class="container--repsol">'+
                                                    '<div class="row-fluid">'+
                                                        '<div class="span7 span8-tablet">'+
                                                            '<ul class="rq-nav__list-dropdown">'+
                                                            '<li class="rq-nav__item-dropdown rq-nav__item-dropdown--arrow-left hidden-desktop hidden-tablet visible-phone"><a class="rq-nav__link-dropdown" href="#" title="Volver atrás" data-function="fc-menu-return" id="volverMenu">'+CCRZ.processPageLabelMap('MenuVolverAMenu')+'</a></li>';
                                                            for(var m=0 ; m<subMenuArray.length ; m++){                                                                
                                                                for(var n=0 ; n<items.length ; n++){
                                                                        if(subMenuArray[m][2] == items[n][2]){
                                                                            for(var o=0 ; o<items18.length ; o++){
                                                                                if(items[n][0] == items18[o][1]){
                                                                                    aux = new Array();
                                                                                    aux.push(items18[o][2]);
                                                                                    aux.push(items[n][3]);
                                                                                    subMenu2Array.push(aux);
                                                                                    aux = new Array();
                                                                                }
                                                                            }
                                                                        }
                                                                    }

                                                                
                                                                if(subMenu2Array.length>0){                                                                    
                                                                    agregado += '<li class="rq-nav__item-dropdown rq-nav__item-dropdown--with-sublist"><a class="rq-nav__link-dropdown" data-js="data-hover" data-function="fc-submenu-mvl" href="'+subMenuArray[m][1]+'" title="'+subMenuArray[m][0]+'">'+subMenuArray[m][0]+'</a>';
                                                                    agregado += '<ul class="rq-nav__sublist-dropdown data-function="fc-ct-sbm-mvl"">';
                                                                    agregado += '<li class="rq-nav__subitem-dropdown rq-nav__item-dropdown--arrow-left hidden-desktop hidden-tablet visible-phone"><a class="rq-nav__sublink-dropdown" href="#" title="Volver atrás" data-function="fc-menu-return" id="volver">'+CCRZ.processPageLabelMap('MenuVolverA') +' '+subMenuArray[m][0]+'</a></li>';
                                                                        for(var p=0 ; p<subMenu2Array.length ; p++){
                                                                            agregado += '<li class="rq-nav__subitem-dropdown"><aoki class="rq-nav__sublink-dropdown" href="'+subMenu2Array[p][1]+'" title="'+subMenu2Array[p][0]+'">'+subMenu2Array[p][0]+'</a></li>';
                                                                        }
                                                                        agregado +='</ul>';
                                                                            //'</li>';
                                                                 }else{
                                                                     agregado += '<li class="rq-nav__item-dropdown"><a class="rq-nav__link-dropdown" href="'+subMenuArray[m][1]+'" title="'+subMenuArray[m][0]+'">'+subMenuArray[m][0]+'</a>';
                                                                 }
                                                                

                                                                 agregado += '</li>';
                                                                 subMenu2Array = new Array();
                                                             }  
                                                agregado +='</ul>'+
                                                        '</div>'+
                                                    '</div>'+
                                                '</div>'+
                                            '</div>'+
                                        '</li>';
                            //(agregado);
                                j$("#listaMenu").append(agregado);
                                subMenuArray = new Array();
                             
                        }else{
                            var agregado = '<li class="rq-nav__list-item">'+
                                    '<a class="rq-nav__link" href="'+menus[i][1]+'" title="'+menus18[j][2]+'">'+menus18[j][2]+'</a>'+
                                    '</li>';
                            j$("#listaMenu").append(agregado);
                        }
                        
                    }
                }
            }
            
            //Menú gris
            j$("#listaMenuRigth").html('');
            for(var i=0 ; i<menusRigth.length ; i++){
                for(var j=0 ; j<menus18.length ; j++){
                    if(menusRigth[i][0] == menus18[j][1]){

                        for(var k=0 ; k<items.length ; k++){
                            if(items[k][1] == menusRigth[i][0]){
                                for(var l=0 ; l<items18.length ; l++){
                                    if(items[k][0] == items18[l][1]){
                                        aux = new Array();
                                        aux.push(items18[l][2]);
                                        aux.push(items[k][3]);
                                        aux.push(items[k][0]);
                                        subMenuArray.push(aux);
                                        aux = new Array();
                                    }
                                }
                            }
                        }
                        if(subMenuArray.length>0){
                                var agregado = '<li class="rq-nav__list-item rq-nav__list-item--with-arrow-right">'+
                                            '<a class="rq-nav__link" href="'+menusRigth[i][1]+'" title="'+menus18[j][2]+'" data-js="data-hover" data-function="fc-submenu-mvl">'+menus18[j][2]+'</a>'+
                                            '<div class="rq-nav__box-dropdown"  data-function="fc-ct-sbm-mvl">'+
                                                '<div class="container--repsol">'+
                                                    '<div class="row-fluid">'+
                                                        '<div class="span7 span8-tablet">'+
                                                            '<ul class="rq-nav__list-dropdown rq-nav__list-dropdown--auto">'+
                                                            '<li class="rq-nav__item-dropdown rq-nav__item-dropdown--arrow-left hidden-desktop hidden-tablet visible-phone"><a class="rq-nav__link-dropdown" href="#" title="Volver atrás" data-function="fc-menu-return" id="volverMenu">'+CCRZ.processPageLabelMap('MenuVolverAMenu')+'</a></li>';
                                                            for(var m=0 ; m<subMenuArray.length ; m++){
                                                                
                                                                for(var n=0 ; n<items.length ; n++){
                                                                        if(subMenuArray[m][2] == items[n][2]){
                                                                            for(var o=0 ; o<items18.length ; o++){
                                                                                if(items[n][0] == items18[o][1]){
                                                                                    aux = new Array();
                                                                                    aux.push(items18[o][2]);
                                                                                    aux.push(items[n][3]);
                                                                                    subMenu2Array.push(aux);
                                                                                    aux = new Array();
                                                                                }
                                                                            }
                                                                        }
                                                                    }
 
                                                                
                                                                if(subMenu2Array.length>0){
                                                                    agregado += '<li class="rq-nav__item-dropdown rq-nav__item-dropdown--with-sublist"><a class="rq-nav__link-dropdown" href="'+subMenuArray[m][1]+'"  data-js="data-hover"  data-function="fc-submenu-mvl" title="'+subMenuArray[m][0]+'">'+subMenuArray[m][0]+'</a>';
                                                                    agregado += '<ul class="rq-nav__sublist-dropdown rq-nav__list-dropdown--auto" data-function="fc-ct-sbm-mvl">';
                                                                    agregado += '<li class="rq-nav__subitem-dropdown rq-nav__item-dropdown--arrow-left hidden-desktop hidden-tablet visible-phone"><a class="rq-nav__sublink-dropdown" href="#" title="Volver atrás" data-function="fc-menu-return" id="volver">'+CCRZ.processPageLabelMap('MenuVolverA') +' '+subMenuArray[m][0]+'</a></li>';
                                                                    for(var p=0 ; p<subMenu2Array.length ; p++){
                                                                            agregado += '<li class="rq-nav__subitem-dropdown"><a class="rq-nav__sublink-dropdown" href="'+subMenu2Array[p][1]+'" title="'+subMenu2Array[p][0]+'">'+subMenu2Array[p][0]+'</a></li>';
                                                                        }
                                                                        agregado +='</ul>';
                                                                            //'</li>';
                                                                 }else{
                                                                     agregado += '<li class="rq-nav__item-dropdown"><a class="rq-nav__link-dropdown" href="'+subMenuArray[m][1]+'" title="'+subMenuArray[m][0]+'">'+subMenuArray[m][0]+'</a>';
                                                                 }
                                                                

                                                                 agregado += '</li>';
                                                                 subMenu2Array = new Array();
                                                             }  
                                                agregado +='</ul>'+
                                                        '</div>'+
                                                    '</div>'+
                                                '</div>'+
                                            '</div>'+
                                        '</li>';
                            //(agregado);
                                j$("#listaMenuRigth").append(agregado);
                                subMenuArray = new Array();
                             
                        }else{
                            var agregado = '<li class="rq-nav__list-item">'+
                                    '<a class="rq-nav__link" data-function="fc-submenu-mvl" href="'+menusRigth[i][1]+'" title="'+menus18[j][2]+'">'+menus18[j][2]+'</a>'+
                                    '</li>';
                            j$("#listaMenuRigth").append(agregado);
                        }
                        
                    }
                }
            }
            desplegarMenu();
        });
    
    function cambiaIdioma(){
        if(typeof(busquedaSearch) != "undefined" && typeof(busquedaInd) != "undefined" && typeof(busquedaApli) != "undefined"){
            sessionStorage.setItem('QSSearch', busquedaSearch);
            sessionStorage.setItem('QSInd', busquedaInd); 
            sessionStorage.setItem('QSapli', busquedaApli);
            sessionStorage.setItem('QSOpcion', productoSession);
        }
        
        if(!arrancaPagina){
            //  alert(j$("#language")[0].selectize.getValue());
            var url = String(window.location);
            // alert(url);
            if('{!parametroIdioma}' != ''){
                var posicion = url.search('&cclcl');
                // alert('posicion: ' + posicion);
                url = url.substring(0,posicion);
                //console.log('url: ' + url);
            }
            url += '&cclcl='+j$("#language")[0].selectize.getValue();
            location.href = url;
        }
        else{
            arrancaPagina = false;
        }
    }
    
    function gotoHome(){
        window.location.href = CCRZ.processPageLabelMap('CabeceraLogoURL');
        
    }     
   
    </script>
    <script type="application/javascript">
            <!--//
            (function($){
               

            $(document).ready(function(){

              $('.hidden').css('display','none');

              var filter = $(this).attr('class');         
              
              $('.post').appendTo('.hidden');
                 
              $('.hidden').contents().appendTo('#posts').hide().show('slow');
              $('.post:not(.' + filter + ')').appendTo('.hidden').hide('slow');
            });
            })(jQuery);
            //-->
    </script>
    
    <header class="rq-header">
        <nav class="rq-nav">
            
         <c:QUIM_Cookies ></c:QUIM_Cookies>

            <div class="rq-nav__row">
                <div class="container--repsol">
                    <div class="row-fluid">
                        <div class="span3 span4-tablet">
                            <div class="rq-nav__logo-container">
                                <h1 class="rq-nav__title">
                                    <a class="rq-nav__link" onClick="javascript:gotoHome()" title="Enlace Logo Repsol"> 
                                   <!-- <span class="rq-nav__link"> -->
                                        <apex:image styleClass="rq-nav__image" url="{!URLFOR($Resource.THEME_REPSOL, 'static/img/content/logo.png')}" alt="Logo Repsol"/>
                                    </a> 
                                    <!--    </span> -->
                                </h1>                                
                            </div>
                            <div class="rq-nav__language hidden-desktop hidden-tablet visible-phone">
                                <span class="rq-nav__title" id="quim"></span>
                            </div>
                        </div>
                        <div class="span9 span8-tablet">
                            <div class="rq-nav__column rq-nav__column--border-bottom rq-nav__column--gray-phone">
                                <div class="row-fluid">
                                    <div class="span10 span9-tablet visible-desktop visible-tablet hidden-phone">
                                        <div class="rq-nav__language">
                                            <span class="rq-nav__title" id="quim2"></span>
                                        </div>
                                    </div>
                                    <div class="span2 span3-tablet">
                                        <div class="rq-nav__container rq-nav__container--right">
                                            <div class="row-fluid">
                                                <button type="button" class="rq-button rq-button--toggle hidden-desktop hidden-tablet visible-phone" data-function="data-toggle-button">
                                                    <span class="hiddenAccesible">Despliegue submen&uacute;</span>
                                                 </button>
                                                <div class="span6 phone-inline fixed-size fixed-size--3">
                                                    <form class="rq-form" method="post" action="#">
                                                        <fieldset>
                                                            <legend class="hiddenAccesible">Formulario de selecci&oacute;n de idiomas</legend>
                                                            <label for="language" class="hiddenAccesible">Selector de idiomas</label>
                                                            <select id="language" class="rq-form__select rq-form__select--customize-arrow-orange" data-js="data-selectmenu" onchange="cambiaIdioma();">
                                                                <option class="rq-form__option" value="es_ES">ES</option>
                                                                <option class="rq-form__option" lang="en" value="en_US">EN</option>
                                                            </select>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                               <!-- <div class="span6">
                                                    <a class="rq-nav__link" href="#" title="Login">
                                                        <apex:image styleClass="rq-nav__image" url="{!URLFOR($Resource.THEME_REPSOL, 'static/img/icons/icon-profile.png')}" alt="Icono Login"/>
                                                    </a>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rq-nav__row rq-nav__row--shadow" data-function='fc-hidden-phone'>
                <div class="container--repsol">
                    <div class="row-fluid">
                        <div class="span8 span9-tablet">
                            <div class="rq-nav__box rq-nav__box--left rq-nav__box--background-gray">
                                <ul class="rq-nav__list" id="listaMenu">
                                  <!-- Meter dinámicamente
                                    <li class="rq-nav__list-item">
                                        <a class="rq-nav__link" href="#" title="Inicio">Inicio</a>
                                    </li>
                                    <li class="rq-nav__list-item">
                                        <a class="rq-nav__link" href="#" title="Catálogo" data-js='data-hover'>Cat&aacute;logo</a>
                                        <div class="rq-nav__box-dropdown">
                                            <div class="container">
                                                <div class="row-fluid">
                                                    <div class="span7">
                                                        <ul class="rq-nav__list-dropdown">
                                                            <li class="rq-nav__item-dropdown"><a class="rq-nav__link-dropdown" href="#" title="Mi Catálogo">Mi Cat&aacute;logo</a></li>
                                                            <li class="rq-nav__item-dropdown"><a class="rq-nav__link-dropdown" href="#" title="Catálogo Global">Cat&aacute;logo Global</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="rq-nav__list-item">
                                        <a class="rq-nav__link" href="#" title="Pedidos">Pedidos</a>
                                    </li>
                                    <li class="rq-nav__list-item">
                                        <a class="rq-nav__link" href="#" title="Mi Perfil">Mi Perfil</a>
                                    </li>
                                    <li class="rq-nav__list-item rq-nav__list-item--active">
                                        <a class="rq-nav__link" href="#" title="Preguntas Frecuentes">Preguntas Frecuentes</a>
                                    </li>
                                    <li class="rq-nav__list-item">
                                        <a class="rq-nav__link" href="#" title="Contacto">Contacto</a>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="span4 span3-tablet">
                            <div class="rq-nav__box rq-nav__box--right rq-nav__box--gradient">
                                <ul class="rq-nav__list" id="listaMenuRigth">
                                  <!--  Meter dinámicamente
                                    <li class="rq-nav__list-item">
                                        <a class="rq-nav__link" href="#" title="Shareholders & Inversors">Shareholders &amp; Inversors</a>
                                    </li>
                                    <li class="rq-nav__list-item">
                                        <a class="rq-nav__link" href="#" title="Press center">Press center</a>
                                    </li>    -->                               
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</apex:component>