<apex:component id="QUIM_footer"  layout="none" controller="QUIM_ctrl_footer">
    <script>
    var j$ = jQuery.noConflict();
    var idioma;
    var urlIdioma;
    j$(document).ready(function(){
        idioma = x=window.navigator.language||navigator.browserLanguage;
            if('{!parametroIdioma}' != ''){
                urlIdioma = '{!parametroIdioma}';
                //console.log('urlIdioma AFTER param: ' + urlIdioma);
            }
            else {
                //console.log('urlIdioma BEFORE switch: ' + urlIdioma);
                switch(idioma.substring(0,2).toUpperCase()) {
                    case "ES":
                        urlIdioma = 'es_ES';
                        break;
                    case "EN":
                        urlIdioma = 'en_US';
                        break;
                    default:
                        urlIdioma = 'en_US';
                }
            }
        
        // alert('bienvenido');
        var menus = new Array();
        var menus18 = new Array();
        var items = new Array();
        var items18 = new Array();
        var aux = new Array();
        var subMenuArray = new Array();
        var subMenu2Array = new Array();
        
        <apex:repeat value="{!menus}" var="menu">
            aux.push('{!menu.Id}');
            aux.push('{!menu.ccrz__URL__c}');
            aux.push('{!menu.ccrz__LinkType__c}');
            menus.push(aux);
            aux = new Array();
        </apex:repeat>
        <apex:repeat value="{!menus18}" var="menu18">
            aux.push('{!menu18.Id}');
            aux.push('{!menu18.ccrz__Menu__c}');
            aux.push('{!menu18.ccrz__DisplayName__c}');
            menus18.push(aux);
            aux = new Array();
        </apex:repeat>
        
        <apex:repeat value="{!items}" var="item">
            aux.push('{!item.Id}');
            aux.push('{!item.ccrz__Menu__c}');
            aux.push('{!item.ccrz__ParentMenuItem__c}');
            aux.push('{!item.ccrz__URL__c}');
            items.push(aux);
            aux = new Array();
        </apex:repeat>
        <apex:repeat value="{!items18}" var="item18">
            aux.push('{!item18.Id}');
            aux.push('{!item18.ccrz__MenuItem__c}');
            aux.push('{!item18.ccrz__DisplayName__c}');
            items18.push(aux);
            aux = new Array();
        </apex:repeat>
        
        j$("#footerMenu").html('');
        //var agregado='';
        for(var i=0 ; i<menus.length ; i++){
            // alert(menus[i]);
            for(var j=0 ; j<menus18.length ; j++){
                if(menus[i][0] == menus18[j][1]){
                    
                    var agregado = '';
                    if(menus[i][1]=='' || menus[i][1]==null || menus[i][2]=='None'){
                        agregado = '<li class="rq-footer__item">'+
                            '<span class="rq-footer__text"  title="'+menus18[j][2]+'">'+menus18[j][2]+'</span>'+
                            '</li>';
                    }else{
                        if(menus[i][1].substring(0,4) !='http'){
                            agregado = '<li class="rq-footer__item">'+
                                '<a class="rq-footer__link" href="'+menus[i][1]+'&cclcl='+urlIdioma+'" title="'+menus18[j][2]+'">'+menus18[j][2]+'</a>'+
                                '</li>';
                        }else{
                            agregado = '<li class="rq-footer__item">'+
                                '<a class="rq-footer__link" href="'+menus[i][1]+'" title="'+menus18[j][2]+'">'+menus18[j][2]+'</a>'+
                                '</li>';
                        }
                    }
                    j$("#footerMenu").append(agregado);
                }
            }
        }
    });
    </script>
    <footer class="rq-footer">
        <nav class="rq-footer__nav">
            <div class="container--repsol">
                <div class="row-fluid">
                    <div class="span10">
                        <ul class="rq-footer__list" id="footerMenu">
                            
                        </ul>
                    </div>
                    <div class="span2">
                        <!-- <div class="rq-footer__figure-container rq-footer__figure-container--right">
                           
                            <figure class="rq-footer__figure">
                                <apex:image styleClass="rq-nav__image" url="{!URLFOR($Resource.THEME_REPSOL, 'static/img/content/logo-footer.png')}" alt="Logotipo confianza online"/>
                            </figure>
                           
                        </div> -->
                    </div>
                </div>
            </div>
        </nav>
    </footer>
</apex:component>