<apex:component id="QUIM_filter_field" layout="none">
    <div class="dfront-styles loading-component" id="filterField">
        <div class="rq-filter-field">            
            <div class="rq-filter-field__results-container rq-filter-field__results-container--large" id="resultadosEncontrados">
                <p class="rq-filter-field__text">Se han encontrado <span class="rq-filter-field__text--highlighted">x Resultados</span></p>
            </div>
            <div class="rq-filter-field__filter-container rq-filter-field__filter-container--small">
                <a class="rq-filter-field__link" href="#" title="" data-function="data-open-modal" id="fromBusquedaFiltrar">Filtrar</a>
                <!--AQUÍ box_filter-->
                <c:QUIM_box_filter_2 ></c:QUIM_box_filter_2>
            </div>
        </div>
    </div>
</apex:component>