<apex:component controller="RRSS_cls_EmailEscaladoNegocio_cc" access="global">
<apex:attribute name="csId" type="Id" description="Id of the case" assignTo="{!caseId}"/>

    <table border = "0" cellspacing = "0" cellpadding="0" id="listaposts">
        <tr>
            <th>Autor</th>
            <th>Contenido</th>
            <th>Fecha publicación</th>                
        </tr>
        <apex:repeat value="{!socialposts}" var="sp">
        <tr>
            <td>{! if(sp.Handle != '', sp.Handle , 'Repsol')}</td>
            <td>{!sp.Content}</td>
            
            <td><apex:outputText value="{0, date, dd/MM/yyyy hh:mm:ss}">
                <apex:Param value="{!sp.Posted}" />
                </apex:OutputText></td>
        </tr>
        </apex:repeat>        
    </table>
</apex:component>