.THIS {
    margin:0;
}

.THIS .rq-title{
  font-family: Repsol-Rg;
  font-size:1.375em;
  font-weight:bold;
  color:token(TextColorGeneral);
  display:block;
}

.THIS .rq-subtitle{
    font-family:Titillium-Rg;
    font-weight:bold;
    font-size:0.875em;
    display:inline-block;
    margin-right:5px;
}
.THIS .rq-title-direccion.rq-subtitle{
    display:block;
}

.THIS .rq-field{
    display:block;
    font-family:Titillium-Rg;
    font-size:0.875em;
    margin:5px 0;
}

.THIS .rq-field-line{
    display:inline-block;
    font-family:Titillium-Rg;
    font-size:0.875em;
}
.THIS .group1,
.THIS .group2{
    display:inline-block;
    width:55%;
    margin-right:2.5%;
    vertical-align:top;
}

.THIS .group2{
    width:35%;
    margin-right:0;
    margin-left:2.5%;
}

/*:::::::::::::::::::::::*/
/* ESTILOS DE ESCRITORIO */

@media only screen and (min-width:736px){
    .THIS .rq-field{display:inline-block;margin:5px 5px 5px 0;}
      
    .THIS .rq-field:last-child:after{display:none;}
    
    .THIS .group1,.THIS .group2{width:unset;margin-right:0;}
}