.THIS {
}

.THIS h2{
    color:#041E42;
    font-size:1.25em;
    font-family:Titillium-Rg;
    display:block;
    margin:0.5em 0;
    font-weight:bold;
}
.THIS p,
.THIS span{
    font-size: 0.875em;
    font-family: Titillium-Rg;
    margin: 1em 0;
    line-height: 1.3;
}

.THIS a{
    color:token(colorGeneral);
    font-weight:bold;
}

.THIS a:hover,
.THIS a:focus{
    text-decoration:underline;
}