.THIS {
    text-align:center;
}
.THIS button{
    width:20px;
    height:40px;
    vertical-align:top;
    padding:0;
 	border:1px solid #e0ded9;
    font-weight:bold;
    font-size:1em;
    color:transparent;
}

.THIS .input.rq-numero{
    display:inline-block;
    width:40px;
    max-width:40px;
    height:40px;
    border:none;
    border-top:1px solid #e0ded9;
    border-bottom:1px solid #e0ded9;
    border-radius:unset;
    padding:4px;
    font-size:0.875em;
    font-family:Titillium-Rg;
    text-overflow: ellipsis;
    text-align: right;
    background-color:#fff;
}

.THIS .rq-boton-menos{
    border-radius:4px 0 0 4px;
    background:#f5f5f2 url("../resource/RQO_sr_QuimicaResources/images/icon-linea.png") no-repeat center;
    box-shadow:-1px 1px 2px 0 #e0ded9;
}

.THIS .rq-boton-mas{
    border-radius:0 4px 4px 0;
    background:token(colorGeneral) url("../resource/RQO_sr_QuimicaResources/images/icon-cruz.png") no-repeat center;
    box-shadow:1px 1px 2px 0 #e0ded9;
}


/*::::::::::::::::::::*/
/* ESTILOS RESPONSIVE ESCRITORIO*/

@media only screen and (min-width: 968px)
{
    .THIS .input.rq-numero{
      border:none;
      border-top:1px solid #e0ded9;
      border-bottom:1px solid #e0ded9;
    }
    
    .THIS .rq-boton-menos,
    .THIS .rq-boton-mas{display:inline-block;}
}