.THIS {
}

.THIS .bx-wrapper{
    margin-bottom:0;
}
.THIS li{
    margin:0;
}
.THIS .rq-titulo-bienvenida{
    font-size:2.25em;
    font-family:Repsol-Rg;
    color:#5c4e44
}
.THIS img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* Slideshow container */
.THIS.slider-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.THIS .bx-controls{text-align:center;position:absolute;width:100%;top:90%;}
.THIS .bx-pager-item{display:inline-block;margin:0 auto;}



/* On hover, add a black background color with a little bit see-through */
.THIS .prev:hover, 
.THIS .next:hover {
 color:#AFA8A3;
 text-decoration:none;
}



.THIS .bx-pager-link {
  cursor:pointer;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #fff;
  border:1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.THIS .active,
.THIS .bx-pager-link:hover {
  background-color: token(colorGeneral);
}