.THIS {
}
.THIS.wrapper-button{
    text-align:right;
}
.THIS.wrapper-button .rq-button
{
   	background:token(colorGeneral);
    border: 1px solid token(colorGeneral);
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    margin: 1em 1em 1em 0;
    width: 200px;
    padding: 0.5em 0;
    transition: all 0.8s ease 0s;
    font-family:Titillium-Rg;
    font-size:0.875em;
}

.THIS.wrapper-button .rq-button:hover,
.THIS.wrapper-button .rq-button:focus{
    color:token(colorGeneral);
    background:#fff;
}

/*SPINNER*/

.THIS .slds-spinner_container
{
    position:fixed;
}

.THIS .slds-spinner_brand.slds-spinner:before,
.THIS .slds-spinner_brand.slds-spinner:after,
.THIS .slds-spinner_brand .slds-spinner__dot-a:before,
.THIS .slds-spinner_brand .slds-spinner__dot-b:before,
.THIS .slds-spinner_brand .slds-spinner__dot-a:after,
.THIS .slds-spinner_brand .slds-spinner__dot-b:after,
.THIS .slds-spinner--brand.slds-spinner:before,
.THIS .slds-spinner--brand.slds-spinner:after,
.THIS .slds-spinner--brand .slds-spinner__dot-a:before,
.THIS .slds-spinner--brand .slds-spinner__dot-b:before,
.THIS .slds-spinner--brand .slds-spinner__dot-a:after,
.THIS .slds-spinner--brand .slds-spinner__dot-b:after
{
    background-color:token(colorGeneral);
}