.THIS {
    font-family:Titillium-Rg;
    font-size:0.875em;
    font-weight:normal;
    background:#fff;
    
}
.THIS .rq-title{ 
  font-weight: bold;
  color: token(colorGeneral);
  display:block;
  padding:0.5em;
}
.THIS.rq-faqs-categorias .rq-faq-list
{
   height:40px;
   background-image:url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png');
   background-size:unset;
}

.THIS.rq-faqs-categorias .btn
{
    display:block;
    padding:1em;
    font-size:1em;
    font-family:Titillium-Rg;
    font-weight:normal;
    color: #5c4e44;
    background:#fff;
    border:1px solid #e0ded9;
    border-radius:0;
    margin:0;
    text-align:left;
    width:100%
}

.THIS.rq-faqs-categorias .btn.on
{
    background:#f5f5f2;
    font-family:Titillium-Sb;
    border-left:3px solid token(colorGeneral);
    
}