.THIS {
    padding:3em 2em;
    color:#5c4e44;
    font-family:Titillium-Rg;
    font-size:1.125em;
    text-align:center;
    background:#fff;
    box-shadow:0 1px 2px 0 #e0ded9;
    position: relative;
    border:1px solid #e0ded9;
}

.THIS span{ 
    display:block;
}

.THIS .rq-button{
  color:#fff;
  background-color: token(colorGeneral);
  border: solid 1px token(colorGeneral);
  font-family:Titillium-Rg;
  font-size:0.875em;
  padding:0.5em 1em;
  margin:1em 0;
}

.THIS .rq-button:hover,
.THIS .rq-button:focus{
    color:token(colorGeneral);
    background:#fff;
}


.THIS.slds-spinner_container
{
    position:fixed;
}

.THIS .slds-spinner_brand.slds-spinner:before,
.THIS .slds-spinner_brand.slds-spinner:after,
.THIS .slds-spinner_brand .slds-spinner__dot-a:before,
.THIS .slds-spinner_brand .slds-spinner__dot-b:before,
.THIS .slds-spinner_brand .slds-spinner__dot-a:after,
.THIS .slds-spinner_brand .slds-spinner__dot-b:after,
.THIS .slds-spinner--brand.slds-spinner:before,
.THIS .slds-spinner--brand.slds-spinner:after,
.THIS .slds-spinner--brand .slds-spinner__dot-a:before,
.THIS .slds-spinner--brand .slds-spinner__dot-b:before,
.THIS .slds-spinner--brand .slds-spinner__dot-a:after,
.THIS .slds-spinner--brand .slds-spinner__dot-b:after
{
    background-color:token(colorGeneral);
}