.THIS {
    background:#fff;
    padding:1em;
    box-shadow: 0 1px 2px 0 #e0ded9;
	border: solid 1px #e0ded9;
}
.THIS ul{
    min-height:200px;
}
.THIS li{
    margin:0;
    padding:5px 0;
    border-bottom: solid 1px #e0ded9;
}
.THIS li:last-child{
    border-bottom:0;
}

.THIS .rq-title{
    font-family: Repsol-Rg;
    font-size: 1.625em;
    color: #ff8200;
    background: url(../resource/RQO_sr_QuimicaResources/images/icon-notificaciones-plus.png) no-repeat left center;
    padding: 0.25em 0 0.25em 2.5em;
    display: block;
    border-bottom: 2px solid #e0ded9;
}

.THIS .rq-link-all
{
    background-color: none;
    border: none;
    background: url(../resource/RQO_sr_QuimicaResources/images/icon-mas.png) no-repeat right center;
    color: #ff8200;
    font-size: .875em;
    font-family: Titillium-Rg;
    padding:0 1em 0 0;
}
.THIS .rq-link-all:hover,
.THIS .rq-link-all:focus{
    text-decoration:underline;
}