.THIS {
    background:#fff;
    border:1px solid #e0ded9;
    display:block;
    margin:0.5em 0;
}

.THIS .rq-label
{
  font-family: Titillium-Rg;
  font-size: 0.875em;
  font-weight: bold;
  color: #5c4e44;
  display:inline-block;
  width:50%;
  padding:1em 0.75em;
  text-align:center;
  vertical-align:middle;
  position:relative;
}

.THIS .rq-label:first-child:after{
    content:"";
    display:inline-block;
    width:2px;
    height:38px;
    vertical-align:middle;
    background:#e0ded9;
    position:absolute;
    right:0;
    top:5px;
}

.THIS .rq-select-direccion{
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}
.THIS .rq-select-direccion .rq-select{
    margin:0.75em 0;
}
.THIS .rq-select-direccion .rq-select label{
    display:none;
}
.THIS .rq-select-direccion .rq-select select{
    height:40px;
    background-position:98% center;
}


/*ESTILOS RESPONSIVE*/

@media only screen and (min-width:736px)
{
    .THIS .rq-label{width:20%;}  
    .THIS .rq-select-direccion{display:inline-block;max-width:unset;width:60%;text-align:right;}
    .THIS .rq-select-direccion .rq-select{width:70%;margin:0.75em 1em;display:inline-block;}
}