.THIS {
    
}
.THIS .cabecera{
    padding:0.5em 0 0 0.5em;
    border-bottom:3px solid token(colorGeneral);
    font-family:Repsol-Rg;
    font-size:1.625em;
    color:token(colorGeneral);
}

.THIS .rq-text-intro,
.THIS .rq-list-consentimiento{
    font-family:Titillium-Rg;
    font-size:0.875em;
    padding:1em 0.5em;
    color:#5c4e44;
}
.THIS .rq-list-consentimiento li{
    margin:0;
    padding:0.5em 4.5em;
}
.THIS .slds-checkbox .slds-checkbox_faux,
.THIS .slds-checkbox .slds-checkbox--faux
{
    border-color:#afa8a3;
}
.THIS .rq-list-consentimiento .slds-checkbox_faux{

    margin-right:10px;
    border-radius:4px;
}

.THIS .slds-checkbox [type=checkbox]:checked + .slds-checkbox__label > .slds-checkbox_faux:after
{
    border-bottom: 2px solid token(colorGeneral);
    border-left: 2px solid token(colorGeneral);
}