.THIS {
    background: #fff;
    padding: 0.75em 0.75em 0;
    box-shadow: 0 1px 2px 0 #e0ded9;
    border:1px solid #e0ded9;
    border-bottom:0;
}

.THIS .movil-display{
    display:block;
    width:100%;
    background: #f5f5f2 none repeat scroll 0 0;
    padding: 0.5em;
    text-align: left;
}

.THIS .movil-hide{
   display:none;
}

.THIS thead{
    border-bottom:3px solid token(colorGeneral);
    padding: 0.75em 0;
    vertical-align: bottom;
}
.THIS tbody{
    position:relative;
}
.THIS tbody tr{
    display:block;
    width:100%;
    position:relative;
}

.THIS tfoot{
    display:block;
    width:100%;
    background:#fff7ee;
    border-bottom:1px solid #afa8a3;
    border-top:1px solid #afa8a3;
}

.THIS th,
.THIS td{
    line-height: 1;
    white-space: normal;
    vertical-align:middle;
}


.THIS th:nth-child(1),
.THIS td:nth-child(1),
.THIS th:nth-child(3),
.THIS td:nth-child(3)
{
   display: inline-block;
   width: 50%;
   padding:1em 0;
}

.THIS thead th:nth-child(n+4),
.THIS tbody td:nth-child(n+4){
    display:none;
}
.THIS thead th:last-child,
.THIS tbody td:last-child{
    display:block;
}

.THIS .rq-table-block{
    display:block!important;
    
}
.THIS th{
   vertical-align:bottom;
}

.THIS th span{
  font-family:Titillium-Rg;
  font-weight:bold;
  font-size:0.875em;
  color: #5c4e44;
  padding:0.75em 0;
  display:block;
  margin:0 10px;
}

.THIS table td.movil-display:before {
    content: attr(data-content);
    font-weight: bold;
    font-size:0.875em;
    display:block;
    margin:1em 0;
 }

.THIS td span{
  font-family: Titillium-Rg;
  font-size: 0.875em;
  color: #5c4e44;
  margin:0 5px;
  line-height:1.2;
  display:inline-block;
  vertical-align:middle;
  text-align:left;
}

.THIS td.rq-expandir{
    position: absolute;
    right: 0;
    top: 0;
}
.THIS td.rq-expandir button{
    padding:1em;
    background:transparent url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png') no-repeat center;
    border:transparent;
}

.THIS tfoot span{
    letter-spacing:1px;
    font-weight:bold;
    padding:0.75em;
}
.THIS.rq-table-wrapper table input.rq-numero-ref{
    margin:0.75em 0 0;
}
.THIS.rq-table-wrapper table tbody .input,
.THIS.rq-table-wrapper table tbody select{
    width: 90%;
    height:40px;
    font-family:Titillium-Rg;
    font-size:0.875em;
    border-color:#afa8a3;
}


.THIS.rq-table-wrapper table tbody select{
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    font-family: Titillium-Rg;
    font-size: .875em;
    color: #5c4e44;
    padding:0 1em 0 0.5em;
    background-image: url("../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png");
    background-position: 95% center;
    background-size: unset;
    background-repeat: no-repeat;
}
.THIS .rq-select .slds-select_container::before,
.THIS .rq-select .slds-select_container::after{
    
    display:none;
    
}
.THIS.rq-table-wrapper table tbody .rq-select label{
    display:none;
}

.THIS tfoot td:nth-child(1){
	text-transform:uppercase;
    text-align:center;
}

.THIS tfoot td:nth-child(2) span{
	margin-left:3em;
}


.THIS .rq-duplicar{
    background: transparent url('../resource/RQO_sr_QuimicaResources/images/icon-duplicar.png') no-repeat center;
    padding:1em;
    border:1px solid transparent;
    display:block;
    margin:0 auto;
}

.THIS .rq-eliminar{
    background:transparent url('../resource/RQO_sr_QuimicaResources/images/icon-cerrar.png') no-repeat center;
    padding:1em;
    border:1px solid transparent;
    display:block;
    margin:0 auto;
}
.THIS .rq-duplicar:hover,
.THIS .rq-duplicar:focus,
.THIS .rq-eliminar:hover,
.THIS .rq-eliminar:focus{
    border:1px solid token(colorGeneral);
}

.THIS .rq-fecha{
    background:#fff url('../resource/RQO_sr_QuimicaResources/images/icon-calendario.png') no-repeat 95% center;
	padding:0 0.75em;
}

.THIS .rq-fecha + a{
    display:none;
}

.THIS table tr.rq-error-line td.rq-error-cell span{
    color:rgb(194, 57, 52);
    display:block;
    margin-bottom:5px;
    font-family:Titillium-Sb;
}
.THIS table tr.rq-error-line td.rq-error-cell .rq-icon-validate{float:left;}
.THIS table tr.rq-error-line td.rq-error-cell .rq-icon-validate .slds-icon-text-default{fill:token(colorGeneral);}

/* BOTON DE INFORMACION ---- TOGGLE -----*/
.THIS .rq-question{
    border:1px solid token(colorGeneral);
    background:token(colorGeneral);
    border-radius:25px;
    transition:0.8s ease all;
    width:1em;
    height:1em;
}
.THIS .rq-question:hover,
.THIS .rq-question:focus{
    background:#fff;
    transition:0.8s ease all;
}

.THIS .rq-question span{
    margin:-4px 0 0 0;
    padding:0;
}
.THIS .rq-question svg{
    fill:#fff;
    transition:0.8s ease all;
}
.THIS .rq-question:hover svg, .THIS .rq-question:focus svg{
    fill:token(colorGeneral);
    transition:0.8s ease all;
}
.THIS .rq-msg-info{
    display:none;
    position: absolute;
    background: #F7F9FA;
    z-index: 100;
    width: 200px;
    padding: 0.5em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  	border: solid 1px #e0ded9;
}
.THIS .rq-msg-info:before,
.THIS .rq-msg-info:after{
 	border: medium solid transparent;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 15%;
    position: absolute;
    width: 0;
}
.THIS .rq-msg-info:before
{
    border-color: rgba(102, 102, 102, 0);
    border-width: .5rem;
    margin-left: -.5rem;

}
.THIS .rq-msg-info:after
{
    border-bottom-color: #f7f9fa;
    border-width: 0.4375rem;
    margin-left: -0.4375rem;
}
/* FIN DE BOTON DE INFORMACION ------- TOGGLE --------*/


/*::::::::::::::::: C O N T R O L E S  P E D I D O S ::::::::::::::::::::::::::::*/

.THIS .rq-controls{
    margin: 1.5em 0.75em 0.75em 0;
    text-align: right;
}

.THIS .rq-controls .rq-button-agregar{
     font-family: Titillium-Rg;
     font-size:0.875em;
     color:token(colorGeneral);
     text-decoration:underline;
     border:1px solid transparent;
     background:#fff url('../resource/RQO_sr_QuimicaResources/images/icon-mas.png') no-repeat 95% center;
     margin-bottom:2em;
     padding-right:2em;
     vertical-align:top;
     height:40px;
}

.THIS .rq-controls .rq-button-agregar:hover,
.THIS .rq-controls .rq-button-agregar:focus
{
    border:1px solid token(colorGeneral);
}


.THIS .rq-controls .rq-button-continuar{
    background:token(colorGeneral);
    border-color:token(colorGeneral);
    color:#fff;
    font-family: Titillium-Rg;
 	font-size:0.875em;
    width:190px;
    height:40px;   
}

.THIS .rq-controls .rq-button-continuar:hover,
.THIS .rq-controls .rq-button-continuar:focus{
    background:#fff;
    color:token(colorGeneral);
}
/*::::::::::::::::: C O N T R O L E S  P E D I D O S ::::::::::::::::::::::::::::*/


/*:::::::::: P O P U P   S T Y L E S ::::::::::::::*/


.THIS .rq-popup .slds-modal__header{
    text-align:left;
    border-radius:0;
    border-bottom:none;
    padding:1.5em 1.5em 0.5em;
}
.THIS .rq-popup .rq-title-popup
{
  font-family: Repsol-Rg;
  font-size: 1.625em;
  line-height: 1.08;
  color: token(colorGeneral);
  padding:1em 0 1em 2.5em;
  background:url('../resource/RQO_sr_QuimicaResources/images/icon-duplicar-interior.png') no-repeat left center;
}

.THIS .rq-popup .rq-button-close
{
    position: absolute;
    right: 5%;
    padding: 1em;
    top: 20%;
    border:1px solid transparent;
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-cerrar.png') no-repeat center;
}

.THIS .rq-popup .rq-button-close:hover,
.THIS .rq-popup .rq-button-close:focus{
    border:1px solid #000;
}


.THIS .rq-popup .rq-wrapper-content
{
	border-top: 1px solid #e0ded9;
    border-bottom: 1px solid #e0ded9;
    padding: 1em 0;
}


.THIS .rq-popup .rq-wrapper-content .rq-popup-label
{
 font-family: Titillium-Rg;
  font-size: 1.125em;
  line-height:1.1;
  color: #5c4e44;
  display:block;
  margin-bottom:1em;
}

.THIS .rq-popup .rq-wrapper-content .rq-popup-input
 {
    max-width:80px;
    font-family:Titillium-Rg;
    font-size:0.875em;
 }


.THIS .rq-popup .slds-modal__footer{
    border-radius:0;
    border-top:none;
    padding:0 1.5em 1em;
}
.THIS .rq-popup .slds-modal__footer .rq-button-cancel{
 font-family: Titillium-Rg;
 font-size:0.875em;
 color:token(colorGeneral);
 text-decoration:underline;
 border:1px solid transparent;
 background:#fff;
 height:40px;
 margin-bottom: 2em;
 vertical-align: top;
}

.THIS .rq-popup .slds-modal__footer .rq-button-cancel:hover,
.THIS .rq-popup .slds-modal__footer .rq-button-cancel:focus
{
    background:#fff;
    border:1px solid token(colorGeneral);
}

.THIS .rq-popup .slds-modal__footer .rq-button-accept{
    background:token(colorGeneral);
    border-color:token(colorGeneral);
    color:#fff;
    font-family: Titillium-Rg;
 	font-size:0.875em;
    width:190px;
    height:40px;   
}

.THIS .rq-popup .slds-modal__footer .rq-button-accept:hover,
.THIS .rq-popup .slds-modal__footer .rq-button-accept:focus
{
    color:token(colorGeneral);
    background:#fff;
}
/*:::::: F I N   P O P U P   S T Y L E S ::::::::::*/



/*:::::::::::::::::::::::::::*/
/* ESTILOS RESPONSIVE TABLET */

@media only screen and (min-width: 767px)
{
   .THIS{
        background:#fff;
    }
    .THIS tbody tr{
         display:table-row;
         position:relative;
     }
    .THIS tbody tr:after{
        content:" ";
        display:block;
        height:1px;
        background:#e0ded9;
        position:absolute;
        left:0;
        width:100%;
        bottom:0;
    }

    .THIS tfoot{display:table-footer-group;}
    
   /* .THIS thead th:nth-child(1),.THIS tbody td:nth-child(1){width:5%;text-align:center;}
    
    .THIS .rq-fecha{
   		 background-image:none;
	}
    /*:::::: C O N T R O L E S   P E D I D O S :::::::::*/
    .THIS .rq-controls .rq-button-agregar{
		margin-right:2em;
        margin-bottom:0;
	}

}

/*:::::::::::::::::::::::::::::::::::::*/
/* E S T I L O S   R E S P O N S I V E */

@media only screen and (min-width:977px)
{
    
    .THIS thead th:nth-child(2),
    .THIS tbody td:nth-child(2){
        display:table-cell;
        text-align:left;
    }

    .THIS thead th:nth-child(n+1),
    .THIS tbody td:nth-child(n+1){
        display:table-cell;
    }
    .THIS tbody td.rq-expandir{display:none;}
    
    .THIS .movil-display{
        display:table-cell;
        width:unset;
        background:none;
        padding:0;
        text-align: left;
    }
    
    .THIS .movil-hide{display:table-cell;}
    
    .THIS tbody td{text-align:center!important;}
    .THIS thead th:nth-child(1),.THIS tbody td:nth-child(1){width:4%;}
    
    .THIS thead th:nth-child(2),.THIS tbody td:nth-child(2){width:8%;}
    
    .THIS thead th:nth-child(3),.THIS tbody td:nth-child(3){width:10%;text-align:left;}
    
    .THIS thead th:nth-child(4), .THIS tbody td:nth-child(4){width:12%;text-align:left;}
    
    .THIS thead th:nth-child(5), .THIS tbody td:nth-child(5){width:8%;text-align:left;}
    
    .THIS thead th:nth-child(6),.THIS tbody td:nth-child(6){width:10%;text-align:left;}
    
    .THIS thead th:nth-child(7),.THIS tbody td:nth-child(7){width:15%;text-align:left;}
    
    .THIS thead th:nth-child(8),.THIS tbody td:nth-child(8){width:23%;text-align:left;}
    
    .THIS thead th:nth-child(9),.THIS tbody td:nth-child(9){width:6%;text-align:left;}
    
    .THIS thead th:nth-child(10),.THIS tbody td:nth-child(10){width:3%;text-align:center;}
    
    .THIS thead th:nth-child(11),.THIS tbody td:nth-child(11){width:3%;text-align:center;}
    
    .THIS table td.movil-display:before {content: "";}
    
    .THIS thead th:nth-child(2) > span{ 
    	display:inline-block;
        vertical-align:middle;
        width:50%;
    }
    
    .THIS .rq-fecha{background-image:url('../resource/RQO_sr_QuimicaResources/images/icon-calendario.png');}	
}


/*::::::::::::::::::::::::::::::::::::::::::::::::*/
/* E S T I L O S  S U P E R - E S C R I T O R I O */

@media only screen and (min-width:1024x)
{
    .THIS thead th:nth-child(7),.THIS tbody td:nth-child(7){width:12%;}
}