.THIS {
    background:#fff;
    box-shadow: 0 1px 2px 0 #e0ded9;
    border: solid 1px #e0ded9;
    padding:.75em;
    margin:1em 0;
}

.THIS .rq-cabecera-tabla .rq-title-tabla{
    font-size:1.625em;
    font-family:Repsol-Rg;
    color:token(colorGeneral);
    background:url('../resource/RQO_QuimicaResources/images/icono-consumos.png') no-repeat left center;
    padding:1em 0 1em 2em;
    border-bottom: 1px solid #e0ded9;
    margin-bottom: 0.75em;
}
.THIS .rq-controles{
    text-align:center;
}
.THIS .rq-button{
     font-size:0.875em;
     font-family:Titillium-Sb;
     padding:0.5em 0 0.5em 2.5em;
     width:125px;
}
.THIS .rq-check{
    margin-bottom:0.5em;
    text-align:right;
}
.THIS .rq-check .slds-checkbox--faux{border:1px solid #afa8a3;}

.THIS .rq-check .slds-form-element__label{
    margin-right:0;
    font-size:1em;
}

.THIS .slds-checkbox [type="checkbox"]:checked + .slds-checkbox__label .slds-checkbox--faux::after
{
	border-bottom: 2px solid token(colorGeneral);
	border-left: 2px solid token(colorGeneral);
}
.THIS .rq-button:hover,
.THIS .rq-button:focus{
    text-decoration:underline;
}
.THIS .rq-button.rq-tabla{
    color:#041e42;
    border:2px solid #041e42;
    margin-left:15px;
}
.THIS .rq-button.rq-tabla{
      background:#fff url('../resource/RQO_QuimicaResources/images/icono-tabla.png') no-repeat 10px center;
}

/*:::::: ESTILOS RESPONSIVE TABLET :::::::::*/
@media only screen and (min-width:736px)
{
     .THIS .rq-cabecera-tabla
    {
        border-bottom:1px solid #e0ded9;
        margin-bottom:1em;
    }
    .THIS .rq-cabecera-tabla .rq-title-tabla{
        display:inline-block;
        vertical-align:middle;
        border:none;
        margin:0;
    }
    .THIS .rq-controles{float:right;}
}

/*:::::: ESTILOS RESPONSIVE ESCRITORIO :::::::::*/
@media only screen and (min-width:1024px)
{
    .THIS .rq-cabecera-tabla{border-bottom:2px solid token(colorGeneral);}
}