.THIS {
}

.THIS .rq-access{
    padding:0.75em;
    background:url('../resource/RQO_QuimicaResources/images/icon-user.png') no-repeat center;
    padding:1em;
    margin-left:0.5em;
    border:1px solid transparent;
}

.THIS .rq-access:hover,
.THIS .rq-access:focus{
        border:1px solid token(colorGeneral);
}

.THIS .rq-nav-logo img{
   width:unset;
   display:block;
}
.THIS .rq-nav-logo{
    padding: 1em 3em 0 0em;
    background:url(../resource/RQO_QuimicaResources/images/separator.png) no-repeat center right;
	display: inline-block;
    vertical-align: middle;
    
}
.THIS .container--repsol{
    padding:0 1em;
    max-width:1176px;
    margin:0 auto;
}
.THIS .rq-form select.rq-languaje{
    -moz-appearance: none;
    -webkit-appearance: none;
    border: medium none;
    display: inline-block;
    font-family: Titillium-Rg;
    color: #afa8a3;
    background: url("../resource/RQO_QuimicaResources/images/icon-arrow-select.png") no-repeat center right;
}

.THIS .rq-form{
    padding:1.25em 0;
    text-align:left;
}

.THIS .rq-nav-title-lang{  
    color: #ff8200;
    font-family: "Repsol-Rg",Arial,Helvetica,sans-serif;
    font-size: 1.5em;
    padding: 1em 0 0.5em 0.5em;
    position: relative;
    text-align:center;
    display: inline-block;
 	vertical-align: middle; 
}

/*:::::::::::::::::::::::::*/
/* ESTILOS PARA ESCRITORIO */
 @media only screen and (min-width: 767px)
{    
    
    .THIS .rq-form{
        margin-right:2em;
        display:inline-block;
        float:right;
    }
    
    .THIS .rq-access
    {
        float:right;
        margin-top:1em;
    }
    
    
}