.THIS{
    
}
.THIS .wrapper-table{
  box-shadow: 0 1px 2px 0 #e0ded9;
  border:1px solid #e0ded9;
  padding:1em;
  margin:1em 0;
  background:#fff;
}

.THIS caption{
    background: #f9f8f7;
    padding: 0.75em;
    border-top: 1px solid #afa8a3;
    border-bottom: 1px solid #afa8a3;
}

.THIS caption div{
  display:inline-block;
  vertical-align:middle;
  width:47%;
  font-family:Titillium-Rg;
  position:relative;
}

.THIS caption div:last-child{
    width: 100%;
}
.THIS caption .rq-header{
    font-weight:bold;
    margin-right:20px;
    padding-right:1em;
    background:none;
    position:relative;
    z-index:0;
}
.THIS caption .rq-header:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 20px;
    display: block;
    background: #e0ded9;
}
.THIS tbody td{margin:0;}

.THIS thead th,
.THIS tbody td
{
   display:inline-block;
   width:50%;
   vertical-align:top;
    
}
.THIS thead th:nth-child(n+1)
{
   display:none;
}
.THIS tbody td:nth-child(n+1):before
{
    content: attr(data-content);
    font-weight: bold;
    display:block;
    margin:0.5em 0;
}
.THIS th .rq-head{
    display:block;
    font-weight:bold;
    font-family:Titillium-Rg;
    font-size:0.875em;
    text-align:center;
    padding:0.5em 0.75em;
}
.THIS .rq-numero-solicitud{margin-left:1em;}

.THIS .rq-numero-solicitud:before{
    content:"";
    width:1px;
    height:70px;
    background:#e0ded9;
    position:absolute;
    left:-20px;
    top:0;
}

.THIS .rq-select-agrupacion{
    text-align:right;
    margin:3em 0 1em;
   
}
.THIS .rq-select-agrupacion .rq-select{margin-left:1em; display:inline-block;}
.THIS .rq-select-agrupacion .rq-select label{display:none;}
.THIS .rq-select-agrupacion .rq-label{font-size:0.875em;font-family:Titillium-Rg;}
.THIS .rq-select-agrupacion select{
    height:40px;
    background-image:url("../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png");
    background-repeat:no-repeat;
    background-position:95% center;
    background-size:auto;
    font-size: 0.875em;
	font-family: Titillium-Rg;
     border:1px solid #afa8a3;
}
.THIS .rq-select-agrupacion .slds-select_container:before,
.THIS .rq-select-agrupacion .slds-select_container:after{
    display:none;
}

/*:::::::: PAGINACION :::::::::*/
.THIS .rq-paginator {text-align:center;}
.THIS .rq-paginator .rq-paginator-item{display:inline-block; }
.THIS .rq-paginator .rq-paginator-item button{
        background:#fff;
        color:#007e94;
        border:1px solid #e0ded9;
    	border-radius:0;
        margin:0.5em 0.25em;
        padding:0 0.5em 0.25em;
    	line-height:1.5;
        font-family:Titillium-Rg;
        font-size:0.875em;
    	text-decoration:underline;
    }
.THIS .rq-paginator .rq-paginator-item button.fa{
    font-family: fontawesome;
    text-decoration: none;
    padding-top: 0.125em;
    padding-bottom: 0.125em;
}

/*------------------ SPINNER -----------------*/

.THIS.slds-spinner_container
{
    position:fixed;
}

.THIS .slds-spinner_brand.slds-spinner:before,
.THIS .slds-spinner_brand.slds-spinner:after,
.THIS .slds-spinner_brand .slds-spinner__dot-a:before,
.THIS .slds-spinner_brand .slds-spinner__dot-b:before,
.THIS .slds-spinner_brand .slds-spinner__dot-a:after,
.THIS .slds-spinner_brand .slds-spinner__dot-b:after,
.THIS .slds-spinner--brand.slds-spinner:before,
.THIS .slds-spinner--brand.slds-spinner:after,
.THIS .slds-spinner--brand .slds-spinner__dot-a:before,
.THIS .slds-spinner--brand .slds-spinner__dot-b:before,
.THIS .slds-spinner--brand .slds-spinner__dot-a:after,
.THIS .slds-spinner--brand .slds-spinner__dot-b:after
{
    background-color:token(colorGeneral);
}


/*:::::::  ESTILOS DESKTOP :::::::::*/
@media only screen and (min-width:821px)
{
    .THIS tbody{border-top:3px solid #ff8200;}
    
    .THIS thead th,
    .THIS tbody td
    {
        display:table-cell;
        width:8%;
        padding:0 0.5em;
        vertical-align:middle;
    }
    
    .THIS thead th:nth-child(n+1),
    .THIS tbody td:nth-child(n+1){display:table-cell;}
    .THIS tbody td:nth-child(n+1):before{display:none;}
    
    .THIS thead th:nth-child(1),.THIS tbody td:nth-child(1){width:10%;}
    .THIS thead th:nth-child(2),.THIS tbody td:nth-child(2){width:10%;}
    .THIS thead th:nth-child(3),.THIS tbody td:nth-child(3){width:15%;}
    .THIS thead th:nth-child(4),.THIS tbody td:nth-child(4){width:12%;}
    .THIS thead th:nth-child(5),.THIS tbody td:nth-child(5){width:5%;}
    .THIS thead th:nth-child(6),.THIS tbody td:nth-child(6){width:10%;}
    .THIS thead th:nth-child(7),.THIS tbody td:nth-child(7){width:15%;}
    .THIS thead th:nth-child(8),.THIS tbody td:nth-child(8){width:13%;} 
    .THIS thead th:nth-child(9),.THIS tbody td:nth-child(9){width:0%;} 

}