.THIS {
}
.THIS .wrapper-botones{
    text-align:right;
}
.THIS .wrapper-botones .rq-select{
    display:inline-block;
    vertical-align:middle;
    height:40px;
}
.THIS .wrapper-botones .rq-select label{
    display:none;
}
.THIS .wrapper-botones .rq-button{
    background:#fff;
    color:token(colorGeneral);
    border:1px solid token(colorGeneral);
    font-family:Titillium-Rg;
    font-size:0.875em;
    display:inline-block;
    margin:1em 0 1em 0.5em;
    transition:0.8s ease all;
    padding:.5em 1em .5em 1em;
}

.THIS .wrapper-botones .rq-button:hover,
.THIS .wrapper-botones .rq-button:focus{
    background-color:token(colorGeneral);
    color:#fff;
    transition:0.8s ease all;
}
.THIS .wrapper-botones .rq-button.rq-facturas{
    background-image: url(../resource/RQO_sr_QuimicaResources/images/icono-descargar.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding:.5em 1em .5em 3em;
}
.THIS .wrapper-botones .rq-button.rq-facturas:hover,
.THIS .wrapper-botones .rq-button.rq-facturas:focus{
    background-image: url(../resource/RQO_sr_QuimicaResources/images/icono-descargar-h.png);
    background-repeat: no-repeat;
    background-position: 10px center;
}
.THIS .wrapper-botones .rq-button.rq-excel{
    background-image: url(../resource/RQO_sr_QuimicaResources/images/icon-excel.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding:.5em 1em .5em 3em;
}
.THIS .wrapper-botones .rq-button.rq-excel:hover,
.THIS .wrapper-botones .rq-button.rq-excel:focus{
    background-image: url(../resource/RQO_sr_QuimicaResources/images/icon-excel-h.png);
    background-repeat: no-repeat;
    background-position: 10px center;
}
.THIS .rq-tabla{
    font-family:Titillium-Rg;
    font-size:0.875em;
    padding:0.5em;
    background:#fff;
    box-shadow: 0 1px 2px 0 #e0ded9;
    border: solid 1px #e0ded9;
}
.THIS .rq-tabla tr td.movil-hide,
.THIS .rq-tabla tr td .wrapper-tabla-interior{
    display:none;
}

.THIS .rq-tabla tr td.movil-hide.show,
.THIS .rq-tabla tr.active-row + tr td .wrapper-tabla-interior.show{
    display:block;
}
.THIS .rq-tabla caption{
    background-image: -webkit-linear-gradient(left, #ff8200, #ffb81c);
    background-image: linear-gradient(to right, #ff8200, #ffb81c);
    border-radius: 4px 4px 0 0;
    color: #fff;
    display: table-caption;
    font-family: Titillium-Sb;
    font-size: 1.429em;
    padding:0.5em 1em;
    width: 100%;
}
.THIS table caption .rq-results:before{content:"-";margin:0 5px;}
.THIS table caption .rq-results{
    font-size:0.8em;
}
.THIS .rq-tabla thead th{
    padding:0.5em;
    font-family:Titillium-Sb;
}
.THIS .rq-tabla > table > tbody{
    border-top:2px solid token(colorGeneral);
}
.THIS .rq-tabla tbody tr{
    border-bottom:1px solid #e0ded9;
    position:relative;
    display:block;
    
}

.THIS .rq-tabla tbody td{
    padding:0.5em;
}

.THIS .rq-tabla tbody td span.rq-notif-title{vertical-align:middle;}

.THIS .rq-tabla tbody td .rq-descarga{
    padding:1.25em;
    background:#fff url('../resource/RQO_sr_QuimicaResources/images/icono-descargar.svg') no-repeat center;
    border:1px solid transparent;
}
.THIS .rq-tabla tbody td .rq-reportar{
    background:#fff;
    color:token(colorGeneral);
    padding:0.125em;
    border:1px solid transparent;
    font-size:25px;
}

.THIS .rq-tabla tbody td .rq-toggle-btn
{
    background:none;
    border:none;
    color:#5C4E44;
    padding:0.5em;
}
.THIS .rq-tabla tbody td .rq-descarga:hover,
.THIS .rq-tabla tbody td .rq-descarga:focus,
.THIS .rq-tabla tbody td .rq-reportar:hover,
.THIS .rq-tabla tbody td .rq-reportar:focus{
    border:1px solid token(colorGeneral);
}
.THIS .rq-tabla tbody td.rq-td-table{
    padding:0;
}
.THIS .rq-tabla tbody td{
    position:relative;
}


.THIS .rq-tabla > table > thead > tr > th:nth-child(1),
.THIS .rq-tabla > table > tbody > tr > td:nth-child(1)
{
    display:inline-block;
}
.THIS .rq-tabla table tbody tr td.rq-td-table{
    display:block;
}
.THIS .rq-tabla > table > thead > tr > th:nth-child(2),
.THIS .rq-tabla > table > thead > tr > th:nth-child(3),
.THIS .rq-tabla > table > tbody > tr > td:nth-child(2),
.THIS .rq-tabla > table > tbody > tr > td:nth-child(3){
    display:inline-block;
    width:33%;
    vertical-align:top;
    
}
.THIS thead th:nth-child(n+4)
{
    display:none;
}

.THIS tbody td:nth-child(n+4)
{
    display:block;
    width:100%;
}
.THIS tbody td:nth-child(n+4):before{
 	content: attr(data-content);
    font-weight: bold;
    display:inline-block;
    width:50%;
    margin-right:5px;
}
.THIS tbody table td:before{
 	content: attr(data-content);
    font-weight: bold;
    display:inline-block;
    width:50%;
    margin-right:5px;
}  
.THIS .rq-tabla > table > tbody > tr > td:nth-last-child(2){
	position: absolute;
    top: -20px;
    right: -5px;
    width: auto;
    padding:0;
}

.THIS .rq-paginador td{
    text-align:center;
}
.THIS .rq-paginador li{
    display: inline-block;
    vertical-align: middle;
    margin-left: .5em;
    margin-top:.5em;
    margin-bottom:0.5em;
}

.THIS .rq-paginador li .rq-arrows
{
    color: #007e94;
    font-size: 1.786em;
    font-weight: bold;
}

.THIS .rq-paginador li button{
    font-size: .875em;
    font-family: Titillium-Rg;
    width: 25px;
    line-height: 1.8;
    padding: 0;
    border: solid 1px #e0ded9;
    border-radius: 0;
    color: #007e94;
    text-decoration: underline;
    -webkit-transition: .8s ease all;
    transition: .8s ease all;
}
.THIS .rq-paginador li button:hover,
.THIS .rq-paginador li button:focus{
    background: none;
    border: solid 1px transparent;
    color: #5c4e44;
    text-decoration: none;
    font-family: Titillium-Sb;
    -webkit-transition: .8s ease all;
    transition: .8s ease all;
}
/*:::::::: PAGINACION :::::::::*/
.THIS .rq-paginator {text-align:center;}
.THIS .rq-paginator .rq-paginator-item{display:inline-block; }
.THIS .rq-paginator .rq-paginator-item button{
        background:#fff;
        color:#007e94;
        border:1px solid #e0ded9;
    	border-radius:0;
        margin:0.5em 0.25em;
        padding:0 0.5em 0.25em;
    	line-height:1.5;
        font-family:Titillium-Rg;
        font-size:0.875em;
    	text-decoration:underline;
    }
.THIS .rq-paginator .rq-paginator-item button.fa{
    font-family: fontawesome;
    text-decoration: none;
    padding-top: 0.125em;
    padding-bottom: 0.125em;
}
.THIS .rq-paginator .rq-paginator-item button.page-active{
    text-decoration:none;
    background:none;
    border:none;
}

/*:::::::::::::::::::::*/
/*::: S P I N N E R :::::*/
.THIS .slds-spinner_container
{
    position:fixed;
}

.THIS .slds-spinner_brand.slds-spinner:before,
.THIS .slds-spinner_brand.slds-spinner:after,
.THIS .slds-spinner_brand .slds-spinner__dot-a:before,
.THIS .slds-spinner_brand .slds-spinner__dot-b:before,
.THIS .slds-spinner_brand .slds-spinner__dot-a:after,
.THIS .slds-spinner_brand .slds-spinner__dot-b:after,
.THIS .slds-spinner--brand.slds-spinner:before,
.THIS .slds-spinner--brand.slds-spinner:after,
.THIS .slds-spinner--brand .slds-spinner__dot-a:before,
.THIS .slds-spinner--brand .slds-spinner__dot-b:before,
.THIS .slds-spinner--brand .slds-spinner__dot-a:after,
.THIS .slds-spinner--brand .slds-spinner__dot-b:after
{
    background-color:token(colorGeneral);
}



/*::::::::::::::::::::::::*/
/*** ESTILOS ESCRITORIO ***/

@media only screen and (min-width:820px)
{

    .THIS .rq-tabla tbody tr{display:table-row;}
    .THIS .rq-tabla th,
    .THIS .rq-tabla td
    {
        display:table-cell!important;
    	width:auto!important;
    }
    
    .THIS tbody td:nth-child(n+4):before{
        display:none;
    }
    
    .THIS .rq-tabla > table > tbody > tr:nth-child(odd)> td:last-child{
        display:none!important;
    }
    
    .THIS .rq-tabla>table>tbody>tr>td:nth-last-child(2){
        position:relative;
        top:0; 
    }
     .THIS tbody td.rq-small{
        width:1%!important;
    }
}