.THIS {
    box-shadow: 0 1px 2px 0 #e0ded9;
 	border:1px solid #e0ded9;
    background:#fff;
    padding:1em;
}

.THIS .rq-search-button button
{
	background-color: token(colorGeneral)!important;
    background: url('../resource/RQO_sr_QuimicaResources/images/icon-lupa.svg') no-repeat center;
    display:block;
    height:2em;
    padding:1.125em 1.5em;
    margin:0.125em auto;
    border:1px solid transparent;
}

.THIS .rq-autocomplete{
    position: absolute;
    z-index: 100;
    background: #fff;
    width: 100%;
    font-family: Titillium-Rg;
    font-size:0.875em;
    box-shadow: 0 1px 4px 0 #afa8a3;
    max-height:180px;
    overflow-y:auto;
    
}
.THIS .rq-autocomplete li{
   padding:0.5em;
   margin:0;
   border-bottom:1px solid #e0ded9;
   
}

.THIS button.rq-button
{
  display:inline-block;
  height: 40px;
  border-radius: 4px;
  background-color: token(colorGeneral);
  border:1px solid token(colorGeneral);
  color:#fff;
  font-family:Titillium-Sb;
  font-size:0.875em;
}
.THIS button.rq-button:hover,
.THIS button.rq-button:focus{
    color:token(colorGeneral);
    background:#fff;
}
.THIS button.rq-link-clear{
    display:inline-block;
    color:token(colorGeneral);
    font-family:Titillium-Sb;
    font-size:0.875em;
    border:none;
    background:none;
}
.THIS button.rq-link-clear:hover,
.THIS button.rq-link-clear:focus
{
    text-decoration:underline;
}
.THIS .rq-search-button button:hover,
.THIS .rq-search-button button focus{
    background: url('../resource/RQO_sr_QuimicaResources/images/icon-lupa.svg') no-repeat center;
    border:1px solid #fff;
}
.THIS .slds-input
{
    color: token(colorGeneral)!important;
    line-height:2.25em;
}
.THIS .rq-search-contain
{
   background-color: token(colorGeneral)!important;
   border:2px solid token(colorGeneral)!important;
   position:relative;
}
.THIS .rq-search-text{
    display:inline-block;
    vertical-align:middle;
    width:80%;
}

.THIS .rq-search-button{
    display:inline-block;
    vertical-align:middle;
    width:20%;
}

.THIS .rq-search-adv {
    display:block;
    text-align:center;
    margin-top:1em;
}
.THIS .rq-search-adv button{
	display: block;
    width: 100%;
    margin-bottom:-1px;
    height: 3em;
    padding-left:0.5em;
    padding-right:1em;
    border:1px solid token(colorGeneral);
    border-radius:5px;
    color:token(colorGeneral); 
    font-family:Titillium-Rg;
    background:#fff url(../resource/RQO_sr_QuimicaResources/images/icon-arrow-bottom-nar.png) no-repeat 90% center;
}

.THIS .rq-search-adv button:hover{
	text-decoration:underline; 
}

.THIS .rq-search-adv button.visible {
	background:#fff url(../resource/RQO_sr_QuimicaResources/images/icon-arrow-top-nar.png) no-repeat 90% center;
    border-bottom:1px solid #fff;
    border-radius:5px 5px 0 0;
}

.THIS .rq-filter-options
{
    display:none;
	clear:both;
    padding: 1em;
    border: 1px solid token(colorGeneral);
   
}
.THIS .rq-filter-options .rq-search-buttons{
    text-align:center;
}

.THIS .rq-filter-options .rq-search-buttons{
    	padding-top:1em;
	}
/*::::::::::::::::::::*/
/* ESTILOS RESPONSIVE */

@media only screen and (min-width:600px)
{
    .THIS .rq-search-text{
        width:85%;
	}

    .THIS .rq-search-button{
        width:15%;
    }
    .THIS .rq-search-contain
    {
       display:inline-block;
       width:70%;
       vertical-align: top;
    }
    
    .THIS .rq-search-adv{
        display: inline-block;
        width: 28%;
        float:right;
        vertical-align: top;
        margin-top:0;
    }
    .THIS .rq-filter-options .rq-search-buttons{
    	text-align:right;
        display:block;
        width:100%;
        margin:1em 0;
	}
}