.THIS {
    margin:1em 1.5%;
}

.THIS .rq-title,
.THIS .rq-select-filter{
  font-family: Titillium-Rg;
  font-size: 0.875em;
  color: #5c4e44;
  padding:0 1em;
}
.THIS.search-filter-item .rq-select-filter{
    
    padding-right:1em;
    background-image:url("../resource/RQO_sr_QuimicaResources/images/icon-arrow-select-black.png");
	background-size:unset;
}
.THIS .rq-select-filter option{
    padding:0 1em;
}
/*::::::::::::::::::::*/
/* ESTILOS RESPONSIVE */
@media only screen and (min-width: 767px)
{
    .THIS {
        width:30%;
        display:inline-block;
    }
}