.THIS {
    position:relative;
    overflow:hidden;
}

.THIS img{
    display: block;
    height: 100%;
    width: auto;
    max-width:unset;
    position:absolute;
    right:0;
}

.THIS .rq-page-title{
     background: rgba(0, 0, 0, 0) linear-gradient(100deg, rgba(255, 130, 0, 0.9) 0%, rgba(255, 130, 0, 0.9) 50%, rgba(255, 184, 28, 0.9) 93%, rgba(0, 0, 0, 0) 90%) repeat scroll 0 0;
    display: block;
    min-height: 6.25rem;
    max-width:65%;
    position: relative;
}

.THIS .rq-main-title {
  font-family: Repsol-Rg;
  font-size: 1.875em;
  color: #fff;
  padding:1rem 1.25rem 0.25rem;
  display:block;
}

.THIS .rq-section-title {
  font-family:Titillium-Sb;
  font-size: 1.125em;
  color: #fff;
  display:block;
  padding:0.25em 1.25rem;
}


/*::::::::::::::::::::*/
/* ESTILOS RESPONSIVE */

@media only screen and (min-width: 767px)
{
    .THIS .rq-main-title {
        font-size:2.5em;
    }
    .THIS .rq-page-title{
        background: rgba(0, 0, 0, 0) linear-gradient(103deg, rgba(255, 130, 0, 0.9) 0%, rgba(255, 130, 0, 0.9) 50%, rgba(255, 184, 28, 0.9) 93%, rgba(0, 0, 0, 0) 90%) repeat scroll 0 0;
        max-width: 55%;
	}
    .THIS img{
        width:auto;
        height:100%;
    }
}

@media only screen and (min-width: 920px)
{
    .THIS img{width:100%;}
}