.THIS {
}
.THIS .cabecera{
    padding:0.5em 0 0 0.5em;
    border-bottom:3px solid token(colorGeneral);
    font-family:Repsol-Rg;
    font-size:1.625em;
    color:token(colorGeneral);
}
.THIS .slds-wrap
{
    padding:1em 3em;
}
.THIS .slds-wrap > div{
    padding:0.5em 1.5em;
}
.THIS .slds-wrap .rq-label{
    display:block;
    font-family:Titillium-Sb;
    margin:0.5em 0;
    line-height:1.3;
    font-size:0.875em;
    color:#5c4e44;
}
.THIS .slds-wrap .rq-direccion{
    display:block;
    font-family:Titillium-Rg;
 	line-height:1.3;
    font-size:0.875em;
    color:#5c4e44;
}
.THIS .rq-text-intro{
    font-family:Titillium-Rg;
 	line-height:1.3;
    font-size:0.875em;
    padding:1em 0.5em;
    color:#5c4e44;
}
.THIS .rq-text-intro a{
    color:#418080;
    text-decoration:underline;
    margin-left:5px;
}