.THIS {
    margin-bottom:1em;
}

.THIS .rq-ficha-toggle{
    font-size:0.875em;
    color:token(colorGeneral);
    text-align:left;
    font-family:Titillium-Rg;
    font-weight:bold;
    display:block;
    margin-bottom:1em;
}


.THIS .rq-ficha-toggle:after{
    content:url('../resource/RQO_QuimicaResources/images/icon-arrow-bottom-nar.png');
    display:inline-block;
    margin-left: 0.5em;
    vertical-align: text-bottom; 
}
.THIS .rq-ficha-toggle.plegado:after{
    content:url('../resource/RQO_sr_QuimicaResources/images/icon-arrow-top-nar.png');
}
.THIS.rq-recomendacion div
{
    margin-top:1em;
    padding:0em 0em 1em 3em;
    background: url("../resource/RQO_sr_QuimicaResources/images/icon-bombilla.png") no-repeat left top;
}


.THIS.rq-recomendacion .rq-title{
    
  font-family: Titillium-Sb;
  font-size: 0.875em;
  color: token(TextColorGeneral);
  display:block;
  margin-bottom:0.25em;
}

.THIS.rq-recomendacion .rq-texto{
    
  font-family: Titillium-Rg;
  font-size: 0.875em;
  color: token(TextColorGeneral);
    
}
.THIS.rq-recomendacion .rq-texto:after{
    content:',';
    margin:0 2px;
}
.THIS.rq-recomendacion .rq-texto:last-child:after{
    content:'.';
}

.THIS .rq-recomendacion-toggle,
.THIS .rq-segmentos-toggle
{
    display:none;
}


/*::::::::::::::::::::*/
/* ESTILOS ESCRITORIO */
@media only screen and (min-width: 767px)
{
    .THIS.rq-recomendacion .rq-ficha-toggle{
        display:none;
    }
    .THIS .rq-ficha-toggle:after{
        content:' ';
        display:none;
    }
    
    .THIS.rq-segmentos{
  	  margin-left:1em;
	}
    
    .THIS .rq-recomendacion-toggle,
    .THIS .rq-segmentos-toggle
    {
        display:block;
    }

    
}