.THIS {background:#f5f5f2;}

.THIS .siteforceContentArea{background:#f5f5f2;}

.THIS .wrapper{
    padding:1em 0;
    max-width:1200px;
    position:relative;
    margin:0 auto;
}

.THIS .rq-header{background:#fff;position:relative;}
.THIS .rq-footer{border-top:5px solid #fff;}

.THIS .rq-arrow-top{
    background:transparent url('../resource/RQO_sr_QuimicaResources/images/icon-subir.png') no-repeat center;
	padding: 35px 30px;
	border:1px solid transparent;
	border-radius:5px;
    position:fixed;
    bottom:25px;
    right:5px;
    box-shadow: none;
	    
}

.THIS .rq-arrow-top:hover,
.THIS .rq-arrow-top:focus{
    border:1px solid #ccc;
}

    
/*ESTILOS ESCRITORIO*/
@media only screen and (min-width:920px)
{
    .THIS .rq-header{position:fixed;top:0;z-index:9000;width:100%;}
    .THIS .body.wrapper{margin-top:150px;}
}