.THIS.rq-wrapper{
    border:1px solid token(colorGeneral);
    border-radius:5px;
    background:#fff;
    display:inline-block;
}

.THIS.rq-title{
    font-size:0.875em;
    font-family:Titillium-Rg;
    color:token(TextColorGeneral);
    display:block;
    margin:0.5em 0;
}
.THIS .rq-checbox-item {
    position:relative;
    display:inline-block;
}
.THIS .rq-checkbox{
	border: 0 none;
    clip: rect(0 0 0 0);
    height: 100%;
    overflow:hidden;
    padding: 0;
    position: absolute;
    width: 100%;
    display:block;
}

.THIS .rq-checkbox-label{
  font-family: Titillium-Rg;
  font-size: 0.875em;
  color:#afa8a3;
  display:block;
  padding:0.5em 1em;
}

.THIS .rq-checkbox:checked + label{
    background:token(colorGeneral);
   	color:#fff;
}