.THIS {
}

.THIS .rq-paso{
    padding:1.5em 1em;
    border:1px solid #e0ded9;
    position:relative;
}

.THIS .rq-paso .rq-num{
  display:inline-block;
  font-family: Repsol-Rg;
  font-size: 1.625em;
  color: #fff;
  background: #afa8a3;
  border-radius:20px;
  width:40px;
  margin-right:10px;
  text-align:center;
  line-height:1.5;  
 
}
.THIS .rq-paso .rq-title
{
  font-family: Repsol-Rg;
  font-size: 1.625em;
  color: #afa8a3;
  display:inline-block;
  vertical-align:middle;
  max-width:82%;
  line-height:1.1;
}

.THIS .rq-paso.active{
    background:#fff;
    position:relative;
}

.THIS .rq-paso.active .rq-num{
    background:token(colorGeneral);
}

.THIS .rq-paso.active .rq-title{
    color:token(colorGeneral);
}

/*:::::::::::::::::::::::::::::::::::::*/
/* E S T I L O S   R E S P O N S I V E */
/*:::::::::: T A B L E T ::::::::::::::*/

@media only screen and (min-width:736px)
{
    .THIS .rq-paso{
      display:inline-block;
      width:33.3%;
      vertical-align:top;
      min-height:110px;
    }

    .THIS .rq-paso.rq-paso-dos:before{
      	content:" ";
      	position: absolute;
    	left: -30px;
     	border-right: none medium;
    	top:0;
    	right: auto;
   	 	width: 30px;
   		height: 100%;
    	background: linear-gradient(to top left, #F5F5F2 calc(50% - 1px), #e0ded9 1px, #fff 50%);
    }
    
    .THIS .rq-paso.rq-paso-dos.active:before{
        background: linear-gradient(to top left,#fff calc(50% - 1px), #e0ded9 1px, #fff 50%);
    }
    
   .THIS .rq-paso.rq-paso-tres:before{
      	content:" ";
      	position: absolute;
    	left: -30px;
     	border-right: none medium;
    	top:0;
    	right: auto;
   	 	width: 30px;
   		height: 100%;
    	background: linear-gradient(to top left, #F5F5F2 calc(50% - 1px), #e0ded9 1px, #F5F5F2 50%);
    }
    
	.THIS .rq-paso.rq-paso-dos.active + .rq-paso-tres:before{
    	background: linear-gradient(to top left, #F5F5F2 calc(50% - 1px), #e0ded9 1px, white 50%);
    }
   .THIS .rq-paso.rq-paso-dos.active + .rq-paso-tres.active:before{
    	background: linear-gradient(to top left, white calc(50% - 1px), #e0ded9 1px, white 50%);
    }
    .THIS .rq-paso .rq-title{
        max-width:100%;
        margin-top:0.5em;
    }
    
}
/*:::::::::::::::::::::::::::::::::::::*/
/* E S T I L O S   R E S P O N S I V E */
/*:::::::::: T A B L E T ::::::::::::::*/

@media only screen and (min-width:938px)
{
    .THIS .rq-paso .rq-title{
        max-width:70%;
        margin-top:0;
    }
    
    .THIS .rq-paso .rq-num{
       margin-right:20px;
    }
}