.THIS {
    background:#fff;
    padding:1em 0.5em;
    font-family:Titillium-Rg;
    box-shadow: 0 1px 2px 0 #e0ded9;
    border: 1px solid #e0ded9;
    margin-bottom:1em;
}

.THIS .rq-header-resum{
    font-family:Repsol-Rg;
    color:#5c4e44;
    font-size:1.25em;
    color:token(colorGeneral);
}

.THIS caption{
    background:#F9F8F7;
    border-top:1px solid #afa8a3;
    border-bottom:1px solid #afa8a3;
    padding:0.75em 0;
    margin-top:0.5em;
}

.THIS caption span{
    display:inline-block;
    padding:0 1em;
    font-size:0.875em;
   	font-weight:bold;
    position:relative;
}
.THIS caption span:first-child{
    padding-left:0.5em;
}

.THIS caption span:first-child:after{
	content:"";
    position:absolute;
    top:0;
    right:0;
    width:1px;
    height:20px;
    display:block;
    background:#e0ded9;
}
.THIS .rq-head{
    border-bottom:3px solid token(colorGeneral);
}
.THIS .rq-head th span{
    font-weight:bold;
    display:block;
    vertical-align:bottom;
   	padding:1em 0;
    font-size:0.875em;
    color:#5c4e44;
    line-height:1.2;
    margin:0 10px;
    
}
.THIS tbody tr{
 border-bottom:solid 1px #e0ded9;
 display:block;
 position:relative;
 background:#f5f4f2;
}
.THIS tbody td span{
    padding:0.5em 0;
    margin:0 10px;
    display:block;
    font-size:0.875em;
    line-height:1.2;
}
.THIS .rq-table-resumen tbody td.rq-expandir{
    display:block;
    position:absolute;
    top:10px;
    right:0;
}
.THIS .rq-table-resumen tbody td.rq-expandir button{
    background:none;
    border:none;
}
.THIS .rq-eliminar{
    background:transparent url('../resource/RQO_sr_QuimicaResources/images/icon-crear.png') no-repeat center;
    padding:1em;
    border:1px solid transparent;
}
.THIS .rq-eliminar:hover,
.THIS .rq-eliminar:focus{
    border:1px solid token(colorGeneral);
}
.THIS .rq-footer{
    border-top:1px solid #afa8a3;
    border-bottom:1px solid #afa8a3;
}
.THIS .rq-footer td{
    background:#FFF7EE;
    padding:0.5em 0;
    display:block;
    text-align:center;
    font-weight:bold;
}
.THIS .rq-footer td span{
    font-weight:bold;
}

.THIS .rq-table-resumen tbody td,
.THIS .rq-table-resumen thead th{display:none;}

.THIS tbody td:nth-child(1),
.THIS tbody td:nth-child(2),
.THIS thead th:nth-child(1),
.THIS thead th:nth-child(2){display:inline-block;width:45%;}

.THIS .rq-table-resumen .rq-responsive{
    display:block;
    position:absolute;
    top:10px;
    right:0;
    z-index:1000;
}
.THIS .rq-table-resumen .rq-responsive button{
    background:none;
    border:none;
}
.THIS table td.rq-table-block{
    display:block!important;
    background:#fcfbfb;
    border-top:1px solid #e0ded9;
    padding:0.25em;
}
.THIS table.rq-table-resumen td.movil-display:before {
    content: attr(data-content);
    font-weight: bold;
    font-size:0.875em;
    font-family:Titillium-Rg;
  }

.THIS .wrapper-button{
    text-align:right;
}
.THIS .wrapper-button .rq-button-accept{
    background:#fff;
    border:1px solid token(colorGeneral);
    color:token(colorGeneral);
    font-size:0.875em;
    font-family:Titillium-Rg;
    margin-top:1em;
    display:inline-block;
    
}

.THIS .wrapper-button .rq-button-accept:hover,
.THIS .wrapper-button .rq-button-accept:focus{
    color:#fff;
    background:token(colorGeneral);
}
.THIS .rq-icon-validate
{
    margin:0.75em;
}
.THIS .rq-icon-validate svg{
    fill:token(colorGeneral);
}

.THIS .mensaje-error {
    font-family:Titillium-Sb;
    font-size:0.875em;
    color:rgb(194, 57, 52);
}
/* ESTILOS TABLET */
@media only screen and (min-width:977px)
{
    .THIS .rq-table-resumen tbody td,
	.THIS .rq-table-resumen thead th{display:table-cell;width:auto;text-align:center;vertical-align:middle;}
    
    .THIS .rq-table-resumen tbody td:last-child,
	.THIS .rq-table-resumen thead th:last-child{
    	display:none;    
    }
    
    .THIS .rq-footer td{display:table-cell;}
    .THIS .rq-footer td:first-child{text-align:right;}   
    .THIS .rq-table-resumen td.rq-responsive{display:none;}
    .THIS tbody tr{display:table-row;}
    .THIS table.rq-table-resumen td.movil-display:before {content:"";}

    .THIS thead th:nth-child(1),.THIS tbody td:nth-child(1){width:4%;}
    
    .THIS thead th:nth-child(2),.THIS tbody td:nth-child(2){width:8%;position:relative;}
    
    .THIS thead th:nth-child(3),.THIS tbody td:nth-child(3){width:10%;text-align:left;}
    
    .THIS thead th:nth-child(4), .THIS tbody td:nth-child(4){width:12%;text-align:left;}
    
    .THIS thead th:nth-child(5), .THIS tbody td:nth-child(5){width:8%;text-align:left;}
    
    .THIS thead th:nth-child(6),.THIS tbody td:nth-child(6){width:10%;text-align:left;}
    
    .THIS thead th:nth-child(7),.THIS tbody td:nth-child(7){width:15%;text-align:left;}
    
    .THIS thead th:nth-child(8),.THIS tbody td:nth-child(8){width:20%;text-align:left;}
    
    .THIS thead th:nth-child(9),.THIS tbody td:nth-child(9){width:10%;text-align:left;}
    
    .THIS thead th:nth-child(10),.THIS tbody td:nth-child(10){width:3%;text-align:center;}

}