.THIS {
}


 .THIS .wrapper-home > div
{
    margin:0em 0 0.75em;
}
/*::::::::::::::::::*/
/*ESTILOS RESPONSIVE*/
@media only screen and (min-width:768px)
{
    .THIS .wrapper-home > div:nth-child(1),
    .THIS .wrapper-home > div:nth-child(5)
    {
        display:inline-block;
        width:43%;
        vertical-align:top;
        margin-right:3%;
    }
    
    .THIS .wrapper-home > div:nth-child(2),
    .THIS .wrapper-home > div:nth-child(6)
    {
        display:inline-block;
        width:54%;
        vertical-align:top;
    }
    
    .THIS .wrapper-home > div:nth-child(3)
    
    {
        display:inline-block;
        width:53%;
        vertical-align:top;
        margin-right:3%;
    }
    
    .THIS .wrapper-home > div:nth-child(4)
    {
        display:inline-block;
        width:44%;
        vertical-align:top;      
    }
}