.THIS {
    display:block;
    margin-bottom:1em;
}
.THIS .private{
    display:inline-block;
}
.THIS .rq-user-name{
    color:token(colorGeneral);
    font-family: Repsol-Rg;
    display:inline-block;
}
.THIS .rq-user-name:first-child:after{
    content:"-";
    display:inline-block;
    margin:0 2px;
    vertical-align:middle;
}

.THIS .rq-access{
    padding:0.75em;
    background:url('../resource/RQO_sr_QuimicaResources/images/icon-user.png') no-repeat center;
    padding:1em;
    margin-left:0.5em;
    border:1px solid transparent;
}

.THIS .rq-access:hover,
.THIS .rq-access:focus{
    border:1px solid token(colorGeneral);
}
/*:::::::::::::::::::::::::::::::::::::*/
/* E S T I L O S   R E S P O N S I V E */
@media only screen and (min-width:736px)
{
    .THIS {
        display:inline-block;
        padding:0.5em 0;
        margin:0;
	}
    .THIS .rq-user-name{display:block;}
    .THIS .rq-user-name:first-child:after{display:none;}
}