.THIS {
    background-color: #fff;
    box-shadow: 0 1px 2px 0 #e0ded9;
    display: inline-block;
    margin: 0.5rem 0.25rem;
    min-height: 25.875rem;
    position: relative;
    vertical-align: top;
    max-width:275px;
    text-align:left;
}


.THIS .rq-box-figure:after{
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(128, 128, 128, 0), #000000) repeat scroll 0 0;
    content: "";
    height: 50%;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
}

.THIS figure > img{
    display:block;
    width:100%;
    height:auto;
}

.THIS .rq-box-group-container
{
    bottom: 0;
    display: block;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    position: absolute;
    width: 100%;
}

.THIS .rq-box-title
{
    color: #FFF;
    display: block;
    font-family: "Repsol-Sb",Arial,Helvetica,sans-serif;
    font-size: 1.625rem;
    line-height: 0.85;
    padding: 0.9375rem 0;
    position: relative;
    text-align: left;
}


.THIS .rq-button{
    display: inline-block;
    height:2.5rem;
    border-radius: 0.25rem;
    color:#fff;
    position: relative;
    vertical-align: middle;
    width: 9.813rem;
    background: url(../resource/RQO_sr_QuimicaResources/images/arrow-pointing-to-right-b.png) no-repeat 80% center;
    transition:ease 0.8s;
    -moz-transition: 0.8s ease;
    padding:0.25rem 3rem 0.5rem 1rem;
    border:1px solid #fff;
    font-family:Titillium-Sb;
    font-size: 1rem;
    font-weight: normal;
    text-align:center;
}

.THIS .rq-button:hover,
.THIS .rq-button:focus{
    background:#fff url(../resource/RQO_sr_QuimicaResources/images/arrow-pointing-to-right.png) no-repeat 80% center;
   	border:1px solid token(colorGeneral);
    color:token(colorGeneral);
    text-decoration:none;
    transition:ease 0.8s;
    -moz-transition: 0.8s ease;}