.THIS{
    text-align:center;
}
.THIS .rq-title-item
{
  font-family: Titillium-Rg;
  font-size: 0.875em;
  color:token(TextColorGeneral);
  display:block;
}

.THIS .rq-num
{
  font-family: Titillium-Rg;
  font-size: 2.5em;
  color: token(colorGeneral);
  display:block;
}

.THIS .rq-link{
  font-family: Titillium-Rg;
  font-size: 0.875em;
  color: #418080;
  display:block;
  text-decoration:underline;
}
.THIS .rq-link:hover,
.THIS .rq-link:focus
{
    font-weight:bold;
    cursor:pointer;
}