.THIS {
    display:inline-block;
    border:1px solid #afa8a3;
    border-radius:15px;
    padding:0.25em 0;
    background:#fff;
    margin:0.25em;
}
.THIS span{
  font-family: Titillium-Rg;
  font-size: 0.875em;
  color:#6e6259;
  padding-left:0.75em;
}

.THIS button{
    margin:0 0.5em;
    padding:0.25em;
    border:none;
    line-height:0;
    background:none;
}

.THIS button:hover,
.THIS button:focus{
    outline:1px solid #000;
    background:none;
}